openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Location.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Location
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations":
    get:
      description: Get a list of all AzureStack location.
      operationId: Locations_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get a list of all AzureStack location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Get a list of all AzureStack location.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationList"
              examples:
                Get a list of all AzureStack location.:
                  $ref: "#/components/examples/Get_a_list_of_all_AzureStack_locatio\
                    n."
      tags:
        - Locations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}":
    get:
      description: Get the specified location.
      operationId: Locations_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get the specified location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get the specified location.:
              value: local
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Get the specified location.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
              examples:
                Get the specified location.:
                  $ref: "#/components/examples/Get_the_specified_location."
      tags:
        - Locations
    put:
      description: Updates the specified location.
      operationId: Locations_CreateOrUpdate
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Updates the specified location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Updates the specified location.:
              value: local
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Updates the specified location.:
              value: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Location"
        description: The new location
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
              examples:
                Updates the specified location.:
                  $ref: "#/components/examples/Updates_the_specified_location."
      tags:
        - Locations
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}":
    get:
      description: Get the operation status.
      operationId: Locations_GetOperationsStatus
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get the specified operation status.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get the specified operation status.:
              value: local
        - description: The operation status name.
          in: path
          name: operationsStatusName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get the specified operation status.:
              value: subname
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Get the specified operation status.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationsStatus"
              examples:
                Get the specified operation status.:
                  $ref: "#/components/examples/Get_the_specified_operation_status."
        "202":
          description: Accepted
        "204":
          description: Not Content
        "404":
          description: Not Found
      tags:
        - Locations
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Get_a_list_of_all_AzureStack_location.:
      value:
        value:
          - displayName: local
            id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
            latitude: ""
            longitude: ""
            name: local
    Get_the_specified_location.:
      value:
        displayName: local
        id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
        latitude: ""
        longitude: ""
        name: local
    Updates_the_specified_location.:
      value:
        displayName: local
        id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
        latitude: ""
        longitude: ""
        name: local
    Get_the_specified_operation_status.:
      value:
        endTime: 2017-08-01T00:00:00.00Z
        error:
          code: ""
          message: ""
        id:
          location: local
          name: ""
          subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        percentComplete: 0
        properties: {}
        responseContent: {}
        retryAfter: ""
        startTime: 2017-08-01T00:00:00.00Z
        status: ""
        terminalHttpStatusCode: ""
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ExtendedErrorInfo:
      description: The extended error information.
      properties:
        code:
          description: The error code.
          type: string
        details:
          $ref: "#/components/schemas/ExtendedErrorInfoList"
        message:
          description: The error message.
          type: string
    ExtendedErrorInfoList:
      description: List of the extended error information.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of the extended error information.
          items:
            $ref: "#/components/schemas/ExtendedErrorInfo"
          type: array
    Location:
      description: Contains information about a geographical location where resource
        providers can be deployed.
      properties:
        displayName:
          description: Display name of the location.
          type: string
        id:
          description: Location identifier.
          type: string
        latitude:
          description: Latitude of the location.
          type: string
        longitude:
          description: Longitude of the location.
          type: string
        name:
          description: Location name.
          type: string
      type: object
    LocationList:
      description: List of locations.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of locations.
          items:
            $ref: "#/components/schemas/Location"
          type: array
    OperationsStatus:
      description: A long running operation status.
      properties:
        endTime:
          description: The end time of the operation.
          format: date-time
          type: string
        error:
          $ref: "#/components/schemas/ExtendedErrorInfo"
        id:
          $ref: "#/components/schemas/OperationsStatusIdentifier"
        percentComplete:
          description: The completion percentage of the operation.
          type: number
        properties:
          description: The internal operation properties.
          type: object
        responseContent:
          description: The content of the response.
          type: object
        retryAfter:
          description: The amount of time clients should wait..
          type: string
        startTime:
          description: The start time of the operation.
          format: date-time
          type: string
        status:
          description: The status of the operation.
          type: string
        terminalHttpStatusCode:
          description: The terminal http status code for the operation.
          type: string
      type: object
    OperationsStatusIdentifier:
      description: The admin offer identifier for the location wide
        SubscriptionsAdminResourceTypes.OperationsStatus resource type.
      properties:
        location:
          description: The location of the operations status.
          type: string
        name:
          description: The name of the operations status.
          type: string
        subscriptionId:
          description: The subscription identifier..
          type: string
