openapi: 3.0.0
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/location.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerservice-location
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators":
    get:
      description: Gets a list of supported orchestrators in the specified subscription.
        The operation returns properties of each orchestrator including version,
        available upgrades and whether that version or upgrades are in preview.
      operationId: ContainerServices_ListOrchestrators
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/LocationParameter"
        - $ref: "#/components/parameters/ResourceTypeParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrchestratorVersionProfileListResult"
              examples:
                List Container Service Orchestrators:
                  $ref: "#/components/examples/List_Container_Service_Orchestrators"
      summary: Gets a list of supported orchestrators in the specified subscription.
      tags:
        - ContainerServices
servers:
  - url: https://management.azure.com
components:
  examples:
    List_Container_Service_Orchestrators:
      value:
        id: /subscriptions/subid1/providers/Microsoft.ContainerService/locations/location1/orchestrators
        name: default
        properties:
          orchestrators:
            - orchestratorType: DCOS
              orchestratorVersion: 1.10.0
            - orchestratorType: DCOS
              orchestratorVersion: 1.9.0
            - orchestratorType: DCOS
              orchestratorVersion: 1.8.8
            - orchestratorType: Swarm
              orchestratorVersion: swarm:1.1.0
            - orchestratorType: DockerCE
              orchestratorVersion: 17.03.*
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.8.1
              upgrades:
                - orchestratorVersion: 1.8.4
                - orchestratorVersion: 1.8.2
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.9.10
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.9.11
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.10.12
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.10.13
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.9.11
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.10.12
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.10.13
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.10.12
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.10.13
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.11.8
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.11.9
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.10.13
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.11.8
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.11.9
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.11.8
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.11.9
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.12.6
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.12.7
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.11.9
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.12.6
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.12.7
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.12.6
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.12.7
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.13.5
            - default: true
              orchestratorType: Kubernetes
              orchestratorVersion: 1.12.7
              upgrades:
                - isPreview: false
                  orchestratorType: ""
                  orchestratorVersion: 1.13.5
            - orchestratorType: Kubernetes
              orchestratorVersion: 1.13.5
              upgrades:
                - isPreview: true
                  orchestratorType: ""
                  orchestratorVersion: 1.14.0
            - isPreview: true
              orchestratorType: Kubernetes
              orchestratorVersion: 1.14.0
        type: Microsoft.ContainerService/locations/orchestrators
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        List Container Service Orchestrators:
          value: 2019-08-01
    LocationParameter:
      description: The name of a supported Azure region.
      in: path
      name: location
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List Container Service Orchestrators:
          value: location1
    ResourceTypeParameter:
      description: resource type for which the list of orchestrators needs to be returned
      in: query
      name: resource-type
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        List Container Service Orchestrators:
          value: subid1
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OrchestratorProfile:
      description: Contains information about orchestrator.
      properties:
        isPreview:
          description: Whether Kubernetes version is currently in preview.
          type: boolean
        orchestratorType:
          description: Orchestrator type.
          type: string
        orchestratorVersion:
          description: Orchestrator version (major, minor, patch).
          type: string
      required:
        - orchestratorVersion
    OrchestratorVersionProfile:
      description: The profile of an orchestrator and its available versions.
      properties:
        default:
          description: Installed by default if version is not specified.
          type: boolean
        isPreview:
          description: Whether Kubernetes version is currently in preview.
          type: boolean
        orchestratorType:
          description: Orchestrator type.
          type: string
        orchestratorVersion:
          description: Orchestrator version (major, minor, patch).
          type: string
        upgrades:
          description: The list of available upgrade versions.
          items:
            $ref: "#/components/schemas/OrchestratorProfile"
          type: array
      required:
        - orchestratorVersion
        - orchestratorType
    OrchestratorVersionProfileListResult:
      description: The list of versions for supported orchestrators.
      properties:
        id:
          description: Id of the orchestrator version profile list result.
          readOnly: true
          type: string
        name:
          description: Name of the orchestrator version profile list result.
          readOnly: true
          type: string
        properties:
          $ref: "#/components/schemas/OrchestratorVersionProfileProperties"
        type:
          description: Type of the orchestrator version profile list result.
          readOnly: true
          type: string
      required:
        - properties
    OrchestratorVersionProfileProperties:
      description: The properties of an orchestrator version profile.
      properties:
        orchestrators:
          description: List of orchestrator version profiles.
          items:
            $ref: "#/components/schemas/OrchestratorVersionProfile"
          type: array
      required:
        - orchestrators
