openapi: 3.0.0
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: 2016-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/Product.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Product
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products":
    get:
      description: Return product name.
      operationId: Products_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return product name.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: azurestack
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: default
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-01-01
          examples:
            Return product name.:
              value: 2015-06-01-preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResourcesPage"
              examples:
                Return product name.:
                  $ref: "#/components/examples/Return_product_name."
      tags:
        - Products
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}":
    get:
      description: Return product name.
      operationId: Products_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return product name.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: azurestack
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: default
        - description: Name of the product.
          in: path
          name: productName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: Canonical.UbuntuServer1710-ARM.1.0.6
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-01-01
          examples:
            Return product name.:
              value: 2015-06-01-preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResource"
              examples:
                Return product name.:
                  $ref: "#/components/examples/Return_product_name."
        "404":
          description: Not Found
      tags:
        - Products
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}/download":
    post:
      description: Downloads a product from azure marketplace.
      operationId: Products_Download
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return product name.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: azurestack
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: default
        - description: Name of the product.
          in: path
          name: productName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return product name.:
              value: Canonical.UbuntuServer1710-ARM.1.0.6
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-01-01
          examples:
            Return product name.:
              value: 2015-06-01-preview
      responses:
        "200":
          description: Accepted
        "202":
          description: Accepted
        "404":
          description: Not Found
      tags:
        - Products
      x-ms-long-running-operation: true
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Return_product_name.:
      value:
        id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Canonical.UbuntuServer1710-ARM.1.0.6
        name: default/Canonical.UbuntuServer1710-ARM.1.0.6
        properties:
          billingPartNumber: ""
          description: Ubuntu Server 17.10 amd64 20180109 Public Azure, 20180109 Azure
            China, 20180109 Azure Germany. Ubuntu Server is the world's most
            popular Linux for cloud environments. Updates and patches for Ubuntu
            17.10 will be available until July 2018.  Ubuntu Server is the
            perfect virtual machine (VM) platform for all workloads from web
            applications to NoSQL databases and Hadoop. For more information see
            <a href='http://partners.ubuntu.com/microsoft'
            target='_blank'>Ubuntu on Azure</a> and <a
            href='http://juju.ubuntu.com' target='_blank'>using Juju to deploy
            your workloads</a>.<p><h3 class='msportalfx-text-header'>Legal
            Terms</h3></p><p>By clicking the Create button, I acknowledge that I
            am getting this software from Canonical and that the <a
            href='http://www.ubuntu.com/project/about-ubuntu/licensing'
            target='_blank'>legal terms</a> of Canonical apply to it. Microsoft
            does not provide rights for third-party software. Also see the <a
            href='http://www.ubuntu.com/aboutus/privacypolicy'
            target='_blank'>privacy statement</a> from Canonical.</p>
          displayName: Ubuntu Server 17.10
          galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
          iconUris:
            large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
            medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
            small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
            wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
          legalTerms: http://www.ubuntu.com/project/about-ubuntu/licensing
          links:
            - displayName: Linux VM Documentation
              uri: https://docs.microsoft.com/azure/virtual-machines/linux/
            - displayName: Ubuntu Documentation
              uri: https://help.ubuntu.com/17.10/index.html
            - displayName: FAQ
              uri: https://help.ubuntu.com/community/ServerFaq
            - displayName: Pricing details
              uri: http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux
          offer: UbuntuServer
          offerVersion: 1.0.6
          payloadLength: 32212288186
          privacyPolicy: http://www.ubuntu.com/aboutus/privacypolicy
          productKind: VirtualMachine
          productProperties:
            version: 17.10.201801090
          provisioningState: Succeeded
          publisherDisplayName: Canonical
          publisherIdentifier: Canonical
          sku: "17.10"
        type: Microsoft.AzureBridge.Admin/activations/products
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Product:
      allOf:
        - description: Base object for all product classes.
          properties:
            billingPartNumber:
              description: Billing part number.
              type: string
            description:
              description: Description of the product.
              type: string
            displayName:
              description: Name displayed for the product.
              type: string
            galleryItemIdentity:
              description: Gallery item identity.
              type: string
            iconUris:
              description: Icons for the gallery items.
              properties:
                hero:
                  description: The hero (815x290) icon relative path.
                  type: string
                large:
                  description: The large (115x115) icon relative path.
                  type: string
                medium:
                  description: The medium (90x90) icon relative path.
                  type: string
                small:
                  description: The small (40x40) icon relative path.
                  type: string
                wide:
                  description: The wide (255x115) icon relative path.
                  type: string
              type: object
            offer:
              description: Offer name.
              type: string
            offerVersion:
              description: Offer version.
              type: string
            payloadLength:
              description: Size in bytes.
              format: int64
              type: integer
            productKind:
              description: The kind. E.g. VirtualMachineProductProperties.ProductKind or
                WebApp, SolutionTemplate.
              type: string
            productProperties:
              description: Additional properties of the product
              properties:
                version:
                  description: The version of the product
                  type: string
              type: object
            publisherDisplayName:
              description: Name of publisher.
              type: string
            publisherIdentifier:
              description: Publisher identifier.
              type: string
            sku:
              description: Product SKU.
              type: string
          type: object
      description: Properties for a product.
      properties:
        legalTerms:
          description: Legal terms for the product.
          type: string
        links:
          description: List of product links.
          items:
            description: Link to a product.
            properties:
              displayName:
                description: Displayed name of product.
                type: string
              uri:
                description: URI to product.
                type: string
            type: object
          type: array
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        provisioningState:
          description: The provisioning state of the resource.
          enum:
            - Stopped
            - Starting
            - Running
            - Stopping
            - Succeeded
            - Downloading
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        vmExtensionType:
          description: Extension type of the VM.
          type: string
      type: object
    ProductResource:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Location of the resource
              readOnly: true
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key value pairs.
              readOnly: true
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Product resource.
      properties:
        properties:
          $ref: "#/components/schemas/Product"
      type: object
    ProductResourcesPage:
      description: Holds an array of products and the next link.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of products.
          items:
            $ref: "#/components/schemas/ProductResource"
          type: array
