openapi: 3.0.0
info:
  description: The Admin Commerce Management Client.
  title: CommerceManagementClient
  version: 2015-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/CommerceAdmin.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-CommerceAdmin
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/subscriberUsageAggregates":
    get:
      description: Gets a collection of SubscriberUsageAggregates, which are
        UsageAggregates from direct tenants.
      operationId: SubscriberUsageAggregates_List
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ReportedStartTimeParameter"
        - $ref: "#/components/parameters/ReportedEndTimeParameter"
        - $ref: "#/components/parameters/AggregationGranularityParameter"
        - $ref: "#/components/parameters/TenantSubscriptionIdParameter"
        - $ref: "#/components/parameters/ContinuationTokenParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageAggregatePage"
              examples:
                Get the list of usage aggregates for all tenants.:
                  $ref: "#/components/examples/Get_the_list_of_usage_aggregates_for\
                    _all_tenants."
      tags:
        - Commerce
servers:
  - url: https://management.local.azurestack.external
components:
  examples:
    Get_the_list_of_usage_aggregates_for_all_tenants.:
      value:
        nextLink: ""
        value: []
  parameters:
    AggregationGranularityParameter:
      description: The aggregation granularity.
      in: query
      name: aggregationGranularity
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of usage aggregates for all tenants.:
          value: ""
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2015-06-01-preview
      examples:
        Get the list of usage aggregates for all tenants.:
          value: 2015-06-01-preview
    ContinuationTokenParameter:
      description: The continuation token.
      in: query
      name: continuationToken
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of usage aggregates for all tenants.:
          value: ""
    ReportedEndTimeParameter:
      description: The reported end time (exclusive).
      in: query
      name: reportedEndTime
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
      examples:
        Get the list of usage aggregates for all tenants.:
          value: 2017-08-02T00:00:00.00Z
    ReportedStartTimeParameter:
      description: The reported start time (inclusive).
      in: query
      name: reportedStartTime
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
      examples:
        Get the list of usage aggregates for all tenants.:
          value: 2017-08-01T00:00:00.00Z
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        Get the list of usage aggregates for all tenants.:
          value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
    TenantSubscriptionIdParameter:
      description: The tenant subscription identifier.
      in: query
      name: subscriberId
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of usage aggregates for all tenants.:
          value: ""
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location where resource is location.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UsageAggregate:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: Aggregate usage values for resource.
      properties:
        properties:
          $ref: "#/components/schemas/UsageAggregateModel"
      type: object
    UsageAggregateModel:
      description: Properties for aggregate usage.
      properties:
        instanceData:
          description: Key-value pairs of instance details represented as a string.
          type: string
        meterId:
          description: Unique ID for the resource that was consumed (aka ResourceID).
          type: string
        quantity:
          description: The amount of the resource consumption that occurred in this time
            frame.
          type: string
        subscriptionId:
          description: Subscription id of tenant using plan.
          type: string
        usageEndTime:
          description: UTC end time for the usage bucket to which this usage aggregate
            belongs.
          format: date-time
          type: string
        usageStartTime:
          description: UTC start time for the usage bucket to which this usage aggregate
            belongs.
          format: date-time
          type: string
      type: object
    UsageAggregatePage:
      description: Holds an array of usage aggregates and the continuation token.
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: Array of usage aggregates.
          items:
            $ref: "#/components/schemas/UsageAggregate"
          type: array
