openapi: 3.0.0
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: 2018-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/preview/2018-03-01-preview/managementpolicy.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: storage-managementpolicy
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}":
    delete:
      description: Deletes the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_Delete
      parameters:
        - description: The name of the resource group within the user's subscription. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            StorageAccountDeleteManagementPolicies:
              value: res6977
        - description: The name of the storage account within the specified resource group.
            Storage account names must be between 3 and 24 characters in length
            and use numbers and lower-case letters only.
          in: path
          name: accountName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 3
            maxLength: 24
          examples:
            StorageAccountDeleteManagementPolicies:
              value: sto2527
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountDeleteManagementPolicies:
              value: 2018-03-01-preview
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountDeleteManagementPolicies:
              value: "{subscription-id}"
        - $ref: "#/components/parameters/ManagementPolicyName"
      responses:
        "200":
          description: OK -- Delete management policies successfully.
        "204":
          description: No Content -- The management policies does not exist.
      tags:
        - ManagementPolicies
    get:
      description: Gets the data policy rules associated with the specified storage account.
      operationId: ManagementPolicies_Get
      parameters:
        - description: The name of the resource group within the user's subscription. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            StorageAccountGetManagementPolicies:
              value: res6977
        - description: The name of the storage account within the specified resource group.
            Storage account names must be between 3 and 24 characters in length
            and use numbers and lower-case letters only.
          in: path
          name: accountName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 3
            maxLength: 24
          examples:
            StorageAccountGetManagementPolicies:
              value: sto2527
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountGetManagementPolicies:
              value: 2018-03-01-preview
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountGetManagementPolicies:
              value: "{subscription-id}"
        - $ref: "#/components/parameters/ManagementPolicyName"
      responses:
        "200":
          description: OK -- Get management policies successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageAccountManagementPolicies"
              examples:
                StorageAccountGetManagementPolicies:
                  $ref: "#/components/examples/StorageAccountGetManagementPolicies"
      tags:
        - ManagementPolicies
    put:
      description: Sets the data policy rules associated with the specified storage account.
      operationId: ManagementPolicies_CreateOrUpdate
      parameters:
        - description: The name of the resource group within the user's subscription. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            StorageAccountSetManagementPolicies:
              value: res7687
        - description: The name of the storage account within the specified resource group.
            Storage account names must be between 3 and 24 characters in length
            and use numbers and lower-case letters only.
          in: path
          name: accountName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 3
            maxLength: 24
          examples:
            StorageAccountSetManagementPolicies:
              value: sto9699
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountSetManagementPolicies:
              value: 2018-03-01-preview
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            StorageAccountSetManagementPolicies:
              value: "{subscription-id}"
        - $ref: "#/components/parameters/ManagementPolicyName"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagementPoliciesRulesSetParameter"
        description: The data policy rules to set to a storage account.
        required: true
      responses:
        "200":
          description: OK -- Get management policies successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageAccountManagementPolicies"
              examples:
                StorageAccountSetManagementPolicies:
                  $ref: "#/components/examples/StorageAccountSetManagementPolicies"
      tags:
        - ManagementPolicies
servers:
  - url: https://management.azure.com
components:
  examples:
    StorageAccountGetManagementPolicies:
      value:
        id: /subscriptions/{subscription-id}/resourceGroups/res7231/providers/Microsoft.Storage/storageAccounts/sto288/managementPolicies/default
        name: DefaultManagementPolicy
        properties:
          lastModifiedTime: 2018-06-08T03:01:55.7168089Z
          policy:
            rules:
              - definition:
                  actions:
                    baseBlob:
                      delete:
                        daysAfterModificationGreaterThan: 1000
                      tierToArchive:
                        daysAfterModificationGreaterThan: 90
                      tierToCool:
                        daysAfterModificationGreaterThan: 30
                    snapshot:
                      delete:
                        daysAfterCreationGreaterThan: 30
                  filters:
                    blobTypes:
                      - blockBlob
                    prefixMatch:
                      - olcmtestcontainer
                name: olcmtest
                type: Lifecycle
            version: "0.5"
        type: Microsoft.Storage/storageAccounts/managementPolicies
    StorageAccountSetManagementPolicies:
      value:
        id: /subscriptions/{subscription-id}/resourceGroups/res7231/providers/Microsoft.Storage/storageAccounts/sto288/managementPolicies/default
        name: DefaultManagementPolicy
        properties:
          lastModifiedTime: 2018-06-08T02:53:39.0932539Z
          policy:
            rules:
              - definition:
                  actions:
                    baseBlob:
                      delete:
                        daysAfterModificationGreaterThan: 1000
                      tierToArchive:
                        daysAfterModificationGreaterThan: 90
                      tierToCool:
                        daysAfterModificationGreaterThan: 30
                    snapshot:
                      delete:
                        daysAfterCreationGreaterThan: 30
                  filters:
                    blobTypes:
                      - blockBlob
                    prefixMatch:
                      - olcmtestcontainer
                name: olcmtest
                type: Lifecycle
            version: "0.5"
        type: Microsoft.Storage/storageAccounts/managementPolicies
  parameters:
    ManagementPolicyName:
      description: The name of the Storage Account Management Policy. It should always be
        'default'
      in: path
      name: managementPolicyName
      required: true
      x-ms-enum:
        modelAsString: true
        name: ManagementPolicyName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - default
      examples:
        StorageAccountDeleteManagementPolicies:
          value: default
        StorageAccountGetManagementPolicies:
          value: default
        StorageAccountSetManagementPolicies:
          value: default
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ManagementPoliciesRules:
      description: "The Storage Account ManagementPolicies Rules, in JSON format. See more
        details in:
        https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle\
        -managment-concepts."
      properties:
        policy:
          description: "The Storage Account ManagementPolicies Rules, in JSON format. See
            more details in:
            https://docs.microsoft.com/en-us/azure/storage/common/storage-lifec\
            ycle-managment-concepts."
          type: object
    ManagementPoliciesRulesSetParameter:
      description: "The Storage Account ManagementPolicies Rules, in JSON format. See more
        details in:
        https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle\
        -managment-concepts."
      properties:
        properties:
          $ref: "#/components/schemas/ManagementPoliciesRules"
    StorageAccountManagementPolicies:
      allOf:
        - properties:
            id:
              description: Fully qualified resource Id for the resource. Ex -
                /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          x-ms-azure-resource: true
      description: The Get Storage Account ManagementPolicies operation response.
      properties:
        properties:
          $ref: "#/components/schemas/StorageAccountManagementPoliciesRulesProperty"
    StorageAccountManagementPoliciesRulesProperty:
      allOf:
        - $ref: "#/components/schemas/ManagementPoliciesRules"
      description: The Storage Account Data Policies properties.
      properties:
        lastModifiedTime:
          description: Returns the date and time the ManagementPolicies was last modified.
          format: date-time
          readOnly: true
          type: string
