openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2018-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: security-pricings
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings":
    get:
      description: Lists Security Center pricing configurations in the subscription.
      operationId: Pricings_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get pricings on subscription:
              value: 2018-06-01
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          examples:
            Get pricings on subscription:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingList"
              examples:
                Get pricings on subscription:
                  $ref: "#/components/examples/Get_pricings_on_subscription"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Pricings
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}":
    get:
      description: Gets a provided Security Center pricing configuration in the
        subscription.
      operationId: Pricings_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get pricings on subscription:
              value: 2018-06-01
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          examples:
            Get pricings on subscription:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/PricingName"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pricing"
              examples:
                Get pricings on subscription:
                  $ref: "#/components/examples/Get_pricings_on_subscription"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Pricings
    put:
      description: Updates a provided Security Center pricing configuration in the
        subscription.
      operationId: Pricings_Update
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Update pricing on subscription:
              value: 2018-06-01
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          examples:
            Update pricing on subscription:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/PricingName"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pricing"
        description: Pricing object
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pricing"
              examples:
                Update pricing on subscription:
                  $ref: "#/components/examples/Update_pricing_on_subscription"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Pricings
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_pricings_on_subscription:
      value:
        id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
        name: VirtualMachines
        properties:
          pricingTier: Standard
        type: Microsoft.Security/pricings
    Update_pricing_on_subscription:
      value:
        id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
        name: VirtualMachines
        properties:
          pricingTier: Standard
        type: Microsoft.Security/pricings
  parameters:
    PricingName:
      description: name of the pricing configuration
      in: path
      name: pricingName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get pricings on subscription:
          value: VirtualMachines
        Update pricing on subscription:
          value: VirtualMachines
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Pricing:
      allOf:
        - description: Describes an Azure resource.
          properties:
            id:
              description: Resource Id
              readOnly: true
              type: string
            name:
              description: Resource name
              readOnly: true
              type: string
            type:
              description: Resource type
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: "Azure Security Center is provided in two pricing tiers: free and
        standard, with the standard tier available with a trial period. The
        standard tier offers advanced security capabilities, while the free tier
        offers basic security features."
      properties:
        properties:
          $ref: "#/components/schemas/PricingProperties"
      type: object
    PricingList:
      description: List of pricing configurations response.
      properties:
        value:
          description: List of pricing configurations
          items:
            $ref: "#/components/schemas/Pricing"
          type: array
      required:
        - value
    PricingProperties:
      description: Pricing properties for the relevant scope
      properties:
        freeTrialRemainingTime:
          description: The duration left for the subscriptions free trial period - in ISO
            8601 format (e.g. P3Y6M4DT12H30M5S).
          format: duration
          readOnly: true
          type: string
        pricingTier:
          description: "The pricing tier value. Azure Security Center is provided in two
            pricing tiers: free and standard, with the standard tier available
            with a trial period. The standard tier offers advanced security
            capabilities, while the free tier offers basic security features."
          enum:
            - Free
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: pricingTier
            values:
              - description: Get free Azure security center experience with basic security
                  features
                value: Free
              - description: Get the standard Azure security center experience with
                  advanced security features
                value: Standard
      required:
        - pricingTier
      type: object
