openapi: 3.0.0
info:
  description: Storage system operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StorageSystem.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-StorageSystem
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems":
    get:
      description: Returns a list of all storage subsystems for a location.
      operationId: StorageSystems_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all storage subsystems for a location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageSystemList"
              examples:
                Returns a list of all storage subsystems for a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_subsys\
                    tems_for_a_location."
        "404":
          description: NOT FOUND
      tags:
        - StorageSystems
      x-ms-odata: "#/components/schemas/StorageSystem"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}":
    get:
      description: Return the requested storage subsystem.
      operationId: StorageSystems_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: local
        - $ref: "#/components/parameters/StorageSubSystemParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Return the requested storage subsystem.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageSystem"
              examples:
                Return the requested storage subsystem.:
                  $ref: "#/components/examples/Return_the_requested_storage_subsyst\
                    em."
        "404":
          description: NOT FOUND
      tags:
        - StorageSystems
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_subsystems_for_a_location.:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local
            location: local
            name: S-Cluster.azurestack.local
            properties:
              totalCapacityGB: 2540
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems
    Return_the_requested_storage_subsystem.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local
        location: local
        name: S-Cluster.azurestack.local
        properties:
          totalCapacityGB: 2540
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems
  parameters:
    StorageSubSystemParameter:
      description: Name of the storage system.
      in: path
      name: storageSubSystem
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested storage subsystem.:
          value: S-Cluster.azurestack.local
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    StorageSystem:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a storage system resource.
      properties:
        properties:
          $ref: "#/components/schemas/StorageSystemModel"
      type: object
    StorageSystemList:
      description: Pageable list of storage systems.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage systems.
          items:
            $ref: "#/components/schemas/StorageSystem"
          type: array
      type: object
    StorageSystemModel:
      description: All properties of a storage system.
      properties:
        totalCapacityGB:
          description: Total capacity of the system.
          format: int32
          type: integer
      type: object
