openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2017-08-01/complianceResults.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-complianceResults
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{resourceId}/providers/Microsoft.Security/complianceResults/{complianceResultName}":
    get:
      description: Security Compliance Result
      operationId: ComplianceResults_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get compliance results on subscription:
              value: 2017-08-01
        - description: The identifier of the resource.
          in: path
          name: resourceId
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get compliance results on subscription:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/ComplianceResultName"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceResult"
              examples:
                Get compliance results on subscription:
                  $ref: "#/components/examples/Get_compliance_results_on_subscripti\
                    on"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Compliance Results
  "/{scope}/providers/Microsoft.Security/complianceResults":
    get:
      description: Security compliance results in the subscription
      operationId: ComplianceResults_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get compliance results on subscription:
              value: 2017-08-01
        - description: Scope of the query, can be subscription
            (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management
            group (/providers/Microsoft.Management/managementGroups/mgName).
          in: path
          name: scope
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get compliance results on subscription:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceResultList"
              examples:
                Get compliance results on subscription:
                  $ref: "#/components/examples/Get_compliance_results_on_subscripti\
                    on"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Compliance Results
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_compliance_results_on_subscription:
      value:
        value:
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/DesignateMoreThanOneOwner
            name: DesignateMoreThanOneOwner
            properties:
              resourceStatus: Healthy
            type: Microsoft.Security/complianceResults
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/RemoveExternalAccountsWithReadPermissions
            name: RemoveExternalAccountsWithReadPermissions
            properties:
              resourceStatus: NotHealthy
            type: Microsoft.Security/complianceResults
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/RemoveDeprecatedAccounts
            name: RemoveDeprecatedAccounts
            properties:
              resourceStatus: Healthy
            type: Microsoft.Security/complianceResults
  parameters:
    ComplianceResultName:
      description: name of the desired assessment compliance result
      in: path
      name: complianceResultName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get compliance results on subscription:
          value: DesignateMoreThanOneOwner
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ComplianceResult:
      allOf:
        - description: Describes an Azure resource.
          properties:
            id:
              description: Resource Id
              readOnly: true
              type: string
            name:
              description: Resource name
              readOnly: true
              type: string
            type:
              description: Resource type
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: a compliance result
      properties:
        properties:
          $ref: "#/components/schemas/ComplianceResultProperties"
      type: object
    ComplianceResultList:
      description: List of compliance results response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of compliance results
          items:
            $ref: "#/components/schemas/ComplianceResult"
          type: array
      required:
        - value
    ComplianceResultProperties:
      description: Compliance result data
      properties:
        resourceStatus:
          description: The status of the resource regarding a single assessment
          enum:
            - Healthy
            - NotApplicable
            - OffByPolicy
            - NotHealthy
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: resourceStatus
            values:
              - description: This assessment on the resource is healthy
                value: Healthy
              - description: This assessment is not applicable to this resource
                value: NotApplicable
              - description: This assessment is turned off by policy on this subscription
                value: OffByPolicy
              - description: This assessment on the resource is not healthy
                value: NotHealthy
      type: object
