openapi: 3.0.0
info:
  description: Public IP Address admin endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/PublicIpAddresses.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-PublicIpAddresses
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminPublicIpAddresses":
    get:
      description: List of public ip addresses.
      operationId: PublicIPAddresses_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            List of public ip addresses:
              value: fc8456aa-4843-4079-a152-f3497c63aa73
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-06-15
          examples:
            List of public ip addresses:
              value: 2015-06-15
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData orderBy parameter.
          in: query
          name: $orderBy
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData top parameter.
          in: query
          name: $top
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData skip parameter.
          in: query
          name: $skip
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData inline count parameter.
          in: query
          name: $inlineCount
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIpAddressList"
              examples:
                List of public ip addresses:
                  $ref: "#/components/examples/List_of_public_ip_addresses"
      tags:
        - PublicIpAddresses
      x-ms-odata: "#/components/schemas/PublicIpAddress"
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    List_of_public_ip_addresses:
      value:
        value:
          - id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminPublicIPAddresses/192.168.1.2
            location: ""
            name: 192.168.1.2
            properties:
              allocationMethod: Static
              ipAddress: 192.168.102.32
              ipPool: 5e85a60b-1da2-45e2-8780-11617421a708
              provisioningState: Succeeded
              subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
              tenantResourceUri: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/publicIPAddresses/192.168.1.2
            type: Microsoft.Network.Admin/adminPublicIPAddresses
  parameters:
    PublicIpAddressParameter:
      description: Public IP address parameter.
      in: path
      name: publicIpAddress
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PublicIPAddressProperties:
      allOf:
        - description: Objects which have a provisioning state.
          properties:
            provisioningState:
              description: The provisioning state.
              readOnly: true
              type: string
          type: object
        - description: These resources are utilized by a single tenant.
          properties:
            subscriptionId:
              description: The subscription ID.
              readOnly: true
              type: string
            tenantResourceUri:
              description: The tenant resource URI.
              readOnly: true
              type: string
          type: object
      description: Properties of a public IP Address.
      properties:
        allocationMethod:
          description: The allocation method.
          enum:
            - Dynamic
            - Static
          type: string
          x-ms-enum:
            modelAsString: true
            name: AllocationMethodType
        ipAddress:
          description: The IP address.
          type: string
        ipPool:
          description: The IP pool.
          type: string
      type: object
    PublicIpAddress:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Region location of resource.
              readOnly: true
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This resource represents an IP Address.
      properties:
        properties:
          $ref: "#/components/schemas/PublicIPAddressProperties"
      type: object
    PublicIpAddressList:
      description: Pageable list of public ip addresses.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of public ip addresses for this page.
          items:
            $ref: "#/components/schemas/PublicIpAddress"
          type: array
      type: object
