openapi: 3.0.0
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2019-08-08-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/acquisitions.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-acquisitions
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/acquisitions":
    get:
      description: Returns a list of BLOB acquisitions.
      operationId: Acquisitions_List
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of page BLOB acquisitions.:
              value: 9ad61516-995c-4873-a21f-7e44904f0ed2
        - description: Resource location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of page BLOB acquisitions.:
              value: local
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Returns a list of page BLOB acquisitions.:
              value: 2019-08-08-preview
      responses:
        "200":
          description: OK -- The list of acquisitions has been returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcquisitionList"
              examples:
                Returns a list of page BLOB acquisitions.:
                  $ref: "#/components/examples/Returns_a_list_of_page_BLOB_acquisit\
                    ions."
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                properties:
                  code:
                    description: The error description code.
                    readOnly: true
                    type: string
                  details:
                    description: The error details information.
                    items:
                      type: string
                    readOnly: true
                    type: array
                  message:
                    description: The error description message.
                    readOnly: true
                    type: string
                  target:
                    description: The error target description.
                    readOnly: true
                    type: string
                type: object
      tags:
        - Acquisitions
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_page_BLOB_acquisitions.:
      value:
        value: []
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Acquisition:
      description: The acquisition of the page BLOB.
      properties:
        acquisitionid:
          description: The ID of page BLOB acquisition.
          readOnly: true
          type: string
        blob:
          description: The name of the page BLOB.
          readOnly: true
          type: string
        container:
          description: The container associated with the page BLOB.
          readOnly: true
          type: string
        filePath:
          description: The file path of the page BLOB file on storage cluster.
          readOnly: true
          type: string
        filePathUnc:
          description: The file path unc of the page BLOB file on storage cluster.
          readOnly: true
          type: string
        maximumblobsize:
          description: The maximum size of the page BLOB.
          format: int64
          readOnly: true
          type: integer
        status:
          $ref: "#/components/schemas/AcquisitionStatus"
        storageaccount:
          description: The storage account that holds the page BLOB.
          readOnly: true
          type: string
        susbcriptionid:
          description: ID of the subscription associated with the page BLOB.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    AcquisitionList:
      description: The list of page BLOB acquisitions.
      properties:
        value:
          description: List of acquisitions.
          items:
            $ref: "#/components/schemas/Acquisition"
          readOnly: true
          type: array
      type: object
    AcquisitionStatus:
      description: The status of page BLOB acquisition.
      enum:
        - Unknown
        - NotAcquired
        - Pending
        - Success
        - Failed
      type: string
      x-ms-enum:
        modelAsString: true
        name: AcquisitionStatus
