openapi: 3.0.0
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/endpointService.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-endpointService
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices":
    get:
      description: List what values of endpoint services are available for use.
      operationId: AvailableEndpointServices_List
      parameters:
        - description: The location to check available endpoint services.
          in: path
          name: location
          required: true
          schema:
            type: string
          examples:
            EndpointServicesList:
              value: westus
        - description: Client API version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            EndpointServicesList:
              value: 2019-06-01
        - description: The subscription credentials which uniquely identify the Microsoft
            Azure subscription. The subscription ID forms part of the URI for
            every service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            EndpointServicesList:
              value: subid
      responses:
        "200":
          description: Request successful. Returns list of available endpoint services.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndpointServicesListResult"
              examples:
                EndpointServicesList:
                  $ref: "#/components/examples/EndpointServicesList"
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  examples:
    EndpointServicesList:
      value:
        value:
          - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Storage
            name: Microsoft.Storage
            type: Microsoft.Network/virtualNetworkEndpointServices
          - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Sql
            name: Microsoft.Sql
            type: Microsoft.Network/virtualNetworkEndpointServices
          - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.AzureActiveDirectory
            name: Microsoft.AzureActiveDirectory
            type: Microsoft.Network/virtualNetworkEndpointServices
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    EndpointServiceResult:
      allOf:
        - description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
      description: Endpoint service.
      properties:
        name:
          description: Name of the endpoint service.
          readOnly: true
          type: string
        type:
          description: Type of the endpoint service.
          readOnly: true
          type: string
    EndpointServicesListResult:
      description: Response for the ListAvailableEndpointServices API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: List of available endpoint services in a region.
          items:
            $ref: "#/components/schemas/EndpointServiceResult"
          type: array
