openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2017-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-metricNamespaces_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{resourceUri}/providers/microsoft.insights/metricNamespaces":
    get:
      description: Lists the metric namespaces for the resource.
      operationId: MetricNamespaces_List
      parameters:
        - $ref: "#/components/parameters/ResourceUriParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/StartTimeParameter"
      responses:
        "200":
          description: Successful request to get the list of metric namespaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricNamespaceCollection"
              examples:
                Get Metric Namespaces without filter:
                  $ref: "#/components/examples/Get_Metric_Namespaces_without_filter"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - metricNamespaces
      x-ms-pageable: {}
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_Metric_Namespaces_without_filter:
      value:
        value:
          - id: /subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb/providers/microsoft.insights/metricNamespaces/Microsoft.DocumentDB-databaseAccounts
            name: Microsoft.DocumentDB-databaseAccounts
            properties:
              metricNamespaceName: Microsoft.DocumentDB/databaseAccounts
            type: Microsoft.Insights/metricNamespaces
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get Metric Namespaces without filter:
          value: 2017-12-01-preview
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
      examples:
        Get Metric Namespaces without filter:
          value: subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb
    StartTimeParameter:
      description: The ISO 8601 conform Date start time from which to query for metric
        namespaces.
      in: query
      name: startTime
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric Namespaces without filter:
          value: 2018-08-31T15:53:00Z
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    MetricNamespace:
      description: Metric namespace class specifies the metadata for a metric namespace.
      properties:
        id:
          description: The ID of the metricNamespace.
          type: string
        name:
          description: The name of the namespace.
          type: string
        properties:
          $ref: "#/components/schemas/MetricNamespaceName"
        type:
          description: The type of the namespace.
          type: string
      type: object
    MetricNamespaceCollection:
      description: Represents collection of metric namespaces.
      properties:
        value:
          description: The values for the metric namespaces.
          items:
            $ref: "#/components/schemas/MetricNamespace"
          type: array
      required:
        - value
    MetricNamespaceName:
      description: The fully qualified metric namespace name.
      properties:
        metricNamespaceName:
          description: The metric namespace name.
          type: string
