openapi: 3.0.0
info:
  title: GuestConfiguration
  version: 2018-06-30-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/guestconfiguration_NotImplemented.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: guestconfiguration-guestconfiguration_NotImplemented
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}":
    delete:
      description: Delete a guest configuration assignment
      operationId: GuestConfigurationAssignments_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            pattern: ^[-\w\._]+$
          examples:
            Delete an guest configuration assignment:
              value: myResourceGroupName
        - description: Name of the guest configuration assignment
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
          examples:
            Delete an guest configuration assignment:
              value: SecureProtocol
        - description: Subscription ID which uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Delete an guest configuration assignment:
              value: mySubscriptionId
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Delete an guest configuration assignment:
              value: myVMName
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Delete an guest configuration assignment:
              value: 2018-06-30-preview
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response of an operation failure
                properties:
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      tags:
        - GuestConfigurationAssignments
      x-ms-long-running-operation: true
servers:
  - url: https://management.azure.com
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
