openapi: 3.0.0
info:
  description: Subscription client provides an interface to create and manage Azure
    subscriptions programmatically.
  title: SubscriptionClient
  version: 2019-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel":
    post:
      description: The operation to cancel a subscription
      operationId: Subscriptions_Cancel
      parameters:
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CanceledSubscriptionId"
              examples:
                cancelSubscription:
                  $ref: "#/components/examples/cancelSubscription"
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/enable":
    post:
      description: The operation to enable a subscription
      operationId: Subscriptions_Enable
      parameters:
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnabledSubscriptionId"
              examples:
                enableSubscription:
                  $ref: "#/components/examples/enableSubscription"
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/rename":
    post:
      description: The operation to rename a subscription
      operationId: Subscriptions_Rename
      parameters:
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionName"
        description: Subscription Name
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenamedSubscriptionId"
              examples:
                renameSubscription:
                  $ref: "#/components/examples/renameSubscription"
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
servers:
  - url: https://management.azure.com
components:
  examples:
    cancelSubscription:
      value:
        value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
    enableSubscription:
      value:
        value: 7948bcee-488c-47ce-941c-38e20ede803d
    renameSubscription:
      value:
        value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. Current version
        is 2019-03-01-preview
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        cancelSubscription:
          value: 2019-03-01-preview
        enableSubscription:
          value: 2019-03-01-preview
        renameSubscription:
          value: 2019-03-01-preview
    subscriptionIdParameter:
      description: Subscription Id.
      in: path
      name: subscriptionId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        cancelSubscription:
          value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
        enableSubscription:
          value: 7948bcee-488c-47ce-941c-38e20ede803d
        renameSubscription:
          value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CanceledSubscriptionId:
      description: The ID of the canceled subscription
      properties:
        value:
          description: The ID of the canceled subscription
          readOnly: true
          type: string
    EnabledSubscriptionId:
      description: The ID of the subscriptions that is being enabled
      properties:
        value:
          description: The ID of the subscriptions that is being enabled
          readOnly: true
          type: string
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Operation:
      description: REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: "Operation type: Read, write, delete, etc."
              type: string
            provider:
              description: "Service provider: Microsoft.Subscription"
              type: string
            resource:
              description: "Resource on which the operation is performed: Profile,
                endpoint, etc."
              type: string
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
    RenamedSubscriptionId:
      description: The ID of the subscriptions that is being renamed
      properties:
        value:
          description: The ID of the subscriptions that is being renamed
          readOnly: true
          type: string
    SubscriptionName:
      description: The new name of the subscription.
      properties:
        subscriptionName:
          description: New subscription name
          type: string
      type: object
