openapi: 3.0.0
info:
  description: File share operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FileShare.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FileShare
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares":
    get:
      description: Returns a list of all fabric file shares at a certain location.
      operationId: FileShares_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all fabric file shares at a certain location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all fabric file shares at a certain location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all fabric file shares at a certain location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all fabric file shares at a certain location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileShareList"
              examples:
                Returns a list of all fabric file shares at a certain location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_fabric_file_sh\
                    ares_at_a_certain_location."
        "404":
          description: NOT FOUND
      tags:
        - FileShares
      x-ms-odata: "#/components/schemas/FileShare"
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares/{fileShare}":
    get:
      description: Returns the requested fabric file share.
      operationId: FileShares_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested fabric file share.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested fabric file share.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested fabric file share.:
              value: local
        - $ref: "#/components/parameters/FileShareParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested fabric file share.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileShare"
              examples:
                Returns the requested fabric file share.:
                  $ref: "#/components/examples/Returns_the_requested_fabric_file_sh\
                    are."
        "404":
          description: NOT FOUND
      tags:
        - FileShares
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_fabric_file_shares_at_a_certain_location.:
      value:
        value:
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_1
            location: local
            name: SU1_Infrastructure_1
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_2
            location: local
            name: SU1_Infrastructure_2
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_2
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_3
            location: local
            name: SU1_Infrastructure_3
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_3
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_ObjStore
            location: local
            name: SU1_ObjStore
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Public
            location: local
            name: SU1_Public
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Public
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp
            location: local
            name: SU1_VmTemp
            properties:
              associatedVolume: 05c1cbb7
              uncPath: \\\\SU1FileServer.azurestack.local\\SU1_VmTemp
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/fileShares
    Returns_the_requested_fabric_file_share.:
      value:
        id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp
        location: local
        name: SU1_VmTemp
        properties:
          associatedVolume: 05c1cbb7
          uncPath: \\\\SU1FileServer.azurestack.local\\SU1_VmTemp
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/fileShares
  parameters:
    FileShareParameter:
      description: Fabric file share name.
      in: path
      name: fileShare
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested fabric file share.:
          value: SU1_Public
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    FileShare:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Object that contains properties of the file share resource.
      properties:
        properties:
          $ref: "#/components/schemas/FileShareModel"
      type: object
    FileShareList:
      description: Pageable list of fabric file share locations.
      properties:
        value:
          description: List of fabric file shares.
          items:
            $ref: "#/components/schemas/FileShare"
          type: array
      type: object
    FileShareModel:
      description: Properties of a file share resource.
      properties:
        associatedVolume:
          description: Associated volume ID.
          type: string
        uncPath:
          description: The UNCPath for the fileshare.
          type: string
      type: object
