openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/advancedThreatProtectionSettings.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-advancedThreatProtectionSettings
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}":
    get:
      description: Gets the Advanced Threat Protection settings for the specified resource.
      operationId: AdvancedThreatProtection_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Gets the Advanced Threat Protection settings for the specified resource.:
              value: 2017-08-01-preview
        - description: The identifier of the resource.
          in: path
          name: resourceId
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Gets the Advanced Threat Protection settings for the specified resource.:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
        - $ref: "#/components/parameters/AdvancedThreatProtectionSettingName"
      responses:
        "200":
          description: Successful request to get Advanced Threat Protection settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvancedThreatProtectionSetting"
              examples:
                Gets the Advanced Threat Protection settings for the specified resource.:
                  $ref: "#/components/examples/Gets_the_Advanced_Threat_Protection_\
                    settings_for_the_specified_resource."
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - AdvancedThreatProtection
    put:
      description: Creates or updates the Advanced Threat Protection settings on a
        specified resource.
      operationId: AdvancedThreatProtection_Create
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Creates or updates the Advanced Threat Protection settings on a specified resource.:
              value: 2017-08-01-preview
        - description: The identifier of the resource.
          in: path
          name: resourceId
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Creates or updates the Advanced Threat Protection settings on a specified resource.:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
        - $ref: "#/components/parameters/AdvancedThreatProtectionSettingName"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvancedThreatProtectionSetting"
        description: Advanced Threat Protection Settings
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: Successful request to put Advanced Threat Protection settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvancedThreatProtectionSetting"
              examples:
                Creates or updates the Advanced Threat Protection settings on a specified resource.:
                  $ref: "#/components/examples/Creates_or_updates_the_Advanced_Thre\
                    at_Protection_settings_on_a_specified_resource."
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - AdvancedThreatProtection
servers:
  - url: https://management.azure.com
components:
  examples:
    Gets_the_Advanced_Threat_Protection_settings_for_the_specified_resource.:
      value:
        id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
        name: current
        properties:
          isEnabled: true
        type: Microsoft.Security/advancedThreatProtectionSettings
    Creates_or_updates_the_Advanced_Threat_Protection_settings_on_a_specified_resource.:
      value:
        id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
        name: current
        properties:
          isEnabled: true
        type: Microsoft.Security/advancedThreatProtectionSettings
  parameters:
    AdvancedThreatProtectionSettingName:
      description: Advanced Threat Protection setting name.
      in: path
      name: settingName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - current
      examples:
        Gets the Advanced Threat Protection settings for the specified resource.:
          value: current
        Creates or updates the Advanced Threat Protection settings on a specified resource.:
          value: current
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AdvancedThreatProtectionProperties:
      description: The Advanced Threat Protection settings.
      properties:
        isEnabled:
          description: Indicates whether Advanced Threat Protection is enabled.
          type: boolean
    AdvancedThreatProtectionSetting:
      allOf:
        - description: Describes an Azure resource.
          properties:
            id:
              description: Resource Id
              readOnly: true
              type: string
            name:
              description: Resource name
              readOnly: true
              type: string
            type:
              description: Resource type
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: The Advanced Threat Protection resource.
      properties:
        properties:
          $ref: "#/components/schemas/AdvancedThreatProtectionProperties"
      type: object
