openapi: 3.0.0
info:
  description: Azure Virtual Machine Serial Console allows you to access serial console of
    a Virtual Machine
  title: MicrosoftSerialConsoleClient
  version: 2018-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/serialconsole.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: serialconsole
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}":
    get:
      description: Gets if Serial Console is disabled for a subscription.
      operationId: ListConsole_Disabled
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/default"
      responses:
        "200":
          description: OK - Returns a JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDisabledResult"
              examples:
                Get whether or not Serial Console is disabled and receive error:
                  $ref: "#/components/examples/Get_whether_or_not_Serial_Console_is\
                    _disabled_and_receive_error"
                Successfully get whether or not Serial Console is disabled:
                  $ref: "#/components/examples/Successfully_get_whether_or_not_Seri\
                    al_Console_is_disabled"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentValidateResult"
              examples:
                Get whether or not Serial Console is disabled and receive error:
                  $ref: "#/components/examples/Get_whether_or_not_Serial_Console_is\
                    _disabled_and_receive_error"
                Successfully get whether or not Serial Console is disabled:
                  $ref: "#/components/examples/Successfully_get_whether_or_not_Seri\
                    al_Console_is_disabled"
      tags:
        - ConsoleDisabled
  "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/disableConsole":
    post:
      description: Disables Serial Console for a subscription
      operationId: Console_DisableConsole
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/default"
      responses:
        "200":
          description: OK - Serial Console disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetDisabledResult"
              examples:
                Disable console with error:
                  $ref: "#/components/examples/Disable_console_with_error"
                Enable console successfully:
                  $ref: "#/components/examples/Enable_console_successfully"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentValidateResult"
              examples:
                Disable console with error:
                  $ref: "#/components/examples/Disable_console_with_error"
                Enable console successfully:
                  $ref: "#/components/examples/Enable_console_successfully"
      tags:
        - DisableConsole
  "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/enableConsole":
    post:
      description: Enables Serial Console for a subscription
      operationId: Console_EnableConsole
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/default"
      responses:
        "200":
          description: OK - Serial Console disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetDisabledResult"
              examples:
                Enable console successfully:
                  $ref: "#/components/examples/Enable_console_successfully"
                Enable console with error:
                  $ref: "#/components/examples/Enable_console_with_error"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentValidateResult"
              examples:
                Enable console successfully:
                  $ref: "#/components/examples/Enable_console_successfully"
                Enable console with error:
                  $ref: "#/components/examples/Enable_console_with_error"
      tags:
        - EnableConsole
  "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/operations":
    get:
      description: Gets a list of Serial Console API operations.
      operationId: List_Operations
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK - returns a JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SerialConsoleOperations"
              examples:
                List all Serial Console management operations supported by Serial Console RP:
                  $ref: "#/components/examples/List_all_Serial_Console_management_o\
                    perations_supported_by_Serial_Console_RP"
      tags:
        - SerialConsole
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_whether_or_not_Serial_Console_is_disabled_and_receive_error:
      value:
        errorMessage: This message contains details on failure
    Successfully_get_whether_or_not_Serial_Console_is_disabled:
      value:
        errorMessage: This message contains details on failure
    Disable_console_with_error:
      value:
        errorMessage: This message will contain details on failure
    Enable_console_successfully:
      value:
        errorMessage: This message will contain details on failure
    Enable_console_with_error:
      value:
        errorMessage: This message will contain details on failure
    List_all_Serial_Console_management_operations_supported_by_Serial_Console_RP:
      value:
        value: Get operations response
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get whether or not Serial Console is disabled and receive error:
          value: 2018-05-01
        Successfully get whether or not Serial Console is disabled:
          value: 2018-05-01
        Disable console with error:
          value: 2018-05-01
        Enable console successfully:
          value: 2018-05-01
        Enable console with error:
          value: 2018-05-01
        List all Serial Console management operations supported by Serial Console RP:
          value: 2018-05-01
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        Get whether or not Serial Console is disabled and receive error:
          value: 00000000-00000-0000-0000-000000000000
        Successfully get whether or not Serial Console is disabled:
          value: 00000000-00000-0000-0000-000000000000
        Disable console with error:
          value: 00000000-00000-0000-0000-000000000000
        Enable console successfully:
          value: 00000000-00000-0000-0000-000000000000
        Enable console with error:
          value: 00000000-00000-0000-0000-000000000000
        List all Serial Console management operations supported by Serial Console RP:
          value: 00000000-00000-0000-0000-000000000000
    default:
      description: Default string modeled as parameter for URL to work correctly.
      in: path
      name: default
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - default
      examples:
        Get whether or not Serial Console is disabled and receive error:
          value: default
        Successfully get whether or not Serial Console is disabled:
          value: default
        Disable console with error:
          value: default
        Enable console successfully:
          value: default
        Enable console with error:
          value: default
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DeploymentValidateResult:
      description: Details on Failure
      properties:
        errorMessage:
          description: Error message
          type: string
      title: Details on Failure
    GetDisabledResult:
      description: Returns whether or not Serial Console is disabled for this given
        subscription
      properties:
        disabled:
          description: Disabled result
          type: boolean
      title: Get Disabled result
    SerialConsoleGetResult:
      description: Returns whether or not Serial Console is disabled.
      properties:
        value:
          description: Whether or not Serial Console is disabled.
          type: boolean
      title: Serial Console GET Result
    SerialConsoleOperations:
      description: Serial Console operations
      properties:
        value:
          description: Serial Console operations
          type: string
      title: Serial Console operations
      type: object
    SetDisabledResult:
      description: Sets disable status and returns whether or not Serial Console is now
        disabled for this given subscription
      properties:
        disabled:
          description: Disabled result
          type: boolean
      title: Set Disabled result
