openapi: 3.0.0
info:
  description: Azure Blueprints Client provides access to blueprint definitions,
    assignments, and artifacts, and related blueprint operations.
  title: BlueprintClient
  version: 2018-11-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: blueprint-blueprintAssignment
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{scope}/providers/Microsoft.Blueprint/blueprintAssignments":
    get:
      description: List blueprint assignments within a subscription.
      operationId: Assignments_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ScopeParameter"
      responses:
        "200":
          description: OK -- all blueprint assignments retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignmentList"
              examples:
                Assignment:
                  $ref: "#/components/examples/Assignment"
      tags:
        - Assignment
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}":
    delete:
      description: Delete a blueprint assignment.
      operationId: Assignments_Delete
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ScopeParameter"
        - $ref: "#/components/parameters/AssignmentNameParameter"
      responses:
        "202":
          description: OK -- blueprint assignment deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assignment"
              examples:
                Assignment_Delete:
                  $ref: "#/components/examples/Assignment_Delete"
        "204":
          description: No Content
      tags:
        - Assignment
    get:
      description: Get a blueprint assignment.
      operationId: Assignments_Get
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ScopeParameter"
        - $ref: "#/components/parameters/AssignmentNameParameter"
      responses:
        "200":
          description: OK -- blueprint assignment retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assignment"
              examples:
                Assignment:
                  $ref: "#/components/examples/Assignment"
      tags:
        - Assignment
    put:
      description: Create or update a blueprint assignment.
      operationId: Assignments_CreateOrUpdate
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ScopeParameter"
        - $ref: "#/components/parameters/AssignmentNameParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Assignment"
        description: Blueprint assignment object to save.
        required: true
      responses:
        "201":
          description: Created -- blueprint assignment saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assignment"
              examples:
                Assignment with system-assigned managed identity:
                  $ref: "#/components/examples/Assignment_with_system-assigned_mana\
                    ged_identity"
                Assignment with user-assigned managed identity:
                  $ref: "#/components/examples/Assignment_with_user-assigned_manage\
                    d_identity"
      tags:
        - Assignment
  "/{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/WhoIsBlueprint":
    post:
      description: Get Blueprints service SPN objectId
      operationId: Assignments_WhoIsBlueprint
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ScopeParameter"
        - $ref: "#/components/parameters/AssignmentNameParameter"
      responses:
        "200":
          description: Blueprints service SPN objectId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoIsBlueprintContract"
              examples:
                WhoIsBlueprint_Action:
                  $ref: "#/components/examples/WhoIsBlueprint_Action"
servers:
  - url: https://management.azure.com
components:
  examples:
    Assignment:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
        identity:
          principalId: 00000000-0000-0000-0000-000000000000
          tenantId: 00000000-0000-0000-0000-000000000000
          type: SystemAssigned
        location: eastus
        name: assignSimpleBlueprint
        properties:
          blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
          description: enforce pre-defined simpleBlueprint to this XXXXXXXX subscription.
          parameters:
            costCenter:
              value: Contoso/Online/Shopping/Production
            owners:
              value:
                - johnDoe@contoso.com
                - johnsteam@contoso.com
            storageAccountType:
              value: Standard_LRS
          provisioningState: succeed
          resourceGroups:
            storageRG:
              location: eastus
              name: defaultRG
        type: Microsoft.Blueprint/Assignment
    Assignment_Delete:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
        identity:
          principalId: 00000000-0000-0000-0000-000000000000
          tenantId: 00000000-0000-0000-0000-000000000000
          type: SystemAssigned
        location: eastus
        name: assignSimpleBlueprint
        properties:
          blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
          description: enforce pre-defined simpleBlueprint to this XXXXXXXX subscription.
          parameters:
            costCenter:
              value: Contoso/Online/Shopping/Production
            owners:
              value:
                - johnDoe@contoso.com
                - johnsteam@contoso.com
            storageAccountType:
              value: Standard_LRS
          provisioningState: deleting
          resourceGroups:
            storageRG:
              location: eastus
              name: defaultRG
        type: Microsoft.Blueprint/Assignment
    Assignment_with_system-assigned_managed_identity:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
        identity:
          principalId: 00000000-0000-0000-0000-000000000000
          tenantId: 00000000-0000-0000-0000-000000000000
          type: SystemAssigned
        location: eastus
        name: assignSimpleBlueprint
        properties:
          blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
          description: enforce pre-defined simpleBlueprint to this XXXXXXXX subscription.
          parameters:
            costCenter:
              value: Contoso/Online/Shopping/Production
            owners:
              value:
                - johnDoe@contoso.com
                - johnsteam@contoso.com
            storageAccountType:
              value: Standard_LRS
          provisioningState: creating
          resourceGroups:
            storageRG:
              location: eastus
              name: defaultRG
        type: Microsoft.Blueprint/Assignment
    Assignment_with_user-assigned_managed_identity:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
        identity:
          tenantId: 00000000-0000-0000-0000-000000000000
          type: UserAssigned
          userAssignedIdentities:
            /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-resource-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/contoso-identity:
              clientId: 00000000-0000-0000-0000-000000000000
              principalId: 00000000-0000-0000-0000-000000000000
        location: eastus
        name: assignSimpleBlueprint
        properties:
          blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
          description: enforce pre-defined simpleBlueprint to this XXXXXXXX subscription.
          parameters:
            costCenter:
              value: Contoso/Online/Shopping/Production
            owners:
              value:
                - johnDoe@contoso.com
                - johnsteam@contoso.com
            storageAccountType:
              value: Standard_LRS
          provisioningState: creating
          resourceGroups:
            storageRG:
              location: eastus
              name: defaultRG
        type: Microsoft.Blueprint/Assignment
    WhoIsBlueprint_Action:
      value:
        objectId: 00000000-1111-0000-1111-000000000000
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        Assignment:
          value: 2017-11-11-preview
        Assignment_Delete:
          value: 2017-11-11-preview
        Assignment with system-assigned managed identity:
          value: 2017-11-11-preview
        Assignment with user-assigned managed identity:
          value: 2017-11-11-preview
        WhoIsBlueprint_Action:
          value: 2018-11-01-preview
    AssignmentNameParameter:
      description: Name of the blueprint assignment.
      in: path
      name: assignmentName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Assignment_Delete:
          value: assignSimpleBlueprint
        Assignment:
          value: assignSimpleBlueprint
        Assignment with system-assigned managed identity:
          value: assignSimpleBlueprint
        Assignment with user-assigned managed identity:
          value: assignSimpleBlueprint
        WhoIsBlueprint_Action:
          value: assignSimpleBlueprint
    ScopeParameter:
      description: "The scope of the resource. Valid scopes are: management group (format:
        '/providers/Microsoft.Management/managementGroups/{managementGroup}'),
        subscription (format: '/subscriptions/{subscriptionId}'). For blueprint
        assignments management group scope is reserved for future use."
      in: path
      name: scope
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
      examples:
        Assignment:
          value: subscriptions/00000000-0000-0000-0000-000000000000
        Assignment_Delete:
          value: subscriptions/00000000-0000-0000-0000-000000000000
        Assignment with system-assigned managed identity:
          value: subscriptions/00000000-0000-0000-0000-000000000000
        Assignment with user-assigned managed identity:
          value: subscriptions/00000000-0000-0000-0000-000000000000
        WhoIsBlueprint_Action:
          value: subscriptions/00000000-0000-0000-0000-000000000000
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Assignment:
      allOf:
        - $ref: "#/components/schemas/TrackedResource"
      description: Represents a blueprint assignment.
      properties:
        identity:
          $ref: "#/components/schemas/ManagedServiceIdentity"
        properties:
          $ref: "#/components/schemas/AssignmentProperties"
      required:
        - identity
        - properties
      type: object
    AssignmentList:
      description: List of blueprint assignments
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of blueprint assignments.
          items:
            $ref: "#/components/schemas/Assignment"
          type: array
      type: object
    AssignmentLockSettings:
      description: Defines how resources deployed by a blueprint assignment are locked.
      properties:
        excludedPrincipals:
          description: List of AAD principals excluded from blueprint locks. Up to 5
            principals are permitted.
          items:
            type: string
          type: array
        mode:
          description: Lock mode.
          enum:
            - None
            - AllResourcesReadOnly
            - AllResourcesDoNotDelete
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentLockMode
      type: object
    AssignmentProperties:
      allOf:
        - $ref: "#/components/schemas/BlueprintResourcePropertiesBase"
      description: Detailed properties for a blueprint assignment.
      properties:
        blueprintId:
          description: ID of the published version of a blueprint definition.
          type: string
        locks:
          $ref: "#/components/schemas/AssignmentLockSettings"
        parameters:
          $ref: "#/components/schemas/ParameterValueCollection"
        provisioningState:
          description: State of the blueprint assignment.
          enum:
            - creating
            - validating
            - waiting
            - deploying
            - cancelling
            - locking
            - succeeded
            - failed
            - canceled
            - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentProvisioningState
        resourceGroups:
          $ref: "#/components/schemas/ResourceGroupValueCollection"
        status:
          $ref: "#/components/schemas/AssignmentStatus"
      required:
        - parameters
        - resourceGroups
      type: object
    AssignmentStatus:
      allOf:
        - $ref: "#/components/schemas/BlueprintResourceStatusBase"
      description: The status of a blueprint assignment. This field is readonly.
      properties: {}
      type: object
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
      type: object
    ManagedServiceIdentity:
      description: Managed identity generic object.
      properties:
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
        tenantId:
          description: ID of the Azure Active Directory.
          type: string
        type:
          description: Type of the managed identity.
          enum:
            - None
            - SystemAssigned
            - UserAssigned
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: "#/components/schemas/UserAssignedIdentity"
          description: The list of user-assigned managed identities associated with the
            resource. Key is the Azure resource Id of the managed identity.
          type: object
      required:
        - type
      type: object
    ParameterValue:
      allOf:
        - $ref: "#/components/schemas/ParameterValueBase"
      description: Value for the specified parameter.
      properties:
        value:
          description: Actual value.
      required:
        - value
      type: object
    ParameterValueBase:
      description: Base class for ParameterValue.
      properties:
        description:
          description: Optional property. Establishes ParameterValueBase as a BaseClass.
          type: string
      type: object
    ParameterValueCollection:
      additionalProperties:
        $ref: "#/components/schemas/ParameterValueBase"
      description: A dictionary for parameters and their corresponding values.
      properties: {}
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      properties:
        location:
          description: Location of the resource group.
          type: string
        name:
          description: Name of the resource group.
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupValueCollection:
      additionalProperties:
        $ref: "#/components/schemas/ResourceGroupValue"
      description: A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      properties: {}
      type: object
    SecretReferenceParameterValue:
      allOf:
        - $ref: "#/components/schemas/ParameterValueBase"
      description: The reference to a secret, if the parameter should be protected.
      properties:
        reference:
          $ref: "#/components/schemas/SecretValueReference"
      required:
        - reference
      type: object
    SecretValueReference:
      description: Reference to a Key Vault secret.
      properties:
        keyVault:
          $ref: "#/components/schemas/keyVaultReference"
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: The version of the secret to use. If left blank, the latest version
            of the secret is used.
          type: string
      required:
        - keyVault
        - secretName
      type: object
    TrackedResource:
      allOf:
        - $ref: "#/components/schemas/AzureResourceBase"
      description: Common properties for all Azure tracked resources.
      properties:
        location:
          description: The location of this blueprint assignment.
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
    UserAssignedIdentity:
      description: User-assigned managed identity.
      properties:
        clientId:
          description: Client App Id associated with this identity.
          type: string
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
      type: object
    WhoIsBlueprintContract:
      description: Response schema for querying the Azure Blueprints service principal in
        the tenant.
      properties:
        objectId:
          description: AAD object Id of the Azure Blueprints service principal in the
            tenant.
          type: string
    keyVaultReference:
      description: Specifies the link to a Key Vault.
      properties:
        id:
          description: Azure resource ID of the Key Vault.
          type: string
      required:
        - id
      type: object
