openapi: 3.0.0
info:
  description: Fabric location operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FabricLocation.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FabricLocation
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations":
    get:
      description: Returns a list of all fabric locations.
      operationId: FabricLocations_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all fabric locations.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all fabric locations.:
              value: System.local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all fabric locations.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FabricLocationList"
              examples:
                Returns a list of all fabric locations.:
                  $ref: "#/components/examples/Returns_a_list_of_all_fabric_locatio\
                    ns."
      tags:
        - FabricLocations
      x-ms-odata: "#/components/schemas/FabricLocation"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}":
    get:
      description: Returns the requested fabric location.
      operationId: FabricLocations_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested fabric location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested fabric location.:
              value: System.local
        - $ref: "#/components/parameters/FabricLocationParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested fabric location.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FabricLocation"
              examples:
                Returns the requested fabric location.:
                  $ref: "#/components/examples/Returns_the_requested_fabric_locatio\
                    n."
        "404":
          description: NOT FOUND
      tags:
        - FabricLocations
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_fabric_locations.:
      value:
        value:
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
            location: local
            name: local
            properties: {}
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations
    Returns_the_requested_fabric_location.:
      value:
        id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
        location: local
        name: local
        properties: {}
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations
  parameters:
    FabricLocationParameter:
      description: Fabric location.
      in: path
      name: fabricLocation
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested fabric location.:
          value: local
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    FabricLocation:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Fabric Location resource.
      properties:
        properties:
          $ref: "#/components/schemas/FabricLocationModel"
      type: object
    FabricLocationList:
      description: Pageable list of fabric locations.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of fabric locations.
          items:
            $ref: "#/components/schemas/FabricLocation"
          type: array
      type: object
    FabricLocationModel:
      description: All properties of a fabric location resource.
      properties:
        exclusiveAdminOperationName:
          description: Name of the running exclusive admin operation.
          type: string
        exclusiveAdminOperationRunning:
          description: Value for whether an exclusive admin operation is running.
          type: boolean
        externalDsnIPAddress01:
          description: First external IP address of the DNS server.
          type: string
        externalDsnIPAddress02:
          description: Second external IP Address of the DNS server.
          type: string
        pepIpAddresses:
          description: The IP addresses of the privileged endpoints.
          items:
            type: string
          type: array
        shutDownActionPlanEndTime:
          description: Last known stamp stop time for the shut down action plan.
          format: date-time
          type: string
        shutDownActionPlanStartTime:
          description: Last known stamp start time for the shut down action plan
          format: date-time
          type: string
        stampInformationId:
          description: The deployment id of the stamp.
          type: string
        startUpActionPlanEndTime:
          description: Last known stamp stop time for the start up action plan.
          format: date-time
          type: string
        startUpActionPlanStartTime:
          description: Last known stamp start time for the start up action plan.
          format: date-time
          type: string
        timeServer:
          description: The IP address of the time server.
          type: string
      type: object
