openapi: 3.0.0
info:
  description: Provides create, read, update and delete functionality for Azure SQL
    Database resources including servers, databases, elastic pools,
    recommendations, operations, and usage metrics.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/usages.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-usages
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages":
    get:
      description: Returns database usages.
      operationId: DatabaseUsages_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List database usage metrics:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List database usage metrics:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            List database usage metrics:
              value: sqlcrudtest-6730
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
          examples:
            List database usage metrics:
              value: "3481"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseUsageListResult"
              examples:
                List database usage metrics:
                  $ref: "#/components/examples/List_database_usage_metrics"
      tags:
        - Databases
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages":
    get:
      description: Returns server usages.
      operationId: ServerUsages_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List servers usages:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List servers usages:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            List servers usages:
              value: sqlcrudtest-6730
        - $ref: "#/components/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerUsageListResult"
              examples:
                List servers usages:
                  $ref: "#/components/examples/List_servers_usages"
      tags:
        - Servers
      x-ms-pageable: {}
servers:
  - url: https://management.azure.com
components:
  examples:
    List_database_usage_metrics:
      value:
        value:
          - currentValue: 4194304
            displayName: Database Size
            limit: 268435456000
            name: database_size
            resourceName: "3481"
            unit: Bytes
    List_servers_usages:
      value:
        value:
          - currentValue: 0
            displayName: Database Throughput Unit Quota
            limit: 45000
            name: server_dtu_quota
            resourceName: sqlcrudtest-9007
            unit: DTUs
          - currentValue: 0
            displayName: Database Throughput Unit Quota
            limit: 45000
            name: server_dtu_quota_current
            resourceName: sqlcrudtest-9007
            unit: DTUs
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List database usage metrics:
          value: sqlcrudtest-9007
        List servers usages:
          value: sqlcrudtest-9007
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DatabaseUsage:
      description: The database usages.
      properties:
        currentValue:
          description: The current value of the usage metric.
          format: double
          readOnly: true
          type: number
        displayName:
          description: The usage metric display name.
          readOnly: true
          type: string
        limit:
          description: The current limit of the usage metric.
          format: double
          readOnly: true
          type: number
        name:
          description: The name of the usage metric.
          readOnly: true
          type: string
        nextResetTime:
          description: The next reset time for the usage metric (ISO8601 format).
          format: date-time
          readOnly: true
          type: string
        resourceName:
          description: The name of the resource.
          readOnly: true
          type: string
        unit:
          description: The units of the usage metric.
          readOnly: true
          type: string
    DatabaseUsageListResult:
      description: The response to a list database metrics request.
      properties:
        value:
          description: The list of database usages for the database.
          items:
            $ref: "#/components/schemas/DatabaseUsage"
          type: array
      required:
        - value
    ServerUsage:
      description: Represents server metrics.
      properties:
        currentValue:
          description: The current value of the metric.
          format: double
          readOnly: true
          type: number
        displayName:
          description: The metric display name.
          readOnly: true
          type: string
        limit:
          description: The current limit of the metric.
          format: double
          readOnly: true
          type: number
        name:
          description: Name of the server usage metric.
          readOnly: true
          type: string
        nextResetTime:
          description: The next reset time for the metric (ISO8601 format).
          format: date-time
          readOnly: true
          type: string
        resourceName:
          description: The name of the resource.
          readOnly: true
          type: string
        unit:
          description: The units of the metric.
          readOnly: true
          type: string
    ServerUsageListResult:
      description: Represents the response to a list server metrics request.
      properties:
        value:
          description: The list of server metrics for the server.
          items:
            $ref: "#/components/schemas/ServerUsage"
          type: array
      required:
        - value
