openapi: 3.0.0
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Compute.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Compute
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Compute.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
      tags:
        - Compute
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2015-12-01-preview
      examples:
        Returns the list of supported REST operations.:
          value: 2015-12-01-preview
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PublisherParameter:
      description: Name of the publisher.
      in: path
      name: publisher
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VersionParameter:
      description: The version of the resource.
      in: path
      name: version
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Display:
      description: Contains the localized display information for this particular operation
        or action.
      properties:
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          type: string
        operation:
          description: The localized, friendly name for the operation. Use the name as it
            will displayed to the user.
          type: string
        provider:
          description: The localized, friendly version of the resource provider name. The
            provider name is expected to include the name of the publisher or
            company responsible. The provider name format should use title case
            and begin with "Microsoft" for first-party services. For example,
            the provider name may be"Microsoft Monitoring Insights" or
            "Microsoft Compute."
          type: string
        resource:
          description: The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: "#/components/schemas/Display"
        name:
          description: The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          type: string
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: "#/components/schemas/Operation"
          type: array
    ProvisioningState:
      description: The provisioning state of the resource.
      enum:
        - Creating
        - Failed
        - Succeeded
        - Canceled
      type: string
      x-ms-enum:
        name: ProvisioningState
    Resource:
      description: Base resource object.
      properties:
        id:
          description: ID of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of Resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
