openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2018-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metricDefinitions_API.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: monitor-metricDefinitions_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{resourceUri}/providers/microsoft.insights/metricDefinitions":
    get:
      description: Lists the metric definitions for the resource.
      operationId: MetricDefinitions_List
      parameters:
        - $ref: "#/components/parameters/ResourceUriParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/MetricNamespaceParameter"
      responses:
        "200":
          description: Successful request to get the list of metric definitions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricDefinitionCollection"
              examples:
                Get Metric Definitions without filter:
                  $ref: "#/components/examples/Get_Metric_Definitions_without_filter"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - MetricDefinitions
      x-ms-pageable: {}
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_Metric_Definitions_without_filter:
      value:
        value:
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/CpuTime
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: CPU Time
              value: CpuTime
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Seconds
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Requests
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Requests
              value: Requests
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/BytesReceived
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Data In
              value: BytesReceived
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Bytes
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/BytesSent
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Data Out
              value: BytesSent
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Bytes
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http101
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 101
              value: Http101
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http2xx
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 2xx
              value: Http2xx
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http3xx
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 3xx
              value: Http3xx
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http401
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 401
              value: Http401
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http403
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 403
              value: Http403
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http404
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 404
              value: Http404
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http406
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 406
              value: Http406
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http4xx
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http 4xx
              value: Http4xx
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Http5xx
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Http Server Errors
              value: Http5xx
            namespace: Microsoft.Web/sites
            primaryAggregationType: Total
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Count
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/MemoryWorkingSet
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Memory working set
              value: MemoryWorkingSet
            namespace: Microsoft.Web/sites
            primaryAggregationType: Average
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Bytes
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/AverageMemoryWorkingSet
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Average memory working set
              value: AverageMemoryWorkingSet
            namespace: Microsoft.Web/sites
            primaryAggregationType: Average
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Bytes
          - dimensions:
              - localizedValue: Instance
                value: Instance
            id: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/AverageResponseTime
            isDimensionRequired: false
            metricAvailabilities:
              - retention: P93D
                timeGrain: PT1M
              - retention: P93D
                timeGrain: PT5M
              - retention: P93D
                timeGrain: PT15M
              - retention: P93D
                timeGrain: PT30M
              - retention: P93D
                timeGrain: PT1H
              - retention: P93D
                timeGrain: PT6H
              - retention: P93D
                timeGrain: PT12H
              - retention: P93D
                timeGrain: P1D
            name:
              localizedValue: Average Response Time
              value: AverageResponseTime
            namespace: Microsoft.Web/sites
            primaryAggregationType: Average
            resourceId: /subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest
            supportedAggregationTypes:
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            unit: Seconds
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get Metric Definitions without filter:
          value: 2018-01-01
    MetricNamespaceParameter:
      description: Metric namespace to query metric definitions for.
      in: query
      name: metricnamespace
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric Definitions without filter:
          value: Microsoft.Web/sites
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
      examples:
        Get Metric Definitions without filter:
          value: subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricDefinitions
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AggregationType:
      description: the aggregation type of the metric.
      enum:
        - None
        - Average
        - Count
        - Minimum
        - Maximum
        - Total
      type: string
      x-ms-enum:
        modelAsString: false
        name: AggregationType
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LocalizableString:
      description: The localizable string class.
      properties:
        localizedValue:
          description: the locale specific value.
          type: string
        value:
          description: the invariant value.
          type: string
      required:
        - value
    MetricAvailability:
      description: Metric availability specifies the time grain (aggregation interval or
        frequency) and the retention period for that time grain.
      properties:
        retention:
          description: the retention period for the metric at the specified
            timegrain.  Expressed as a duration 'PT1M', 'P1D', etc.
          format: duration
          type: string
        timeGrain:
          description: the time grain specifies the aggregation interval for the metric.
            Expressed as a duration 'PT1M', 'P1D', etc.
          format: duration
          type: string
    MetricDefinition:
      description: Metric definition class specifies the metadata for a metric.
      properties:
        dimensions:
          description: the name and the display name of the dimension, i.e. it is a
            localizable string.
          items:
            $ref: "#/components/schemas/LocalizableString"
          type: array
        id:
          description: the resource identifier of the metric definition.
          type: string
        isDimensionRequired:
          description: Flag to indicate whether the dimension is required.
          type: boolean
        metricAvailabilities:
          description: the collection of what aggregation intervals are available to be
            queried.
          items:
            $ref: "#/components/schemas/MetricAvailability"
          type: array
        name:
          $ref: "#/components/schemas/LocalizableString"
        namespace:
          description: the namespace the metric belongs to.
          type: string
        primaryAggregationType:
          $ref: "#/components/schemas/AggregationType"
        resourceId:
          description: the resource identifier of the resource that emitted the metric.
          type: string
        supportedAggregationTypes:
          description: the collection of what aggregation types are supported.
          items:
            $ref: "#/components/schemas/AggregationType"
          type: array
        unit:
          $ref: "#/components/schemas/Unit"
    MetricDefinitionCollection:
      description: Represents collection of metric definitions.
      properties:
        value:
          description: the values for the metric definitions.
          items:
            $ref: "#/components/schemas/MetricDefinition"
          type: array
      required:
        - value
    Unit:
      description: the unit of the metric.
      enum:
        - Count
        - Bytes
        - Seconds
        - CountPerSecond
        - BytesPerSecond
        - Percent
        - MilliSeconds
        - ByteSeconds
        - Unspecified
        - Cores
        - MilliCores
        - NanoCores
        - BitsPerSecond
      type: string
      x-ms-enum:
        modelAsString: false
        name: Unit
