openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2015-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/eventCategories_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-eventCategories_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/microsoft.insights/eventcategories:
    get:
      description: "Get the list of available event categories supported in the Activity
        Logs Service.<br>The current list includes the following:
        Administrative, Security, ServiceHealth, Alert, Recommendation, Policy."
      operationId: EventCategories_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successful request to get the list of event categories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventCategoryCollection"
              examples:
                Get event categories:
                  $ref: "#/components/examples/Get_event_categories"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - EventCategories
      x-ms-pageable: {}
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_event_categories:
      value:
        value:
          - localizedValue: category1
            value: category1
          - localizedValue: category2
            value: category2
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get event categories:
          value: 2015-04-01
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    EventCategoryCollection:
      description: "A collection of event categories. Currently possible values are:
        Administrative, Security, ServiceHealth, Alert, Recommendation, Policy."
      properties:
        value:
          description: the list that includes the Azure event categories.
          items:
            $ref: "#/components/schemas/LocalizableString"
          type: array
      required:
        - value
    LocalizableString:
      description: The localizable string class.
      properties:
        localizedValue:
          description: the locale specific value.
          type: string
        value:
          description: the invariant value.
          type: string
      required:
        - value
