openapi: 3.0.0
info:
  description: Storage subsystem operation endpoints and objects.
  title: FabricAdminClient
  version: 2018-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/StorageSubSystem.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-StorageSubSystem
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems":
    get:
      description: Returns a list of all storage subsystems for a location.
      operationId: StorageSubSystems_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: local
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage subsystems for a location.:
              value: S-Cluster
        - $ref: "#/components/parameters/ApiVersionParameter"
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageSubSystemList"
              examples:
                Returns a list of all storage subsystems for a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_subsys\
                    tems_for_a_location."
        "404":
          description: NOT FOUND
      tags:
        - StorageSubSystems
      x-ms-odata: "#/components/schemas/StorageSubSystem"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}":
    get:
      description: Return the requested storage subsystem.
      operationId: StorageSubSystems_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: local
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested storage subsystem.:
              value: S-Cluster
        - $ref: "#/components/parameters/StorageSubSystemParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageSubSystem"
              examples:
                Return the requested storage subsystem.:
                  $ref: "#/components/examples/Return_the_requested_storage_subsyst\
                    em."
        "404":
          description: NOT FOUND
      tags:
        - StorageSubSystems
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_subsystems_for_a_location.:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local
            location: local
            name: S-Cluster.azurestack.local
            properties:
              healthStatus: Healthy
              operationalStatus: OK
              rebalanceStatus: ""
              remainingCapacityGB: 30451
              totalCapacityGB: 30797
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems
    Return_the_requested_storage_subsystem.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local
        location: local
        name: S-Cluster.azurestack.local
        properties:
          healthStatus: Healthy
          operationalStatus: OK
          rebalanceStatus: ""
          remainingCapacityGB: 30451
          totalCapacityGB: 30797
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2018-10-01
      examples:
        Returns a list of all storage subsystems for a location.:
          value: 2018-10-01
        Return the requested storage subsystem.:
          value: 2018-10-01
    StorageSubSystemParameter:
      description: Name of the storage system.
      in: path
      name: storageSubSystem
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested storage subsystem.:
          value: S-Cluster.azurestack.local
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    StorageSubSystem:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a storage system resource.
      properties:
        properties:
          $ref: "#/components/schemas/StorageSubSystemModel"
      type: object
    StorageSubSystemList:
      description: Pageable list of storage systems.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage systems.
          items:
            $ref: "#/components/schemas/StorageSubSystem"
          type: array
      type: object
    StorageSubSystemModel:
      description: All properties of a storage subsystem.
      properties:
        healthStatus:
          description: Health status of the subsystem.
          type: string
        operationalStatus:
          description: Operational status of the subsystem.
          type: string
        rebalanceStatus:
          description: Rebalance status of the subsystem.
          type: string
        remainingCapacityGB:
          description: Remaining capacity in GB of the subsystem.
          format: int32
          type: integer
        totalCapacityGB:
          description: Total capacity in GB of the subsystem.
          format: int32
          type: integer
      type: object
