openapi: 3.0.0
info:
  description: The Azure Data Catalog Resource Provider Services API.
  title: Azure Data Catalog Resource Provider
  version: 2016-03-30
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datacatalog/resource-manager/Microsoft.DataCatalog/stable/2016-03-30/datacatalog.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: datacatalog
  x-tags:
    - Azure
    - Microsoft
paths:
  /providers/Microsoft.DataCatalog/operations:
    get:
      description: Lists all the available Azure Data Catalog service operations.
      operationId: ADCOperations_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationEntityListResult"
              examples:
                Get Operations:
                  $ref: "#/components/examples/Get_Operations"
      tags:
        - AzureDataCatalog
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs":
    get:
      description: The List catalogs in Resource Group operation lists all the Azure Data
        Catalogs available under the given resource group.
      operationId: ADCCatalogs_ListtByResourceGroup
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ADCCatalogsListResult"
              examples:
                List Azure Data Catalog Service:
                  $ref: "#/components/examples/List_Azure_Data_Catalog_Service"
      summary: List catalogs in Resource Group (GET Resources)
      tags:
        - AzureDataCatalog
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs/{catalogName}":
    delete:
      description: The Delete Azure Data Catalog Service operation deletes an existing data
        catalog.
      operationId: ADCCatalogs_Delete
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/CatalogNameParameter"
      responses:
        "200":
          description: OK. An existing annotation was updated.
        "202":
          description: Accepted. Delete is asynchronous. In this case, the caller needs to
            read the Location header for an URL to poll. That URL will continue
            to return 202 until the operation is complete. When it stops
            returning 202, the response it gives back is the result of the
            DELETE operation.
        "204":
          description: No Content (didn't exist).
      summary: Delete Azure Data Catalog Service (DELETE Resource)
      tags:
        - AzureDataCatalog
      x-ms-long-running-operation: true
    get:
      description: The Get Azure Data Catalog Service operation retrieves a json
        representation of the data catalog.
      operationId: ADCCatalogs_Get
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/CatalogNameParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ADCCatalog"
              examples:
                Get Azure Data Catalog Service:
                  $ref: "#/components/examples/Get_Azure_Data_Catalog_Service"
      summary: Get Azure Data Catalog service (GET Resources)
      tags:
        - AzureDataCatalog
    patch:
      description: The Update Azure Data Catalog Service operation can be used to update
        the existing deployment. The update call only supports the properties
        listed in the PATCH body.
      operationId: ADCCatalogs_Update
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/CatalogNameParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ADCCatalog"
        description: Properties supplied to the Update a data catalog.
        required: true
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ADCCatalog"
              examples:
                Update Azure Data Catalog Service:
                  $ref: "#/components/examples/Update_Azure_Data_Catalog_Service"
      summary: Update Azure Data Catalog Service (PATCH Resource)
      tags:
        - AzureDataCatalog
    put:
      description: The Create Azure Data Catalog service operation creates a new data
        catalog service with the specified parameters. If the specific service
        already exists, then any patchable properties will be updated and any
        immutable properties will remain unchanged.
      operationId: ADCCatalogs_CreateOrUpdate
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/CatalogNameParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ADCCatalog"
        description: Properties supplied to the Create or Update a data catalog.
        required: true
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ADCCatalog"
              examples:
                Create Azure Data Catalog Service:
                  $ref: "#/components/examples/Create_Azure_Data_Catalog_Service"
        "201":
          description: HTTP 201 (Created) if the operation completed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ADCCatalog"
              examples:
                Create Azure Data Catalog Service:
                  $ref: "#/components/examples/Create_Azure_Data_Catalog_Service"
      summary: Create or Update Azure Data Catalog service (PUT Resource)
      tags:
        - AzureDataCatalog
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_Operations:
      value:
        value:
          - display:
              description: Get properties for catalog or catalogs under subscription or
                resource group.
              operation: Catalog Read Or List
              provider: Microsoft Data Catalog
              resource: Catalog
            name: Microsoft.DataCatalog/catalogs/read
          - display:
              description: Creates catalog or updates the tags and properties for the
                catalog.
              operation: Create Or Update Catalog
              provider: Microsoft Data Catalog
              resource: Catalog
            name: Microsoft.DataCatalog/catalogs/write
          - display:
              description: Deletes the catalog.
              operation: Delete Catalog
              provider: Microsoft Data Catalog
              resource: Catalog
            name: Microsoft.DataCatalog/catalogs/delete
          - display:
              description: Lists operations available on Microsoft.DataCatalog resource
                provider.
              operation: List Available Catalog Operations
              provider: Microsoft Data Catalog
              resource: Available Catalog Operations
            name: Microsoft.DataCatalog/operations/read
    List_Azure_Data_Catalog_Service:
      value:
        value:
          - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
            location: North US
            name: exampleCatalog
            properties:
              admins:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
              enableAutomaticUnitAdjustment: false
              sku: Standard
              successfullyProvisioned: true
              units: 1
              users:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
            tags:
              mykey: myvalue
              mykey2: myvalue2
            type: Microsoft.DataCatalog/catalogs
    Get_Azure_Data_Catalog_Service:
      value:
        id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
        location: North US
        name: exampleCatalog
        properties:
          admins:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
          enableAutomaticUnitAdjustment: false
          sku: Standard
          successfullyProvisioned: true
          units: 1
          users:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
        tags:
          mykey: myvalue
          mykey2: myvalue2
        type: Microsoft.DataCatalog/catalogs
    Update_Azure_Data_Catalog_Service:
      value:
        id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
        location: North US
        name: exampleCatalog
        properties:
          admins:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
          enableAutomaticUnitAdjustment: false
          sku: Standard
          successfullyProvisioned: true
          units: 1
          users:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
        tags:
          mykey: myvalue
          mykey2: myvalue2
        type: Microsoft.DataCatalog/catalogs
    Create_Azure_Data_Catalog_Service:
      value:
        id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
        location: North US
        name: exampleCatalog
        properties:
          admins:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
          enableAutomaticUnitAdjustment: false
          sku: Standard
          successfullyProvisioned: true
          units: 1
          users:
            - objectId: 99999999-9999-9999-999999999999
              upn: myupn@microsoft.com
        tags:
          mykey: myvalue
          mykey2: myvalue2
        type: Microsoft.DataCatalog/catalogs
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get Operations:
          value: 2016-03-30
        List Azure Data Catalog Service:
          value: 2016-03-30
        Delete Azure Data Catalog Service:
          value: 2016-03-30
        Get Azure Data Catalog Service:
          value: 2016-03-30
        Update Azure Data Catalog Service:
          value: 2016-03-30
        Create Azure Data Catalog Service:
          value: 2016-03-30
    CatalogNameParameter:
      description: The name of the data catalog in the specified subscription and resource
        group.
      in: path
      name: catalogName
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        Delete Azure Data Catalog Service:
          value: exampleCatalog
        Get Azure Data Catalog Service:
          value: exampleCatalog
        Update Azure Data Catalog Service:
          value: exampleCatalog
        Create Azure Data Catalog Service:
          value: exampleCatalog
    ResourceGroupNameParameter:
      description: The name of the resource group within the user's subscription. The name
        is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
      examples:
        List Azure Data Catalog Service:
          value: exampleResourceGroup
        Delete Azure Data Catalog Service:
          value: exampleResourceGroup
        Get Azure Data Catalog Service:
          value: exampleResourceGroup
        Update Azure Data Catalog Service:
          value: exampleResourceGroup
        Create Azure Data Catalog Service:
          value: exampleResourceGroup
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List Azure Data Catalog Service:
          value: 12345678-1234-1234-12345678abc
        Delete Azure Data Catalog Service:
          value: 12345678-1234-1234-12345678abc
        Get Azure Data Catalog Service:
          value: 12345678-1234-1234-12345678abc
        Update Azure Data Catalog Service:
          value: 12345678-1234-1234-12345678abc
        Create Azure Data Catalog Service:
          value: 12345678-1234-1234-12345678abc
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ADCCatalog:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: Azure Data Catalog.
      properties:
        properties:
          $ref: "#/components/schemas/ADCCatalogProperties"
    ADCCatalogProperties:
      description: Properties of the data catalog.
      properties:
        admins:
          description: Azure data catalog admin list.
          items:
            $ref: "#/components/schemas/Principals"
          type: array
        enableAutomaticUnitAdjustment:
          description: Automatic unit adjustment enabled or not.
          type: boolean
        sku:
          description: Azure data catalog SKU.
          enum:
            - Free
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuType
        successfullyProvisioned:
          description: Azure data catalog provision status.
          type: boolean
        units:
          description: Azure data catalog units.
          type: integer
        users:
          description: Azure data catalog user list.
          items:
            $ref: "#/components/schemas/Principals"
          type: array
    ADCCatalogsListResult:
      description: The response from the List Azure Data Catalog operation.
      properties:
        value:
          description: the list of Azure Data Catalogs.
          items:
            $ref: "#/components/schemas/ADCCatalog"
          type: array
    OperationDisplayInfo:
      description: The operation supported by Azure Data Catalog Service.
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: The action that users can perform, based on their permission level.
          type: string
        provider:
          description: "Service provider: Azure Data Catalog Service."
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    OperationEntity:
      description: The operation supported by Azure Data Catalog Service.
      properties:
        display:
          $ref: "#/components/schemas/OperationDisplayInfo"
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          type: string
      type: object
    OperationEntityListResult:
      description: The list of Azure data catalog service operation response.
      properties:
        value:
          description: The list of operations.
          items:
            $ref: "#/components/schemas/OperationEntity"
          type: array
      type: object
    Principals:
      description: User principals.
      properties:
        objectId:
          description: Object Id for the user
          type: string
        upn:
          description: UPN of the user.
          type: string
    Resource:
      description: The Resource model definition.
      properties:
        etag:
          description: Resource etag
          type: string
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      x-ms-azure-resource: true
