openapi: 3.0.0
info:
  description: Application operation results.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ApplicationOperationResults.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ApplicationOperationResults
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults":
    get:
      description: Returns a list of all application operation results at a location.
      operationId: ApplicationOperationResults_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all application operation results at a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all application operation results at a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all application operation results at a location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all application operation results at a location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationOperationResultList"
              examples:
                Returns a list of all application operation results at a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_application_op\
                    eration_results_at_a_location."
        "404":
          description: NOT FOUND
      tags:
        - ApplicationOperationResults
      x-ms-odata: "#/components/schemas/ApplicationOperationResult"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults/{operation}":
    get:
      description: Returns the status of an application operation.
      operationId: ApplicationOperationResults_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the status of the operation.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the status of the operation.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the status of the operation.:
              value: local
        - $ref: "#/components/parameters/OperationParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the status of the operation.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationOperationResult"
              examples:
                Returns the status of the operation.:
                  $ref: "#/components/examples/Returns_the_status_of_the_operation."
        "404":
          description: NOT FOUND
      tags:
        - ApplicationOperationResults
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_application_operation_results_at_a_location.:
      value:
        value:
          - properties:
              provisioningState: Succeeded
          - error:
              code: OperationBlockedDueToUpdateInProgress
              message: The operation cannot be performed at the present time, because
                there is an Azure Stack update in progress. Wait until the Azure
                Stack update is complete and then try your operation again.
            properties:
              provisioningState: Failed
    Returns_the_status_of_the_operation.:
      value:
        properties:
          provisioningState: Succeeded
  parameters:
    OperationParameter:
      description: Operation identifier.
      in: path
      name: operation
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the status of the operation.:
          value: 7129ebd4-efb5-4faf-89a5-9b9071811610
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ApplicationOperationResult:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Application operation result description.
      properties:
        properties:
          $ref: "#/components/schemas/ApplicationOperationResultModel"
      type: object
    ApplicationOperationResultList:
      description: Pageable list of application operation results.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of application operation results.
          items:
            $ref: "#/components/schemas/ApplicationOperationResult"
          type: array
      type: object
    ApplicationOperationResultModel:
      description: Application operation result properties.
      properties:
        instances:
          description: List of operation result instances.
          items:
            type: string
          type: array
        provisioningState:
          description: Success or failure of operation.
          type: string
      type: object
