openapi: 3.0.0
info:
  description: Drive operation endpoints and objects.
  title: FabricAdminClient
  version: 2019-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Drive.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Drive
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives":
    get:
      description: Returns a list of all storage drives at a location.
      operationId: Drives_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage drives at a location.:
              value: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage drives at a location.:
              value: System.redmond
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage drives at a location.:
              value: redmond
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage drives at a location.:
              value: s-cluster
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage drives at a location.:
              value: s-cluster.v.masd.stbtest.microsoft.com
        - $ref: "#/components/parameters/ApiVersionParameter"
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveList"
              examples:
                Returns a list of all storage drives at a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_drives\
                    _at_a_location."
        "404":
          description: NOT FOUND
      tags:
        - Drives
      x-ms-odata: "#/components/schemas/Drive"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives/{drive}":
    get:
      description: Return the requested a storage drive.
      operationId: Drives_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested a storage drive.:
              value: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage drive.:
              value: System.redmond
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage drive.:
              value: redmond
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage drive.:
              value: s-cluster
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage drive.:
              value: s-cluster.v.masd.stbtest.microsoft.com
        - $ref: "#/components/parameters/DriveParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Drive"
              examples:
                Return the requested a storage drive.:
                  $ref: "#/components/examples/Return_the_requested_a_storage_drive."
        "404":
          description: NOT FOUND
      tags:
        - Drives
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_drives_at_a_location.:
      value:
        value:
          - id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/drives/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}
            location: redmond
            name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}
            properties:
              action: ""
              capacityGB: 1024
              description: ""
              firmwareVersion: "1.0"
              healthStatus: Healthy
              isIndicationEnabled: false
              manufacturer: Msft
              mediaType: HDD
              model: Virtual Disk
              operationalStatus: OK
              physicalLocation: "Integrated : Adapter 1 : Port 0 : Target 0 : LUN 4"
              serialNumber: 4GV095AX
              storageNode: redmond/v-Host4
              storagePool: SU1_Pool
              usage: Capacity
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
    Return_the_requested_a_storage_drive.:
      value:
        id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/drives/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}
        location: redmond
        name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}
        properties:
          action: ""
          capacityGB: 1024
          description: ""
          firmwareVersion: "1.0"
          healthStatus: Healthy
          isIndicationEnabled: false
          manufacturer: Msft
          mediaType: HDD
          model: Virtual Disk
          operationalStatus: OK
          physicalLocation: "Integrated : Adapter 1 : Port 0 : Target 0 : LUN 4"
          serialNumber: 4GV095AX
          storageNode: redmond/v-Host4
          storagePool: SU1_Pool
          usage: Capacity
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2019-05-01
      examples:
        Returns a list of all storage drives at a location.:
          value: 2019-05-01
        Return the requested a storage drive.:
          value: 2019-05-01
    DriveParameter:
      description: Name of the storage drive.
      in: path
      name: drive
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested a storage drive.:
          value: "{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19\
            -6d1504372ecc}"
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Drive:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a drive resource.
      properties:
        properties:
          $ref: "#/components/schemas/DriveModel"
      type: object
    DriveList:
      description: Pageable list of storage drives.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage drives.
          items:
            $ref: "#/components/schemas/Drive"
          type: array
      type: object
    DriveModel:
      description: Properties of a drive.
      properties:
        action:
          description: Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          type: string
        capacityGB:
          description: Total capacity in GB of the drive.
          format: int32
          readOnly: true
          type: integer
        description:
          description: Detailed description for HealthStatus/OperationalStatus. Empty if
            HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          type: string
        firmwareVersion:
          description: The firmware version of the drive.
          readOnly: true
          type: string
        healthStatus:
          description: Health status of the drive.
          readOnly: true
          type: string
        isIndicationEnabled:
          description: Indicate whether the drive's identification LEDs are active or not.
          readOnly: true
          type: boolean
        manufacturer:
          description: The name of the drive's manufacturer.
          readOnly: true
          type: string
        mediaType:
          description: Media type of the drive.
          readOnly: true
          type: string
        model:
          description: Model of the drive.
          readOnly: true
          type: string
        operationalStatus:
          description: Operational status of the drive.
          readOnly: true
          type: string
        physicalLocation:
          description: Indicate where the hardware is located.
          readOnly: true
          type: string
        serialNumber:
          description: Serial number of the drive.
          readOnly: true
          type: string
        storageNode:
          description: Node that the drive is physically connected.
          readOnly: true
          type: string
        storagePool:
          description: The storage pool where the drive is located.
          readOnly: true
          type: string
        usage:
          description: Intended usage of the drive.
          readOnly: true
          type: string
      type: object
