openapi: 3.0.0
info:
  description: Edge gateway operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/EdgeGateway.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-EdgeGateway
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways":
    get:
      description: Returns the list of all edge gateways at a certain location.
      operationId: EdgeGateways_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the list of all edge gateways at a certain location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the list of all edge gateways at a certain location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the list of all edge gateways at a certain location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the list of all edge gateways at a certain location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeGatewayList"
              examples:
                Returns the list of all edge gateways at a certain location.:
                  $ref: "#/components/examples/Returns_the_list_of_all_edge_gateway\
                    s_at_a_certain_location."
        "404":
          description: NOT FOUND
      tags:
        - EdgeGateways
      x-ms-odata: "#/components/schemas/EdgeGateway"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways/{edgeGateway}":
    get:
      description: Returns the requested edge gateway.
      operationId: EdgeGateways_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested edge gateway.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested edge gateway.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested edge gateway.:
              value: local
        - $ref: "#/components/parameters/EdgeGatewayParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested edge gateway.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeGateway"
              examples:
                Returns the requested edge gateway.:
                  $ref: "#/components/examples/Returns_the_requested_edge_gateway."
        "404":
          description: NOT FOUND
      tags:
        - EdgeGateways
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_the_list_of_all_edge_gateways_at_a_certain_location.:
      value:
        value:
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01
            location: local
            name: local/AzS-Gwy01
            properties:
              availableCapacity: 100000000
              numberOfConnections: 0
              state: Passive
              totalCapacity: 100000000
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/edgeGateways
    Returns_the_requested_edge_gateway.:
      value:
        id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01
        location: local
        name: local/AzS-Gwy01
        properties:
          availableCapacity: 100000000
          numberOfConnections: 0
          state: Active
          totalCapacity: 100000000
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/edgeGateways
  parameters:
    EdgeGatewayParameter:
      description: Name of the edge gateway.
      in: path
      name: edgeGateway
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested edge gateway.:
          value: AzS-Gwy01
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    EdgeGateway:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This resource represents a gateway, which provides the configuration
        needed to provide gateway services to virtual networks.
      properties:
        properties:
          $ref: "#/components/schemas/EdgeGatewayModel"
      type: object
    EdgeGatewayList:
      description: Pageable list of edge gateways.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of edge gateways.
          items:
            $ref: "#/components/schemas/EdgeGateway"
          type: array
      type: object
    EdgeGatewayModel:
      description: Object which holds information related to edge gateways.
      properties:
        availableCapacity:
          description: The available network capacity.
          format: int64
          type: integer
        numberOfConnections:
          description: The current number of connections.
          format: int32
          type: integer
        state:
          description: The current state of the edge gateway.
          type: string
        totalCapacity:
          description: The total network capacity.
          format: int64
          type: integer
      type: object
