openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRulesIncidents_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-alertRulesIncidents_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents":
    get:
      description: Gets a list of incidents associated to an alert rule
      operationId: AlertRuleIncidents_ListByAlertRule
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request for a list of alert rule related incidents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentListResult"
              examples:
                List alert rule incidents:
                  $ref: "#/components/examples/List_alert_rule_incidents"
      tags:
        - AlertRuleIncidents
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents/{incidentName}":
    get:
      description: Gets an incident associated to an alert rule
      operationId: AlertRuleIncidents_Get
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - description: The name of the incident to retrieve.
          in: path
          name: incidentName
          required: true
          schema:
            type: string
          examples:
            Get a single alert rule incident:
              value: Website_started
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request for one alert rule related incident
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Incident"
              examples:
                Get a single alert rule incident:
                  $ref: "#/components/examples/Get_a_single_alert_rule_incident"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - AlertRuleIncidents
servers:
  - url: https://management.azure.com
components:
  examples:
    List_alert_rule_incidents:
      value:
        value:
          - activatedTime: 2017-09-13T15:45:26.9792776Z
            isActive: true
            name: Website_started
            resolvedTime: 2017-09-13T22:14:28.9792776Z
            ruleName: myRuleName
    Get_a_single_alert_rule_incident:
      value:
        activatedTime: 2017-09-13T15:45:26.9792776Z
        isActive: true
        name: Website_started
        resolvedTime: 2017-09-13T22:14:28.9792776Z
        ruleName: myRuleName
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        List alert rule incidents:
          value: 2016-03-01
        Get a single alert rule incident:
          value: 2016-03-01
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List alert rule incidents:
          value: Rac46PostSwapRG
        Get a single alert rule incident:
          value: Rac46PostSwapRG
    RuleNameParameter:
      description: The name of the rule.
      in: path
      name: ruleName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List alert rule incidents:
          value: myRuleName
        Get a single alert rule incident:
          value: myRuleName
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List alert rule incidents:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Get a single alert rule incident:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Incident:
      description: An alert incident indicates the activation status of an alert rule.
      properties:
        activatedTime:
          description: The time at which the incident was activated in ISO8601 format.
          format: date-time
          readOnly: true
          type: string
        isActive:
          description: A boolean to indicate whether the incident is active or resolved.
          readOnly: true
          type: boolean
        name:
          description: Incident name.
          readOnly: true
          type: string
        resolvedTime:
          description: The time at which the incident was resolved in ISO8601 format. If
            null, it means the incident is still active.
          format: date-time
          readOnly: true
          type: string
        ruleName:
          description: Rule name that is associated with the incident.
          readOnly: true
          type: string
    IncidentListResult:
      description: The List incidents operation response.
      properties:
        value:
          description: the incident collection.
          items:
            $ref: "#/components/schemas/Incident"
          type: array
