openapi: 3.0.0
info:
  description: Storage pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StoragePool.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-StoragePool
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools":
    get:
      description: Returns a list of all storage pools for a location.
      operationId: StoragePools_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage pools for a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage pools for a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage pools for a location.:
              value: local
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage pools for a location.:
              value: S-Cluster.azurestack.local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all storage pools for a location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoragePoolList"
              examples:
                Returns a list of all storage pools for a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_pools_\
                    for_a_location."
        "404":
          description: NOT FOUND
      tags:
        - StoragePools
      x-ms-odata: "#/components/schemas/StoragePool"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}":
    get:
      description: Return the requested a storage pool.
      operationId: StoragePools_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested a storage pool.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage pool.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage pool.:
              value: local
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage pool.:
              value: S-Cluster.azurestack.local
        - $ref: "#/components/parameters/StoragePoolParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Return the requested a storage pool.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoragePool"
              examples:
                Return the requested a storage pool.:
                  $ref: "#/components/examples/Return_the_requested_a_storage_pool."
        "404":
          description: NOT FOUND
      tags:
        - StoragePools
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_pools_for_a_location.:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool
            location: local
            name: SU1_Pool
            properties:
              sizeGB: 5646
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools
    Return_the_requested_a_storage_pool.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool
        location: local
        name: SU1_Pool
        properties:
          sizeGB: 5646
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools
  parameters:
    StoragePoolParameter:
      description: Storage pool name.
      in: path
      name: storagePool
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested a storage pool.:
          value: SU1_Pool
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    StoragePool:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a storage pool resource.
      properties:
        properties:
          $ref: "#/components/schemas/StoragePoolModel"
      type: object
    StoragePoolList:
      description: Pageable list of storage pools.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage pools.
          items:
            $ref: "#/components/schemas/StoragePool"
          type: array
      type: object
    StoragePoolModel:
      description: All properties of a storage pool.
      properties:
        sizeGB:
          description: Amount of space in the storage pool in GB.
          format: int32
          type: integer
      type: object
