openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/compliances.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-compliances
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{scope}/providers/Microsoft.Security/compliances":
    get:
      description: The Compliance scores of the specific management group.
      operationId: Compliances_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get security compliance data over time:
              value: 2017-08-01-preview
        - description: Scope of the query, can be subscription
            (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management
            group (/providers/Microsoft.Management/managementGroups/mgName).
          in: path
          name: scope
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get security compliance data over time:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceList"
              examples:
                Get security compliance data over time:
                  $ref: "#/components/examples/Get_security_compliance_data_over_ti\
                    me"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Compliances
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Security/compliances/{complianceName}":
    get:
      description: Details of a specific Compliance.
      operationId: Compliances_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            Get security compliance data for a day:
              value: 2017-08-01-preview
        - description: Scope of the query, can be subscription
            (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management
            group (/providers/Microsoft.Management/managementGroups/mgName).
          in: path
          name: scope
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get security compliance data for a day:
              value: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/ComplianceName"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Compliance"
              examples:
                Get security compliance data for a day:
                  $ref: "#/components/examples/Get_security_compliance_data_for_a_d\
                    ay"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                properties:
                  error:
                    description: Error details.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant and
                          are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-external: true
                type: object
                x-ms-external: true
      tags:
        - Compliances
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_security_compliance_data_over_time:
      value:
        value:
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
            name: 2018-01-01Z
            properties:
              assessmentResult:
                - percentage: 77.77777777777779
                  segmentType: Compliant
              assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
              resourceCount: 18
            type: Microsoft.Security/compliances
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-02Z
            name: 2018-01-02Z
            properties:
              assessmentResult:
                - percentage: 94.44444444444444
                  segmentType: Compliant
              assessmentTimestampUtcDate: 2018-01-02T00:00:00Z
              resourceCount: 18
            type: Microsoft.Security/compliances
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-03Z
            name: 2018-01-03Z
            properties:
              assessmentResult:
                - percentage: 100
                  segmentType: Compliant
              assessmentTimestampUtcDate: 2018-01-03T00:00:00Z
              resourceCount: 18
            type: Microsoft.Security/compliances
    Get_security_compliance_data_for_a_day:
      value:
        id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
        name: 2018-01-01Z
        properties:
          assessmentResult:
            - percentage: 77.77777777777779
              segmentType: Compliant
          assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
          resourceCount: 18
        type: Microsoft.Security/compliances
  parameters:
    ComplianceName:
      description: name of the Compliance
      in: path
      name: complianceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get security compliance data for a day:
          value: 2018-01-01Z
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Compliance:
      allOf:
        - description: Describes an Azure resource.
          properties:
            id:
              description: Resource Id
              readOnly: true
              type: string
            name:
              description: Resource name
              readOnly: true
              type: string
            type:
              description: Resource type
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Compliance of a scope
      properties:
        properties:
          $ref: "#/components/schemas/ComplianceProperties"
      readOnly: true
      type: object
    ComplianceList:
      description: List of Compliance objects response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of Compliance objects
          items:
            $ref: "#/components/schemas/Compliance"
          type: array
      readOnly: true
      type: object
    ComplianceProperties:
      description: The Compliance score (percentage) of a Subscription is a sum of all
        Resources' Compliances under the given Subscription. A Resource
        Compliance is defined as the compliant ('healthy') Policy Definitions
        out of all Policy Definitions applicable to a given resource.
      properties:
        assessmentResult:
          description: An array of segment, which is the actually the compliance assessment.
          items:
            $ref: "#/components/schemas/ComplianceSegment"
          readOnly: true
          type: array
        assessmentTimestampUtcDate:
          description: The timestamp when the Compliance calculation was conducted.
          format: date-time
          readOnly: true
          type: string
        resourceCount:
          description: The resource count of the given subscription for which the
            Compliance calculation was conducted (needed for Management Group
            Compliance calculation).
          readOnly: true
          type: integer
      type: object
    ComplianceSegment:
      description: A segment of a compliance assessment.
      properties:
        percentage:
          description: The size (%) of the segment.
          format: double
          readOnly: true
          type: number
        segmentType:
          description: The segment type, e.g. compliant, non-compliance, insufficient
            coverage, N/A, etc.
          readOnly: true
          type: string
      type: object
