openapi: 3.0.0
info:
  description: Load balancer admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/LoadBalancers.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-LoadBalancers
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminLoadBalancers":
    get:
      description: Get a list of all load balancers.
      operationId: LoadBalancers_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            List all load balancers:
              value: fc8456aa-4843-4079-a152-f3497c63aa73
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-06-15
          examples:
            List all load balancers:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData orderBy parameter.
          in: query
          name: $orderBy
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData top parameter.
          in: query
          name: $top
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData skip parameter.
          in: query
          name: $skip
          x-ms-parameter-location: method
          schema:
            type: string
        - description: OData inline count parameter.
          in: query
          name: $inlineCount
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoadBalancerList"
              examples:
                List all load balancers:
                  $ref: "#/components/examples/List_all_load_balancers"
      tags:
        - LoadBalancers
      x-ms-odata: "#/components/schemas/LoadBalancer"
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    List_all_load_balancers:
      value:
        value:
          - id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminLoadBalancers/TestLoadBalancer
            location: ""
            name: TestLoadBalancer
            properties:
              provisioningState: Succeeded
              publicIpAddresses:
                - 192.168.102.32
              subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
              tenantResourceUri: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/loadBalancers/TestLoadBalancer
            type: Microsoft.Network.Admin/adminLoadBalancers
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    LoadBalancer:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Region location of resource.
              readOnly: true
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a load balancer.
      properties:
        properties:
          $ref: "#/components/schemas/LoadBalancerProperty"
      type: object
    LoadBalancerList:
      description: Pageable list of load balancers.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of load balancers for this page.
          items:
            $ref: "#/components/schemas/LoadBalancer"
          type: array
      type: object
    LoadBalancerProperty:
      allOf:
        - description: Objects which have a provisioning state.
          properties:
            provisioningState:
              description: The provisioning state.
              readOnly: true
              type: string
          type: object
        - description: These resources are utilized by a single tenant.
          properties:
            subscriptionId:
              description: The subscription ID.
              readOnly: true
              type: string
            tenantResourceUri:
              description: The tenant resource URI.
              readOnly: true
              type: string
          type: object
      description: Properties of a load balancer.
      properties:
        publicIpAddresses:
          description: List of public IP addresses.
          items:
            type: string
          type: array
      type: object
