openapi: 3.0.0
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2017-10-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/recoverableManagedDatabases.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-recoverableManagedDatabases
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/recoverableDatabases":
    get:
      description: Gets a list of recoverable managed databases.
      operationId: RecoverableManagedDatabases_ListByInstance
      parameters:
        - $ref: "#/components/parameters/ResourceGroupParameter"
        - $ref: "#/components/parameters/ManagedInstanceNameParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of recoverable managed databases.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecoverableManagedDatabaseListResult"
              examples:
                List recoverable databases by managed instances:
                  $ref: "#/components/examples/List_recoverable_databases_by_manage\
                    d_instances"
        default:
          description: >-
            *** Error Responses: ***

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - RecoverableManagedDatabases
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/recoverableDatabases/{recoverableDatabaseName}":
    get:
      description: Gets a recoverable managed database.
      operationId: RecoverableManagedDatabases_Get
      parameters:
        - $ref: "#/components/parameters/ResourceGroupParameter"
        - $ref: "#/components/parameters/ManagedInstanceNameParameter"
        - in: path
          name: recoverableDatabaseName
          required: true
          schema:
            type: string
          examples:
            Gets a recoverable databases by managed instances:
              value: testdb
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified recoverable managed database.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecoverableManagedDatabase"
              examples:
                Gets a recoverable databases by managed instances:
                  $ref: "#/components/examples/Gets_a_recoverable_databases_by_mana\
                    ged_instances"
        default:
          description: >-
            *** Error Responses: ***

             * 400 InvalidRecoverableDatabaseId - Invalid recoverable database identifier.

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - RecoverableManagedDatabases
servers:
  - url: https://management.azure.com
components:
  examples:
    List_recoverable_databases_by_managed_instances:
      value:
        value:
          - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/recoverableDaatabases/testdb
            name: testdb
            properties:
              lastAvailableBackupDate: 2017-05-26T01:06:29.78Z
            type: Microsoft.Sql/managedInstances/recoverableDaatabases
          - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/recoverableDaatabases/testdb2
            name: testdb2
            properties:
              lastAvailableBackupDate: 2018-04-26T02:17:23.44Z
            type: Microsoft.Sql/managedInstances/recoverableDaatabases
    Gets_a_recoverable_databases_by_managed_instances:
      value:
        id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/recoverableDatabases/testdb
        name: testdb
        properties:
          lastAvailableBackupDate: 2017-05-26T01:06:29.78Z
        type: Microsoft.Sql/managedInstances/recoverableDatabases
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        List recoverable databases by managed instances:
          value: 2017-10-01-preview
        Gets a recoverable databases by managed instances:
          value: 2017-10-01-preview
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - default
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List recoverable databases by managed instances:
          value: managedInstance
        Gets a recoverable databases by managed instances:
          value: managedInstance
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List recoverable databases by managed instances:
          value: Test1
        Gets a recoverable databases by managed instances:
          value: Test1
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        List recoverable databases by managed instances:
          value: 00000000-1111-2222-3333-444444444444
        Gets a recoverable databases by managed instances:
          value: 00000000-1111-2222-3333-444444444444
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProxyResource:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: ARM proxy resource.
      properties: {}
      type: object
    RecoverableManagedDatabase:
      allOf:
        - $ref: "#/components/schemas/ProxyResource"
      description: A recoverable managed database resource.
      properties:
        properties:
          $ref: "#/components/schemas/RecoverableManagedDatabaseProperties"
      type: object
    RecoverableManagedDatabaseListResult:
      description: A list of recoverable managed databases.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: "#/components/schemas/RecoverableManagedDatabase"
          readOnly: true
          type: array
      type: object
    RecoverableManagedDatabaseProperties:
      description: The recoverable managed database's properties.
      properties:
        lastAvailableBackupDate:
          description: The last available backup date.
          readOnly: true
          type: string
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
