openapi: 3.0.0
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2015-06-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2015-06-15/usage.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-usage
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages":
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
        - description: The location where resource usage is queried.
          in: path
          name: location
          required: true
          schema:
            type: string
            pattern: ^[-\w\._]+$
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of Usage resources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsagesListResult"
            text/json:
              schema:
                $ref: "#/components/schemas/UsagesListResult"
      tags:
        - Usages
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Usage:
      description: Describes network resource usage.
      properties:
        currentValue:
          description: The current value of the usage.
          format: int64
          type: integer
        limit:
          description: The limit of usage.
          format: int64
          type: integer
        name:
          $ref: "#/components/schemas/UsageName"
        unit:
          description: An enum describing the unit of measurement.
          enum:
            - Count
          type: string
          x-ms-enum:
            modelAsString: true
            name: UsageUnit
      required:
        - unit
        - currentValue
        - limit
        - name
    UsageName:
      description: The usage names.
      properties:
        localizedValue:
          description: A localized string describing the resource name.
          type: string
        value:
          description: A string describing the resource name.
          type: string
    UsagesListResult:
      description: The list usages operation response.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: The list network resource usages.
          items:
            $ref: "#/components/schemas/Usage"
          type: array
