openapi: 3.0.0
info:
  description: Use these APIs to manage Visual Studio Team Services resources through the
    Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol
    specification and each operation returns an x-ms-request-id header that can
    be used to obtain information about the request. You must make sure that
    requests made to these resources are secure. For more information, see
    https://docs.microsoft.com/en-us/rest/api/index.
  title: Visual Studio Projects Resource Provider Client
  version: 2018-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/PipelineTemplates.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: visualstudio-PipelineTemplates
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/microsoft.visualstudio/pipelineTemplates:
    get:
      deprecated: true
      description: Gets all pipeline templates which can be used to configure a CI/CD
        pipeline in a new or an existing Team Services project.
      operationId: PipelineTemplates_List
      parameters:
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: The operation succeeded. The response is a list of all pipeline
            templates which can be used to configure a CI/CD pipeline in a new
            or an existing Team Services project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineTemplateResourceListResult"
              examples:
                Get a list of pipeline templates:
                  $ref: "#/components/examples/Get_a_list_of_pipeline_templates"
      summary: PipelineTemplates_List
      tags:
        - PipelineTemplates
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_a_list_of_pipeline_templates:
      value:
        value:
          - id: "null"
            properties:
              description: Template to configure CI/CD pipeline for deploying Nodejs
                application to Azure windows app service
              id: ms-portal-extension-nodejsAppOnWindowsWebApp
              inputs:
                - description: Name of the app service
                  id: webAppName
                  type: string
                - description: Pricing tier to use for creating app service plan.
                  id: servicePlanTier
                  possibleValues:
                    - DisplayValue: P1 Premium (1 Core, 1.75 GB RAM)
                      value: P1 Premium
                    - DisplayValue: S1 Standard (1 Core, 1.75 GB RAM)
                      value: S1 Standard
                    - DisplayValue: B1 Basic (1 Core, 1.75 GB RAM)
                      value: B1 Basic
                  type: string
                - description: SPN details for authorization
                  id: azureAuth
                  type: authorization
            type: microsoft.visualstudio/pipelineTemplate
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get a list of pipeline templates:
          value: 2018-08-01-preview
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    InputDescriptor:
      description: Defines a pipeline template input.
      properties:
        description:
          description: Description of what this input is used for.
          type: string
        id:
          description: Identifier for the input.
          type: string
        possibleValues:
          description: Possible values that this input can take.
          items:
            $ref: "#/components/schemas/InputValue"
          type: array
        type:
          description: Data type of the input.
          enum:
            - String
            - SecureString
            - Int
            - Bool
            - Authorization
          type: string
          x-ms-enum:
            modelAsString: true
            name: InputDataType
      required:
        - id
        - type
      type: object
    InputValue:
      description: Value for an input.
      properties:
        displayValue:
          description: Display text to show for the value of an input.
          type: string
        value:
          description: Value to store for an input.
          type: string
      type: object
    PipelineTemplate:
      description: Defines a pipeline template resource.
      properties:
        description:
          description: Description of the pipeline which this template enables.
          type: string
        id:
          description: Unique id of pipeline template.
          type: string
        inputs:
          description: Inputs required by this template to create pipeline.
          items:
            $ref: "#/components/schemas/InputDescriptor"
          type: array
      required:
        - id
      type: object
    PipelineTemplateResourceListResult:
      description: The response to pipeline template resource list GET request.
      properties:
        value:
          description: Array of resource details.
          items:
            $ref: "#/components/schemas/PipelineTemplate"
          type: array
      type: object
