openapi: 3.0.0
info:
  description: Logical subnet operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/LogicalSubnet.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-LogicalSubnet
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets":
    get:
      description: Returns a list of all logical subnets.
      operationId: LogicalSubnets_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all logical subnets.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all logical subnets.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all logical subnets.:
              value: local
        - $ref: "#/components/parameters/LogicalNetworkParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all logical subnets.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogicalSubnetList"
              examples:
                Returns a list of all logical subnets.:
                  $ref: "#/components/examples/Returns_a_list_of_all_logical_subnet\
                    s."
        "404":
          description: NOT FOUND
      tags:
        - LogicalSubnets
      x-ms-odata: "#/components/schemas/LogicalSubnet"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets/{logicalSubnet}":
    get:
      description: Returns the requested logical subnet.
      operationId: LogicalSubnets_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested logical subnet.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested logical subnet.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested logical subnet.:
              value: local
        - $ref: "#/components/parameters/LogicalNetworkParameter"
        - $ref: "#/components/parameters/LogicalSubnetParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested logical subnet.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogicalSubnet"
              examples:
                Returns the requested logical subnet.:
                  $ref: "#/components/examples/Returns_the_requested_logical_subnet."
        "404":
          description: NOT FOUND
      tags:
        - LogicalSubnets
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_logical_subnets.:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/de2b8680-ed17-4df9-a5f9-c05c090e8f4a
            location: local
            name: de2b8680-ed17-4df9-a5f9-c05c090e8f4a
            properties:
              ipPools:
                - 8b13b443-ed0e-462b-bf8e-415c69288fb5
              isPublic: false
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets
    Returns_the_requested_logical_subnet.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/de2b8680-ed17-4df9-a5f9-c05c090e8f4a
        location: local
        name: de2b8680-ed17-4df9-a5f9-c05c090e8f4a
        properties:
          ipPools:
            - 8b13b443-ed0e-462b-bf8e-415c69288fb5
          isPublic: false
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets
  parameters:
    LogicalNetworkParameter:
      description: Name of the logical network.
      in: path
      name: logicalNetwork
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns a list of all logical subnets.:
          value: 00000000-2222-1111-9999-000000000001
        Returns the requested logical subnet.:
          value: 00000000-2222-1111-9999-000000000001
    LogicalSubnetParameter:
      description: Name of the logical subnet.
      in: path
      name: logicalSubnet
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested logical subnet.:
          value: 9ea1839b-4025-416b-b67c-405d667691bb
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    LogicalSubnet:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This resource represents a logical subnet.  A logical subnet is made of
        a subnet-vlan pair.
      properties:
        properties:
          $ref: "#/components/schemas/LogicalSubnetModel"
      type: object
    LogicalSubnetList:
      description: Pageable list of logical subnets.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of logical subnets.
          items:
            $ref: "#/components/schemas/LogicalSubnet"
          type: array
      type: object
    LogicalSubnetModel:
      description: Properties of a logical subnet.
      properties:
        ipPools:
          description: All IP pools which belong to this subnet.
          items:
            type: string
          type: array
        isPublic:
          description: The visibility status of the IP pool.  If is true the associated
            pools are public IP address pools.
          type: boolean
        metadata:
          additionalProperties:
            type: string
          description: Metadata related to the logical network.
          type: object
      type: object
