openapi: 3.0.0
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/Volume.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Volume
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}/volumes":
    get:
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: local
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: S-Cluster.azurestack.local
        - description: Storage pool name.
          in: path
          name: storagePool
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: SU1_Pool
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all storage volumes at a location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeList"
              examples:
                Returns a list of all storage volumes at a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_volume\
                    s_at_a_location."
        "404":
          description: NOT FOUND
      tags:
        - Volumes
      x-ms-odata: "#/components/schemas/Volume"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}/volumes/{volume}":
    get:
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: local
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: S-Cluster.azurestack.local
        - description: Storage pool name.
          in: path
          name: storagePool
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: SU1_Pool
        - $ref: "#/components/parameters/VolumeParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Return the requested a storage volume.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Volume"
              examples:
                Return the requested a storage volume.:
                  $ref: "#/components/examples/Return_the_requested_a_storage_volum\
                    e."
        "404":
          description: NOT FOUND
      tags:
        - Volumes
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_volumes_at_a_location.:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool/volumes/05c1cbb7
            location: local
            name: 05c1cbb7
            properties:
              fileSystem: CSVFS_ReFS
              remainingSizeGB: 2191
              sizeGB: 2540
              volumeLabel: SU1_Volume
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools/volumes
    Return_the_requested_a_storage_volume.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool/volumes/05c1cbb7
        location: local
        name: 05c1cbb7
        properties:
          fileSystem: CSVFS_ReFS
          remainingSizeGB: 2191
          sizeGB: 2540
          volumeLabel: SU1_Volume
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools/volumes
  parameters:
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested a storage volume.:
          value: 28fbffa4
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Volume:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a volume resource.
      properties:
        properties:
          $ref: "#/components/schemas/VolumeModel"
      type: object
    VolumeList:
      description: Pageable list of storage volumes.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: "#/components/schemas/Volume"
          type: array
      type: object
    VolumeModel:
      description: Properties of a volume.
      properties:
        fileSystem:
          description: Filesystem type.
          type: string
        remainingSizeGB:
          description: Amount of free space in GB.
          format: int32
          type: integer
        sizeGB:
          description: Total amount of space in GB.
          format: int32
          type: integer
        volumeLabel:
          description: Volume label.
          type: string
      type: object
