openapi: 3.0.0
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: 2019-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Volume.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Volume
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes":
    get:
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: System.redmond
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: redmond
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: s-cluster
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all storage volumes at a location.:
              value: s-cluster.v.masd.stbtest.microsoft.com
        - $ref: "#/components/parameters/ApiVersionParameter"
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeList"
              examples:
                Returns a list of all storage volumes at a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_storage_volume\
                    s_at_a_location."
        "404":
          description: NOT FOUND
      tags:
        - Volumes
      x-ms-odata: "#/components/schemas/Volume"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}":
    get:
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: System.redmond
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: redmond
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: s-cluster
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested a storage volume.:
              value: s-cluster.v.masd.stbtest.microsoft.com
        - $ref: "#/components/parameters/VolumeParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Volume"
              examples:
                Return the requested a storage volume.:
                  $ref: "#/components/examples/Return_the_requested_a_storage_volum\
                    e."
        "404":
          description: NOT FOUND
      tags:
        - Volumes
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_storage_volumes_at_a_location.:
      value:
        value:
          - id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/volumes/48f356d4-362d-49cb-a021-fafffbe0e8ad
            location: redmond
            name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/48f356d4-362d-49cb-a021-fafffbe0e8ad
            properties:
              action: ""
              description: ""
              healthStatus: Healthy
              operationalStatus: OK
              remainingCapacityGB: 1317
              repairStatus: ""
              totalCapacityGB: 1375
              volumeLabel: ObjStore_1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
    Return_the_requested_a_storage_volume.:
      value:
        id: /subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/volumes/48f356d4-362d-49cb-a021-fafffbe0e8ad
        location: redmond
        name: redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/48f356d4-362d-49cb-a021-fafffbe0e8ad
        properties:
          action: ""
          description: ""
          healthStatus: Healthy
          operationalStatus: OK
          remainingCapacityGB: 1317
          repairStatus: ""
          totalCapacityGB: 1375
          volumeLabel: ObjStore_1
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2019-05-01
      examples:
        Returns a list of all storage volumes at a location.:
          value: 2019-05-01
        Return the requested a storage volume.:
          value: 2019-05-01
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested a storage volume.:
          value: 48f356d4-362d-49cb-a021-fafffbe0e8ad
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Volume:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Representation of a volume resource.
      properties:
        properties:
          $ref: "#/components/schemas/VolumeModel"
      type: object
    VolumeList:
      description: Pageable list of storage volumes.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: "#/components/schemas/Volume"
          type: array
      type: object
    VolumeModel:
      description: Properties of a volume.
      properties:
        action:
          description: Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          type: string
        description:
          description: Detailed description for HealthStatus/OperationalStatus. Empty if
            HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          type: string
        healthStatus:
          description: Health status of the volume.
          readOnly: true
          type: string
        operationalStatus:
          description: Operational status of the volume.
          readOnly: true
          type: string
        remainingCapacityGB:
          description: Remaining capacity in GB of the volume.
          format: int32
          readOnly: true
          type: integer
        repairStatus:
          description: Repair status of the volume. Empty if no repair job running,
            something like 'Running, 90%' when repairing.
          readOnly: true
          type: string
        totalCapacityGB:
          description: Total capacity in GB of the volume.
          format: int32
          readOnly: true
          type: integer
        volumeLabel:
          description: Volume label.
          readOnly: true
          type: string
      type: object
