openapi: 3.0.0
info:
  description: The Admin Commerce Management Client.
  title: CommerceManagementClient
  version: 2015-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Commerce
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Commerce.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
              examples:
                Returns the list of supported REST operations.:
                  $ref: "#/components/examples/Returns_the_list_of_supported_REST_o\
                    perations."
      tags:
        - Commerce
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates":
    get:
      description: Gets a collection of SubscriberUsageAggregates, which are
        UsageAggregates from users.
      operationId: SubscriberUsageAggregates_List
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/ReportedStartTimeParameter"
        - $ref: "#/components/parameters/ReportedEndTimeParameter"
        - $ref: "#/components/parameters/AggregationGranularityParameter"
        - $ref: "#/components/parameters/TenantSubscriptionIdParameter"
        - $ref: "#/components/parameters/ContinuationTokenParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageAggregatePage"
              examples:
                "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
                  $ref: "#/components/examples/Gets_a_collection_of_SubscriberUsage\
                    Aggregates_which_are_UsageAggregates_from_users."
      tags:
        - Commerce
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption":
    post:
      description: Update the encryption.
      operationId: UpdateEncryption
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
      tags:
        - Commerce
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_the_list_of_supported_REST_operations.:
      value:
        value:
          - display:
              description: Updates the encryption used to protect data in storage using the
                updated encryption configuration.
              operation: Update Encryption
              provider: Microsoft Commerce Service
              resource: UpdateEncryption
            name: Microsoft.Commerce.Admin/updateEncryption/action
          - display:
              description: Lists the supported operations.
              operation: List Operations
              provider: Microsoft Commerce Service
              resource: Operation
            name: Microsoft.Commerce.Admin/operations/read
    Gets_a_collection_of_SubscriberUsageAggregates_which_are_UsageAggregates_from_users.:
      value:
        value: []
  parameters:
    AggregationGranularityParameter:
      description: The aggregation granularity.
      in: query
      name: aggregationGranularity
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: ""
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2015-06-01-preview
      examples:
        Returns the list of supported REST operations.:
          value: 2015-06-01-preview
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: 2015-06-01-preview
        Update the encryption.:
          value: 2015-06-01-preview
    ContinuationTokenParameter:
      description: The continuation token.
      in: query
      name: continuationToken
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: ""
    ReportedEndTimeParameter:
      description: The reported end time (exclusive).
      in: query
      name: reportedEndTime
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: 2017-08-02T00:00:00.00Z
    ReportedStartTimeParameter:
      description: The reported start time (inclusive).
      in: query
      name: reportedStartTime
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: 2017-08-01T00:00:00.00Z
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        Update the encryption.:
          value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
    TenantSubscriptionIdParameter:
      description: The tenant subscription identifier.
      in: query
      name: subscriberId
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          value: ""
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Display:
      description: Contains the localized display information for this particular operation
        / action.
      properties:
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          type: string
        operation:
          description: The localized, friendly name for the operation. Use the name as it
            will be displayed to the user.
          type: string
        provider:
          description: The localized, friendly version of the resource provider name. The
            provider name is expected to include the name of the publisher or
            company responsible. The provider name format should use title case
            and begin with "Microsoft" for first-party services. For example,
            the provider name may be"Microsoft Monitoring Insights" or
            "Microsoft Compute".
          type: string
        resource:
          description: The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: "#/components/schemas/Display"
        name:
          description: The name of the operation performed on the object. The name should
            match the action name that appears in RBAC or the event service.
          type: string
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: "#/components/schemas/Operation"
          type: array
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location where resource is location.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UsageAggregate:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: Aggregate usage values for resource.
      properties:
        properties:
          $ref: "#/components/schemas/UsageAggregateModel"
      type: object
    UsageAggregateModel:
      description: Properties for aggregate usage.
      properties:
        instanceData:
          description: Key-value pairs of instance details represented as a string.
          type: string
        meterId:
          description: Unique ID for the resource that was consumed, for example, the
            Resource ID.
          type: string
        quantity:
          description: The amount of the resource consumption that occurred in this time
            frame.
          type: string
        subscriptionId:
          description: Subscription ID of tenant using plan.
          type: string
        usageEndTime:
          description: UTC end time for the usage category to which this usage aggregate
            belongs.
          format: date-time
          type: string
        usageStartTime:
          description: UTC start time for the usage category to which this usage aggregate
            belongs.
          format: date-time
          type: string
      type: object
    UsageAggregatePage:
      description: Pageable list of usage aggregates
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of usage aggregates.
          items:
            $ref: "#/components/schemas/UsageAggregate"
          type: array
