openapi: 3.0.0
info:
  description: This API describe ACE Provisioning ManagementPartner
  title: ACE Provisioning ManagementPartner
  version: 2018-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementpartner/resource-manager/Microsoft.ManagementPartner/preview/2018-02-01/ManagementPartner.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: managementpartner-ManagementPartner
  x-tags:
    - Azure
    - Microsoft
paths:
  /providers/Microsoft.ManagementPartner/operations:
    get:
      description: List all the operations.
      operationId: Operation_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
              examples:
                GetOperations:
                  $ref: "#/components/examples/GetOperations"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Get operations.
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ManagementPartner/partners:
    get:
      description: Get the management partner using the objectId and tenantId.
      operationId: Partners_Get
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerResponse"
              examples:
                GetPartnerDetails:
                  $ref: "#/components/examples/GetPartnerDetails"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Get a specific `Partner`.
      tags:
        - Partners
  "/providers/Microsoft.ManagementPartner/partners/{partnerId}":
    delete:
      description: Delete the management partner for the objectId and tenantId.
      operationId: Partner_Delete
      parameters:
        - $ref: "#/components/parameters/PartnerIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Deleted the `Partner`.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Delete a specific `Partner`.
      tags:
        - Partner
    get:
      description: Get the management partner using the partnerId, objectId and tenantId.
      operationId: Partner_Get
      parameters:
        - $ref: "#/components/parameters/PartnerIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerResponse"
              examples:
                GetPartnerDetails:
                  $ref: "#/components/examples/GetPartnerDetails"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Get a specific `Partner`.
      tags:
        - Partner
    patch:
      description: Update the management partner for the objectId and tenantId.
      operationId: Partner_Update
      parameters:
        - $ref: "#/components/parameters/PartnerIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerResponse"
              examples:
                PatchPartnerDetails:
                  $ref: "#/components/examples/PatchPartnerDetails"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Update a specific `Partner`.
      tags:
        - Partner
    put:
      description: Create a management partner for the objectId and tenantId.
      operationId: Partner_Create
      parameters:
        - $ref: "#/components/parameters/PartnerIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerResponse"
              examples:
                PutPartnerDetails:
                  $ref: "#/components/examples/PutPartnerDetails"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      summary: Create a specific `Partner`.
      tags:
        - Partner
servers:
  - url: https://management.azure.com
components:
  examples:
    GetOperations:
      value:
        value:
          - display:
              description: Read All ManagementPartner
              operation: Get ManagementPartner
              provider: Microsoft ManagementPartner
              resource: ManagementPartner
            name: Microsoft.ManagementPartner/partners/read
          - display:
              description: Create any ManagementPartner
              operation: Create ManagementPartner
              provider: Microsoft ManagementPartner
              resource: ManagementPartner
            name: Microsoft.ManagementPartner/partners/write
          - display:
              description: Update any ManagementPartner
              operation: Update ManagementPartner
              provider: Microsoft ManagementPartner
              resource: ManagementPartner
            name: Microsoft.ManagementPartner/partners/action
          - display:
              description: Delete any ManagementPartner
              operation: Delete ManagementPartner
              provider: Microsoft ManagementPartner
              resource: ManagementPartner
            name: Microsoft.ManagementPartner/partners/delete
    GetPartnerDetails:
      value:
        etag: 3
        id: /providers/microsoft.managementpartner/partners/123456
        name: "123456"
        properties:
          createdTime: 2018-01-20T01:23:40.5280496Z
          objectId: aa67f786-0552-423e-8849-244ed12bf581
          partnerId: "123456"
          partnerName: Test_jefl
          state: Active
          tenantId: 1b1121dd-6900-412a-af73-e8d44f81e1c1
          updatedTime: 2018-01-20T01:52:57.9126052Z
          version: "3"
        type: Microsoft.ManagementPartner/partner
    PatchPartnerDetails:
      value:
        etag: 3
        id: /providers/microsoft.managementpartner/partners/123456
        name: "123456"
        properties:
          createdTime: 2018-01-20T01:23:40.5280496Z
          objectId: aa67f786-0552-423e-8849-244ed12bf581
          partnerId: "123456"
          partnerName: Test_jefl
          state: Active
          tenantId: 1b1121dd-6900-412a-af73-e8d44f81e1c1
          updatedTime: 2018-01-20T01:52:57.9126052Z
          version: "3"
        type: Microsoft.ManagementPartner/partner
    PutPartnerDetails:
      value:
        etag: 3
        id: /providers/microsoft.managementpartner/partners/123456
        name: "123456"
        properties:
          createdTime: 2018-01-20T01:23:40.5280496Z
          objectId: aa67f786-0552-423e-8849-244ed12bf581
          partnerId: "123456"
          partnerName: Test_jefl
          state: Active
          tenantId: 1b1121dd-6900-412a-af73-e8d44f81e1c1
          updatedTime: 2018-01-20T01:52:57.9126052Z
          version: "3"
        type: Microsoft.ManagementPartner/partner
  parameters:
    ApiVersionParameter:
      description: Supported version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        GetOperations:
          value: 2018-02-01
        GetPartnerDetails:
          value: 2018-02-01
        DeletePartnerDetails:
          value: 2018-02-01
        PatchPartnerDetails:
          value: 2018-02-01
        PutPartnerDetails:
          value: 2018-02-01
    PartnerIdParameter:
      description: Id of the Partner
      in: path
      name: partnerId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        DeletePartnerDetails:
          value: "123456"
        GetPartnerDetails:
          value: "123456"
        PatchPartnerDetails:
          value: "123456"
        PutPartnerDetails:
          value: "123456"
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Error:
      description: this is the management partner operations error
      properties:
        error:
          $ref: "#/components/schemas/ExtendedErrorInfo"
      type: object
    ErrorResponseCode:
      description: this is the error response code that management partner operations may
        return
      enum:
        - NotFound
        - Conflict
        - BadRequest
      type: string
    ExtendedErrorInfo:
      description: this is the extended error info
      properties:
        code:
          $ref: "#/components/schemas/ErrorResponseCode"
        message:
          description: this is the extended error info message
          type: string
      type: object
    ManagementPartnerState:
      description: "this is the management partner state: Active or Deleted"
      enum:
        - Active
        - Deleted
      type: string
    OperationDisplay:
      description: this is the management partner operation
      properties:
        description:
          description: the is management partner operation description
          type: string
        operation:
          description: the is management partner operation
          type: string
        provider:
          description: the is management partner provider
          type: string
        resource:
          description: the is management partner resource
          type: string
      type: object
    OperationList:
      description: this is the management partner operations list
      properties:
        nextLink:
          description: Url to get the next page of items.
          type: string
        value:
          description: this is the operation response list
          items:
            $ref: "#/components/schemas/OperationResponse"
          type: array
      type: object
    OperationResponse:
      description: this is the management partner operations response
      properties:
        display:
          $ref: "#/components/schemas/OperationDisplay"
        name:
          description: this is the operation response name
          type: string
        origin:
          description: the is operation response origin information
          type: string
      type: object
    PartnerProperties:
      description: this is the management partner properties
      properties:
        createdTime:
          description: This is the DateTime when the partner was created.
          format: date-time
          type: string
        objectId:
          description: This is the object id.
          type: string
        partnerId:
          description: This is the partner id
          type: string
        partnerName:
          description: This is the partner name
          type: string
        state:
          $ref: "#/components/schemas/ManagementPartnerState"
        tenantId:
          description: This is the tenant id.
          type: string
        updatedTime:
          description: This is the DateTime when the partner was updated.
          format: date-time
          type: string
        version:
          description: This is the version.
          type: string
      type: object
    PartnerResponse:
      description: this is the management partner operations response
      properties:
        etag:
          description: Type of the partner
          type: integer
        id:
          description: Identifier of the partner
          readOnly: true
          type: string
        name:
          description: Name of the partner
          readOnly: true
          type: string
        properties:
          $ref: "#/components/schemas/PartnerProperties"
        type:
          description: Type of resource. "Microsoft.ManagementPartner/partners"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
