openapi: 3.0.0
info:
  title: PolicyTrackedResourcesClient
  version: 2018-07-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/policyTrackedResources.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: policyinsights-policyTrackedResources
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults":
    post:
      description: Queries policy tracked resources under the management group.
      operationId: PolicyTrackedResources_ListQueryResultsForManagementGroup
      parameters:
        - $ref: "#/components/parameters/managementGroupsNamespaceParameter"
        - $ref: "#/components/parameters/managementGroupNameParameter"
        - $ref: "#/components/parameters/policyTrackedResourcesResourceParameter"
        - $ref: "#/components/parameters/topParameter"
        - $ref: "#/components/parameters/filterParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTrackedResourcesQueryResults"
              examples:
                Query at management group scope:
                  $ref: "#/components/examples/Query_at_management_group_scope"
                Query at management group scope using query parameters:
                  $ref: "#/components/examples/Query_at_management_group_scope_usin\
                    g_query_parameters"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryFailure"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults":
    post:
      description: Queries policy tracked resources under the subscription.
      operationId: PolicyTrackedResources_ListQueryResultsForSubscription
      parameters:
        - $ref: "#/components/parameters/policyTrackedResourcesResourceParameter"
        - $ref: "#/components/parameters/topParameter"
        - $ref: "#/components/parameters/filterParameter"
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTrackedResourcesQueryResults"
              examples:
                Query at subscription scope:
                  $ref: "#/components/examples/Query_at_subscription_scope"
                Query at subscription scope using query parameters:
                  $ref: "#/components/examples/Query_at_subscription_scope_using_qu\
                    ery_parameters"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryFailure"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults":
    post:
      description: Queries policy tracked resources under the resource group.
      operationId: PolicyTrackedResources_ListQueryResultsForResourceGroup
      parameters:
        - $ref: "#/components/parameters/resourceGroupNameParameter"
        - $ref: "#/components/parameters/policyTrackedResourcesResourceParameter"
        - $ref: "#/components/parameters/topParameter"
        - $ref: "#/components/parameters/filterParameter"
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTrackedResourcesQueryResults"
              examples:
                Query at resource group scope:
                  $ref: "#/components/examples/Query_at_resource_group_scope"
                Query at resource group scope using query parameters:
                  $ref: "#/components/examples/Query_at_resource_group_scope_using_\
                    query_parameters"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryFailure"
      x-ms-pageable:
        nextLinkName: nextLink
  "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults":
    post:
      description: Queries policy tracked resources under the resource.
      operationId: PolicyTrackedResources_ListQueryResultsForResource
      parameters:
        - $ref: "#/components/parameters/resourceIdParameter"
        - $ref: "#/components/parameters/policyTrackedResourcesResourceParameter"
        - $ref: "#/components/parameters/topParameter"
        - $ref: "#/components/parameters/filterParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTrackedResourcesQueryResults"
              examples:
                Query at resource scope:
                  $ref: "#/components/examples/Query_at_resource_scope"
                Query at resource scope using query parameters:
                  $ref: "#/components/examples/Query_at_resource_scope_using_query_\
                    parameters"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryFailure"
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  examples:
    Query_at_management_group_scope:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1
          - lastUpdateUtc: 2018-08-10T00:40:17.3585243Z
            policyDetails:
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2
    Query_at_management_group_scope_using_query_parameters:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName
    Query_at_subscription_scope:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1
          - lastUpdateUtc: 2018-08-10T00:40:17.3585243Z
            policyDetails:
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2
    Query_at_subscription_scope_using_query_parameters:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName
    Query_at_resource_group_scope:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName1
          - lastUpdateUtc: 2018-08-10T00:40:17.3585243Z
            policyDetails:
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName2
    Query_at_resource_group_scope_using_query_parameters:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1
    Query_at_resource_scope:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1
          - lastUpdateUtc: 2018-08-10T00:40:17.3585243Z
            policyDetails:
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment2
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition2
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource2
    Query_at_resource_scope_using_query_parameters:
      value:
        value:
          - createdBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-03-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/createdByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/createdByPolicyDefinition
            lastModifiedBy:
              deploymentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Resources/deployments/deploymentName
              deploymentTime: 2018-04-09T00:00:00.0000000Z
              policyDetails:
                policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/lastModifiedByPolicyAssignment
                policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/
                policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/lastModifiedByPolicyDefinition
            lastUpdateUtc: 2018-08-09T20:40:17.3585243Z
            policyDetails:
              policyAssignmentDisplayName: My Policy Assignment 1 Display name
              policyAssignmentId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment1
              policyAssignmentScope: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/
              policyDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyDefinitions/myPolicyDefinition1
              policyDefinitionReferenceId: 123ABC
              policySetDefinitionId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/providers/Microsoft.Authorization/policySetDefinitions/mySetDefinition
            trackedResourceId: /subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1
  parameters:
    apiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        Query at management group scope:
          value: 2018-07-01-preview
        Query at management group scope using query parameters:
          value: 2018-07-01-preview
        Query at subscription scope:
          value: 2018-07-01-preview
        Query at subscription scope using query parameters:
          value: 2018-07-01-preview
        Query at resource group scope:
          value: 2018-07-01-preview
        Query at resource group scope using query parameters:
          value: 2018-07-01-preview
        Query at resource scope:
          value: 2018-07-01-preview
        Query at resource scope using query parameters:
          value: 2018-07-01-preview
    filterParameter:
      description: OData filter expression.
      in: query
      name: $filter
      required: false
      x-ms-client-name: Filter
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Query at management group scope using query parameters:
          value: PolicyAssignmentId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment'
            AND TrackedResourceId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName'
        Query at subscription scope using query parameters:
          value: PolicyAssignmentId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment'
            AND TrackedResourceId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/exampleTrackedResourceName'
        Query at resource group scope using query parameters:
          value: PolicyAssignmentId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment'
            AND TrackedResourceId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1'
        Query at resource scope using query parameters:
          value: PolicyAssignmentId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Authorization/policyAssignments/myPolicyAssignment'
            AND TrackedResourceId eq
            '/subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource/nestedResourceType/TrackedResource1'
    managementGroupNameParameter:
      description: Management group name.
      in: path
      name: managementGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Query at management group scope:
          value: myManagementGroup
        Query at management group scope using query parameters:
          value: myManagementGroup
    managementGroupsNamespaceParameter:
      description: The namespace for Microsoft Management RP; only "Microsoft.Management"
        is allowed.
      in: path
      name: managementGroupsNamespace
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - Microsoft.Management
      examples:
        Query at management group scope:
          value: Microsoft.Management
        Query at management group scope using query parameters:
          value: Microsoft.Management
    policyTrackedResourcesResourceParameter:
      description: The name of the virtual resource under PolicyTrackedResources resource
        type; only "default" is allowed.
      in: path
      name: policyTrackedResourcesResource
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - default
      examples:
        Query at management group scope:
          value: default
        Query at management group scope using query parameters:
          value: default
        Query at subscription scope:
          value: default
        Query at subscription scope using query parameters:
          value: default
        Query at resource group scope:
          value: default
        Query at resource group scope using query parameters:
          value: default
        Query at resource scope:
          value: default
        Query at resource scope using query parameters:
          value: default
    resourceGroupNameParameter:
      description: Resource group name.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Query at resource group scope:
          value: myResourceGroup
        Query at resource group scope using query parameters:
          value: myResourceGroup
    resourceIdParameter:
      description: Resource ID.
      in: path
      name: resourceId
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
      examples:
        Query at resource scope:
          value: subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource
        Query at resource scope using query parameters:
          value: subscriptions/fff8dfdb-fff3-fff0-fff4-fffdcbe6b2ef/resourceGroups/myResourceGroup/providers/Microsoft.Example/exampleResourceType/myResource
    subscriptionIdParameter:
      description: Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        Query at subscription scope:
          value: fffedd8f-ffff-fffd-fffd-fffed2f84852
        Query at subscription scope using query parameters:
          value: fffedd8f-ffff-fffd-fffd-fffed2f84852
        Query at resource group scope:
          value: fffedd8f-ffff-fffd-fffd-fffed2f84852
        Query at resource group scope using query parameters:
          value: fffedd8f-ffff-fffd-fffd-fffed2f84852
    topParameter:
      description: Maximum number of records to return.
      in: query
      name: $top
      required: false
      x-ms-client-name: Top
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
      examples:
        Query at management group scope using query parameters:
          value: 1
        Query at subscription scope using query parameters:
          value: 1
        Query at resource group scope using query parameters:
          value: 1
        Query at resource scope using query parameters:
          value: 1
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PolicyDetails:
      description: The policy details.
      properties:
        policyAssignmentDisplayName:
          description: The display name of the policy assignment.
          readOnly: true
          type: string
        policyAssignmentId:
          description: The ID of the policy assignment.
          readOnly: true
          type: string
        policyAssignmentScope:
          description: The scope of the policy assignment.
          readOnly: true
          type: string
        policyDefinitionId:
          description: The ID of the policy definition.
          readOnly: true
          type: string
        policyDefinitionReferenceId:
          description: The policy definition reference ID within the policy set definition.
          readOnly: true
          type: string
        policySetDefinitionId:
          description: The ID of the policy set definition.
          readOnly: true
          type: string
      type: object
    PolicyTrackedResource:
      description: Policy tracked resource record.
      properties:
        createdBy:
          $ref: "#/components/schemas/TrackedResourceModificationDetails"
        lastModifiedBy:
          $ref: "#/components/schemas/TrackedResourceModificationDetails"
        lastUpdateUtc:
          description: Timestamp of the last update to the tracked resource.
          format: date-time
          readOnly: true
          type: string
        policyDetails:
          $ref: "#/components/schemas/PolicyDetails"
        trackedResourceId:
          description: The ID of the policy tracked resource.
          readOnly: true
          type: string
      type: object
    PolicyTrackedResourcesQueryResults:
      description: Query results.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: Query results.
          items:
            $ref: "#/components/schemas/PolicyTrackedResource"
          readOnly: true
          type: array
    QueryFailure:
      description: Error response.
      properties:
        error:
          description: Error definition.
          properties:
            code:
              description: Service specific error code which serves as the substatus for
                the HTTP error code.
              readOnly: true
              type: string
            message:
              description: Description of the error.
              readOnly: true
              type: string
    TrackedResourceModificationDetails:
      description: The details of the policy triggered deployment that created or modified
        the tracked resource.
      properties:
        deploymentId:
          description: The ID of the deployment that created or modified the tracked
            resource.
          readOnly: true
          type: string
        deploymentTime:
          description: Timestamp of the deployment that created or modified the tracked
            resource.
          format: date-time
          readOnly: true
          type: string
        policyDetails:
          $ref: "#/components/schemas/PolicyDetails"
      type: object
