openapi: 3.0.0
info:
  description: MAC address pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/MacAddressPool.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-MacAddressPool
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools":
    get:
      description: Returns a list of all MAC address pools at a location.
      operationId: MacAddressPools_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns all MAC address pools:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns all MAC address pools:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns all MAC address pools:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns all MAC address pools:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MacAddressPoolList"
              examples:
                Returns all MAC address pools:
                  $ref: "#/components/examples/Returns_all_MAC_address_pools"
        "404":
          description: NOT FOUND
      tags:
        - MacAddressPools
      x-ms-odata: "#/components/schemas/MacAddressPool"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools/{macAddressPool}":
    get:
      description: Returns the requested MAC address pool.
      operationId: MacAddressPools_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested MAC address pool.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested MAC address pool.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested MAC address pool.:
              value: local
        - $ref: "#/components/parameters/MACAddressPoolParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested MAC address pool.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MacAddressPool"
              examples:
                Returns the requested MAC address pool.:
                  $ref: "#/components/examples/Returns_the_requested_MAC_address_po\
                    ol."
        "404":
          description: NOT FOUND
      tags:
        - MacAddressPools
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_all_MAC_address_pools:
      value:
        value:
          - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/macAddressPools/8197fd09-8a69-417e-a55c-10c2c61f5ee7
            location: local
            name: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
            properties:
              endMacAddress: 00-1D-D8-F4-1F-FF
              numberOfAllocatedMacAddresses: 5
              numberOfAvailableMacAddresses: 3998715
              startMacAddress: 00-1D-D8-B7-1C-00
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/macAddressPools
    Returns_the_requested_MAC_address_pool.:
      value:
        id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/macAddressPools/8197fd09-8a69-417e-a55c-10c2c61f5ee7
        location: local
        name: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
        properties:
          endMacAddress: 00-1D-D8-F4-1F-FF
          numberOfAllocatedMacAddresses: 5
          numberOfAvailableMacAddresses: 3998715
          startMacAddress: 00-1D-D8-B7-1C-00
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/macAddressPools
  parameters:
    MACAddressPoolParameter:
      description: Name of the MAC address pool.
      in: path
      name: macAddressPool
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested MAC address pool.:
          value: 8197fd09-8a69-417e-a55c-10c2c61f5ee7
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    MacAddressPool:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This resource represents a MAC address pool.  The default MAC address
        pools are used if you set the MAC address type for a virtual machine to
        'Static'.  If the virtual machine setting is 'Dynamic', the hypervisor
        assigns the MAC address.
      properties:
        properties:
          $ref: "#/components/schemas/MacAddressPoolModel"
      type: object
    MacAddressPoolList:
      description: A pageable list of MAC address pools.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of MAC address pools.
          items:
            $ref: "#/components/schemas/MacAddressPool"
          type: array
      type: object
    MacAddressPoolModel:
      description: Properties of a MAC address pool.
      properties:
        endMacAddress:
          description: Ending MAC address.
          type: string
        metadata:
          additionalProperties:
            type: string
          description: Metadata related to the MAC pool.
          type: object
        numberOfAllocatedMacAddresses:
          description: Number of MAC addresses allocated.
          format: int64
          type: integer
        numberOfAvailableMacAddresses:
          description: Number of MAC addresses available.
          format: int64
          type: integer
        startMacAddress:
          description: Starting MAC address.
          type: string
      type: object
