openapi: 3.0.0
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-07-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/AccountFilters.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: mediaservices-AccountFilters
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters":
    get:
      description: List Account Filters in the Media Services account.
      operationId: AccountFilters_List
      parameters:
        - $ref: "#/components/parameters/SubscriptionId"
        - $ref: "#/components/parameters/ResourceGroupName"
        - $ref: "#/components/parameters/MediaServicesAccountName"
        - $ref: "#/components/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFilterCollection"
              examples:
                List all Account Filters:
                  $ref: "#/components/examples/List_all_Account_Filters"
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      summary: List Account Filters
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters/{filterName}":
    delete:
      description: Deletes an Account Filter in the Media Services account.
      operationId: AccountFilters_Delete
      parameters:
        - $ref: "#/components/parameters/SubscriptionId"
        - $ref: "#/components/parameters/ResourceGroupName"
        - $ref: "#/components/parameters/MediaServicesAccountName"
        - description: The Account Filter name
          in: path
          name: filterName
          required: true
          schema:
            type: string
          examples:
            Delete an Account Filter:
              value: accountFilterWithTimeWindowAndTrack
        - $ref: "#/components/parameters/ApiVersion"
      responses:
        "200":
          description: OK
        "204":
          description: NoContent
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      summary: Delete an Account Filter.
    get:
      description: Get the details of an Account Filter in the Media Services account.
      operationId: AccountFilters_Get
      parameters:
        - $ref: "#/components/parameters/SubscriptionId"
        - $ref: "#/components/parameters/ResourceGroupName"
        - $ref: "#/components/parameters/MediaServicesAccountName"
        - description: The Account Filter name
          in: path
          name: filterName
          required: true
          schema:
            type: string
          examples:
            Get an Account Filter by name:
              value: accountFilterWithTrack
        - $ref: "#/components/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFilter"
              examples:
                Get an Account Filter by name:
                  $ref: "#/components/examples/Get_an_Account_Filter_by_name"
        "404":
          description: NotFound
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      summary: Get an Account Filter.
    patch:
      description: Updates an existing Account Filter in the Media Services account.
      operationId: AccountFilters_Update
      parameters:
        - $ref: "#/components/parameters/SubscriptionId"
        - $ref: "#/components/parameters/ResourceGroupName"
        - $ref: "#/components/parameters/MediaServicesAccountName"
        - description: The Account Filter name
          in: path
          name: filterName
          required: true
          schema:
            type: string
          examples:
            Update an Account Filter:
              value: accountFilterWithTimeWindowAndTrack
        - $ref: "#/components/parameters/ApiVersion"
      requestBody:
        $ref: "#/components/requestBodies/AccountFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFilter"
              examples:
                Update an Account Filter:
                  $ref: "#/components/examples/Update_an_Account_Filter"
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      summary: Update an Account Filter
    put:
      description: Creates or updates an Account Filter in the Media Services account.
      operationId: AccountFilters_CreateOrUpdate
      parameters:
        - $ref: "#/components/parameters/SubscriptionId"
        - $ref: "#/components/parameters/ResourceGroupName"
        - $ref: "#/components/parameters/MediaServicesAccountName"
        - description: The Account Filter name
          in: path
          name: filterName
          required: true
          schema:
            type: string
          examples:
            Create an Account Filter:
              value: newAccountFilter
        - $ref: "#/components/parameters/ApiVersion"
      requestBody:
        $ref: "#/components/requestBodies/AccountFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFilter"
              examples:
                Create an Account Filter:
                  $ref: "#/components/examples/Create_an_Account_Filter"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFilter"
              examples:
                Create an Account Filter:
                  $ref: "#/components/examples/Create_an_Account_Filter"
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      summary: Create or update an Account Filter
servers:
  - url: https://management.azure.com
components:
  examples:
    List_all_Account_Filters:
      value:
        value:
          - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTimeWindowAndTrack
            name: accountFilterWithTimeWindowAndTrack
            properties:
              firstQuality:
                bitrate: 128000
              presentationTimeRange:
                endTimestamp: 170000000
                forceEndTimestamp: false
                liveBackoffDuration: 0
                presentationWindowDuration: 9223372036854776000
                startTimestamp: 0
                timescale: 10000000
              tracks:
                - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
            type: Microsoft.Media/mediaservices/accountFilters
          - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTrack
            name: accountFilterWithTrack
            properties:
              tracks:
                - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
            type: Microsoft.Media/mediaservices/accountFilters
    Get_an_Account_Filter_by_name:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTrack
        name: accountFilterWithTrack
        properties:
          tracks:
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Audio
                - operation: NotEqual
                  property: Language
                  value: en
                - operation: NotEqual
                  property: FourCC
                  value: EC-3
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Video
                - operation: Equal
                  property: Bitrate
                  value: 3000000-5000000
        type: Microsoft.Media/mediaservices/accountFilters
    Update_an_Account_Filter:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTimeWindowAndTrack
        name: accountFilterWithTimeWindowAndTrack
        properties:
          firstQuality:
            bitrate: 128000
          presentationTimeRange:
            endTimestamp: 170000000
            forceEndTimestamp: false
            liveBackoffDuration: 0
            presentationWindowDuration: 9223372036854776000
            startTimestamp: 10
            timescale: 10000000
          tracks:
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Audio
                - operation: NotEqual
                  property: Language
                  value: en
                - operation: NotEqual
                  property: FourCC
                  value: EC-3
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Video
                - operation: Equal
                  property: Bitrate
                  value: 3000000-5000000
        type: Microsoft.Media/mediaservices/accountFilters
    Create_an_Account_Filter:
      value:
        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/newAccountFilter
        name: newAccountFilter
        properties:
          firstQuality:
            bitrate: 128000
          presentationTimeRange:
            endTimestamp: 170000000
            forceEndTimestamp: false
            liveBackoffDuration: 0
            presentationWindowDuration: 9223372036854776000
            startTimestamp: 0
            timescale: 10000000
          tracks:
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Audio
                - operation: NotEqual
                  property: Language
                  value: en
                - operation: NotEqual
                  property: FourCC
                  value: EC-3
            - trackSelections:
                - operation: Equal
                  property: Type
                  value: Video
                - operation: Equal
                  property: Bitrate
                  value: 3000000-5000000
        type: Microsoft.Media/mediaservices/accountFilters
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        List all Account Filters:
          value: 2018-07-01
        Delete an Account Filter:
          value: 2018-07-01
        Get an Account Filter by name:
          value: 2018-07-01
        Update an Account Filter:
          value: 2018-07-01
        Create an Account Filter:
          value: 2018-07-01
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List all Account Filters:
          value: contosomedia
        Delete an Account Filter:
          value: contosomedia
        Get an Account Filter by name:
          value: contosomedia
        Update an Account Filter:
          value: contosomedia
        Create an Account Filter:
          value: contosomedia
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List all Account Filters:
          value: contoso
        Delete an Account Filter:
          value: contoso
        Get an Account Filter by name:
          value: contoso
        Update an Account Filter:
          value: contoso
        Create an Account Filter:
          value: contoso
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List all Account Filters:
          value: 00000000-0000-0000-0000-000000000000
        Delete an Account Filter:
          value: 00000000-0000-0000-0000-000000000000
        Get an Account Filter by name:
          value: 00000000-0000-0000-0000-000000000000
        Update an Account Filter:
          value: 00000000-0000-0000-0000-000000000000
        Create an Account Filter:
          value: 00000000-0000-0000-0000-000000000000
  requestBodies:
    AccountFilter:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AccountFilter"
      description: The request parameters
      required: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    AccountFilter:
      allOf:
        - allOf:
            - description: The core properties of ARM resources.
              properties:
                id:
                  description: Fully qualified resource ID for the resource.
                  readOnly: true
                  type: string
                name:
                  description: The name of the resource.
                  readOnly: true
                  type: string
                type:
                  description: The type of the resource.
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
          description: The resource model definition for a ARM proxy resource.
      description: An Account Filter.
      properties:
        properties:
          $ref: "#/components/schemas/MediaFilterProperties"
      type: object
    AccountFilterCollection:
      description: A collection of AccountFilter items.
      properties:
        "@odata.nextLink":
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of AccountFilter items.
          items:
            $ref: "#/components/schemas/AccountFilter"
          type: array
      type: object
    ApiError:
      description: The API error.
      properties:
        error:
          $ref: "#/components/schemas/ODataError"
      type: object
    FilterTrackPropertyCondition:
      description: The class to specify one track property condition.
      properties:
        operation:
          description: The track property condition operation.
          enum:
            - Equal
            - NotEqual
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterTrackPropertyCompareOperation
            values:
              - description: The equal operation.
                value: Equal
              - description: The not equal operation.
                value: NotEqual
        property:
          description: The track property type.
          enum:
            - Unknown
            - Type
            - Name
            - Language
            - FourCC
            - Bitrate
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterTrackPropertyType
            values:
              - description: The unknown track property type.
                value: Unknown
              - description: The type.
                value: Type
              - description: The name.
                value: Name
              - description: The language.
                value: Language
              - description: The fourCC.
                value: FourCC
              - description: The bitrate.
                value: Bitrate
        value:
          description: The track property value.
          type: string
      required:
        - property
        - value
        - operation
      type: object
    FilterTrackSelection:
      description: Representing a list of FilterTrackPropertyConditions to select a
        track.  The filters are combined using a logical AND operation.
      properties:
        trackSelections:
          description: The track selections.
          items:
            $ref: "#/components/schemas/FilterTrackPropertyCondition"
          type: array
      required:
        - trackSelections
      type: object
    FirstQuality:
      description: Filter First Quality
      properties:
        bitrate:
          description: The first quality bitrate.
          format: int32
          type: integer
      required:
        - bitrate
      type: object
    MediaFilterProperties:
      description: The Media Filter properties.
      properties:
        firstQuality:
          $ref: "#/components/schemas/FirstQuality"
        presentationTimeRange:
          $ref: "#/components/schemas/PresentationTimeRange"
        tracks:
          description: The tracks selection conditions.
          items:
            $ref: "#/components/schemas/FilterTrackSelection"
          type: array
      type: object
    ODataError:
      description: Information about an error.
      properties:
        code:
          description: A language-independent error name.
          type: string
        details:
          description: The error details.
          items:
            $ref: "#/components/schemas/ODataError"
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The target of the error (for example, the name of the property in
            error).
          type: string
      type: object
    PresentationTimeRange:
      description: The presentation time range, this is asset related and not recommended
        for Account Filter.
      properties:
        endTimestamp:
          description: The absolute end time boundary.
          format: int64
          type: integer
        forceEndTimestamp:
          description: The indicator of forcing existing of end time stamp.
          type: boolean
        liveBackoffDuration:
          description: The relative to end right edge.
          format: int64
          type: integer
        presentationWindowDuration:
          description: The relative to end sliding window.
          format: int64
          type: integer
        startTimestamp:
          description: The absolute start time boundary.
          format: int64
          type: integer
        timescale:
          description: The time scale of time stamps.
          format: int64
          type: integer
      type: object
