openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/logProfiles_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-logProfiles_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles":
    get:
      description: List the log profiles.
      operationId: LogProfiles_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request to list log profiles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogProfileCollection"
              examples:
                List log profiles:
                  $ref: "#/components/examples/List_log_profiles"
      tags:
        - LogProfiles
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}":
    delete:
      description: Deletes the log profile.
      operationId: LogProfiles_Delete
      parameters:
        - $ref: "#/components/parameters/LogProfileNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request to delete a log profile
      tags:
        - LogProfiles
    get:
      description: Gets the log profile.
      operationId: LogProfiles_Get
      parameters:
        - $ref: "#/components/parameters/LogProfileNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request to get more information about a log profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogProfileResource"
              examples:
                Get log profile:
                  $ref: "#/components/examples/Get_log_profile"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - LogProfiles
    patch:
      description: Updates an existing LogProfilesResource. To update other fields use the
        CreateOrUpdate method.
      operationId: LogProfiles_Update
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/LogProfileNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogProfileResourcePatch"
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          description: An existing log profile was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogProfileResource"
              examples:
                Patch a log profile:
                  $ref: "#/components/examples/Patch_a_log_profile"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      description: Create or update a log profile in Azure Monitoring REST API.
      operationId: LogProfiles_CreateOrUpdate
      parameters:
        - $ref: "#/components/parameters/LogProfileNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogProfileResource"
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          description: Successful request to create or update a log profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogProfileResource"
              examples:
                Create or update a log profile:
                  $ref: "#/components/examples/Create_or_update_a_log_profile"
      tags:
        - LogProfiles
servers:
  - url: https://management.azure.com
components:
  examples:
    List_log_profiles:
      value:
        value:
          - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
            location: ""
            name: default
            properties:
              categories:
                - Delete
                - Write
                - Action
              locations:
                - global
              retentionPolicy:
                days: 3
                enabled: true
              serviceBusRuleId: ""
              storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
            type: ""
          - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default2
            location: ""
            name: default2
            properties:
              categories:
                - Delete
                - Write
                - Action
              locations:
                - global
              retentionPolicy:
                days: 15
                enabled: true
              serviceBusRuleId: ""
              storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8165
            type: ""
    Get_log_profile:
      value:
        id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
        location: ""
        name: default
        properties:
          categories:
            - Delete
            - Write
            - Action
          locations:
            - global
          retentionPolicy:
            days: 3
            enabled: true
          serviceBusRuleId: ""
          storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
        type: ""
    Patch_a_log_profile:
      value:
        id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
        location: ""
        name: default
        properties:
          categories:
            - Delete
            - Write
            - Action
          locations:
            - global
          retentionPolicy:
            days: 3
            enabled: true
          serviceBusRuleId: ""
          storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
        tags:
          key1: value1
        type: ""
    Create_or_update_a_log_profile:
      value:
        id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
        location: ""
        name: default
        properties:
          categories:
            - Delete
            - Write
            - Action
          locations:
            - global
          retentionPolicy:
            days: 3
            enabled: true
          serviceBusRuleId: ""
          storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
        type: ""
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        List log profiles:
          value: 2016-03-01
        Delete log profile:
          value: 2016-03-01
        Get log profile:
          value: 2016-03-01
        Patch a log profile:
          value: 2016-03-01
        Create or update a log profile:
          value: 2016-03-01
    LogProfileNameParameter:
      description: The name of the log profile.
      in: path
      name: logProfileName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Delete log profile:
          value: Rac46PostSwapRG
        Get log profile:
          value: default
        Patch a log profile:
          value: Rac46PostSwapRG
        Create or update a log profile:
          value: Rac46PostSwapRG
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List log profiles:
          value: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
        Delete log profile:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Get log profile:
          value: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
        Patch a log profile:
          value: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
        Create or update a log profile:
          value: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LogProfileCollection:
      description: Represents a collection of log profiles.
      properties:
        value:
          description: the values of the log profiles.
          items:
            $ref: "#/components/schemas/LogProfileResource"
          type: array
      required:
        - value
    LogProfileProperties:
      description: The log profile properties.
      properties:
        categories:
          description: "the categories of the logs. These categories are created as is
            convenient to the user. Some values are: 'Write', 'Delete', and/or
            'Action.'"
          items:
            type: string
          type: array
        locations:
          description: List of regions for which Activity Log events should be stored or
            streamed. It is a comma separated list of valid ARM locations
            including the 'global' location.
          items:
            type: string
          type: array
        retentionPolicy:
          $ref: "#/components/schemas/RetentionPolicy"
        serviceBusRuleId:
          description: "The service bus rule ID of the service bus namespace in which you
            would like to have Event Hubs created for streaming the Activity
            Log. The rule ID is of the format: '{service bus resource
            ID}/authorizationrules/{key name}'."
          type: string
        storageAccountId:
          description: the resource id of the storage account to which you would like to
            send the Activity Log.
          type: string
      required:
        - locations
        - categories
        - retentionPolicy
    LogProfileResource:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: The log profile resource.
      properties:
        properties:
          $ref: "#/components/schemas/LogProfileProperties"
      required:
        - properties
      type: object
    LogProfileResourcePatch:
      description: The log profile resource for patch operations.
      properties:
        properties:
          $ref: "#/components/schemas/LogProfileProperties"
        tags:
          additionalProperties:
            type: string
          description: Resource tags
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      x-ms-azure-resource: true
    RetentionPolicy:
      description: Specifies the retention policy for the log.
      properties:
        days:
          description: the number of days for the retention in days. A value of 0 will
            retain the events indefinitely.
          format: int32
          minimum: 0
          type: integer
        enabled:
          description: a value indicating whether the retention policy is enabled.
          type: boolean
      required:
        - enabled
        - days
