openapi: 3.0.0
info:
  title: SubscriptionClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/subscriptions.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-subscriptions
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /subscriptions:
    get:
      description: Gets a list of the subscriptionIds.
      operationId: Subscriptions_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionListResult"
            text/json:
              schema:
                $ref: "#/components/schemas/SubscriptionListResult"
      tags:
        - Subscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}":
    get:
      description: Gets details about particular subscription.
      operationId: Subscriptions_Get
      parameters:
        - description: Id of the subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
            text/json:
              schema:
                $ref: "#/components/schemas/Subscription"
      tags:
        - Subscriptions
  "/subscriptions/{subscriptionId}/locations":
    get:
      description: Gets a list of the subscription locations.
      operationId: Subscriptions_ListLocations
      parameters:
        - description: Id of the subscription
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationListResult"
            text/json:
              schema:
                $ref: "#/components/schemas/LocationListResult"
      tags:
        - Subscriptions
      x-ms-pageable: {}
  /tenants:
    get:
      description: Gets a list of the tenantIds.
      operationId: Tenants_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantListResult"
            text/json:
              schema:
                $ref: "#/components/schemas/TenantListResult"
      tags:
        - Tenants
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Location:
      description: Location information.
      properties:
        displayName:
          description: Gets or sets the display name of the location
          type: string
        id:
          description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
          type: string
        latitude:
          description: Gets or sets the latitude of the location
          type: string
        longitude:
          description: Gets or sets the longitude of the location
          type: string
        name:
          description: Gets or sets the location name
          type: string
        subscriptionId:
          description: Gets or sets the subscription Id.
          type: string
    LocationListResult:
      description: Location list operation response.
      properties:
        value:
          description: Gets the locations.
          items:
            $ref: "#/components/schemas/Location"
          type: array
    Subscription:
      description: Subscription information.
      properties:
        displayName:
          description: Gets or sets the subscription display name
          type: string
        id:
          description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
          type: string
        state:
          description: Gets or sets the subscription state
          type: string
        subscriptionId:
          description: Gets or sets the subscription Id.
          type: string
        subscriptionPolicies:
          $ref: "#/components/schemas/SubscriptionPolicies"
    SubscriptionListResult:
      description: Subscription list operation response.
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets subscriptions.
          items:
            $ref: "#/components/schemas/Subscription"
          type: array
      required:
        - nextLink
    SubscriptionPolicies:
      description: Subscription policies.
      properties:
        locationPlacementId:
          description: Gets or sets the subscription location placement Id.
          type: string
        quotaId:
          description: Gets or sets the subscription quota Id.
          type: string
    TenantIdDescription:
      description: Tenant Id information
      properties:
        id:
          description: Gets or sets Id
          type: string
        tenantId:
          description: Gets or sets tenantId
          type: string
    TenantListResult:
      description: Tenant Ids information.
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets tenant Ids.
          items:
            $ref: "#/components/schemas/TenantIdDescription"
          type: array
      required:
        - nextLink
