openapi: 3.0.0
info:
  description: Provides create, read, update and delete functionality for Azure SQL
    Database resources including servers, databases, elastic pools,
    recommendations, and operations.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/deprecated.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-deprecated
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions":
    get:
      description: Gets database extensions. This API is deprecated and should not be used.
      operationId: Extensions_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database to import into
          in: path
          name: databaseName
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtensionListResult"
      tags:
        - ImportExport
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/{extensionName}":
    get:
      description: Gets a database extension. This API is deprecated and should not be used.
      operationId: Extensions_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database to import into
          in: path
          name: databaseName
          required: true
          schema:
            type: string
        - description: The name of the extension to get
          in: path
          name: extensionName
          required: true
          x-ms-enum:
            modelAsString: true
            name: ExtensionName
          schema:
            type: string
            enum:
              - import
      responses:
        "200":
          description: OK
      tags:
        - ImportExport
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption":
    get:
      deprecated: true
      description: Gets a list of a database's transparent data encryption configurations.
        There is only ever one element, named 'current', so
        GetTransparentDataEncryptionConfiguration should be used instead.
      operationId: TransparentDataEncryptionConfigurations_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Get a list of transparent data encryption configurations:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Get a list of transparent data encryption configurations:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get a list of transparent data encryption configurations:
              value: sqlcrudtest-6852
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database for which the transparent data encryption
            applies.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
          examples:
            Get a list of transparent data encryption configurations:
              value: sqlcrudtest-9187
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransparentDataEncryptionListResult"
              examples:
                Get a list of transparent data encryption configurations:
                  $ref: "#/components/examples/Get_a_list_of_transparent_data_encry\
                    ption_configurations"
      tags:
        - TransparentDataEncryption
      x-ms-pageable: {}
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_a_list_of_transparent_data_encryption_configurations:
      value:
        value:
          - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
            location: North Europe
            name: current
            properties:
              status: Enabled
            type: Microsoft.Sql/servers/databases/transparentDataEncryption
  parameters:
    DatabaseExpandParameter:
      description: "A comma separated list of child objects to expand in the response.
        Possible properties: serviceTierAdvisors, transparentDataEncryption."
      in: query
      name: $expand
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get a list of transparent data encryption configurations:
          value: sqlcrudtest-2080
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ExtensionListResult:
      description: Represents the response to a list extensions request.
      properties:
        value:
          description: The list of extensions.
          items:
            properties: {}
          type: array
    TransparentDataEncryptionListResult:
      description: Represents the response to a list transparent data encryption
        configurations request.
      properties:
        value:
          description: The list of transparent data encryption configurations.
          items:
            allOf:
              - allOf:
                  - description: ARM resource.
                    properties:
                      id:
                        description: Resource ID.
                        readOnly: true
                        type: string
                      name:
                        description: Resource name.
                        readOnly: true
                        type: string
                      type:
                        description: Resource type.
                        readOnly: true
                        type: string
                    type: object
                    x-ms-azure-resource: true
                description: ARM proxy resource.
                properties: {}
                type: object
            description: Represents a database transparent data encryption configuration.
            properties:
              location:
                description: Resource location.
                readOnly: true
                type: string
              properties:
                description: Represents the properties of a database transparent data
                  encryption.
                properties:
                  status:
                    description: The status of the database transparent data encryption.
                    enum:
                      - Enabled
                      - Disabled
                    type: string
                    x-ms-enum:
                      name: TransparentDataEncryptionStatus
          type: array
