openapi: 3.0.0
info:
  description: Azure Application Insights client for API keys of a component.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentApiKeys_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentApiKeys_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/APIKeys/{keyId}":
    delete:
      description: Delete an API Key of an Application Insights component.
      operationId: APIKeys_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            APIKeyDelete:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeyDelete:
              value: 2015-05-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeyDelete:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
        - $ref: "#/components/parameters/KeyId"
      responses:
        "200":
          description: The API Key that was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentAPIKey"
              examples:
                APIKeyDelete:
                  $ref: "#/components/examples/APIKeyDelete"
    get:
      description: Get the API Key for this key id.
      operationId: APIKeys_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            APIKeysGet:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeysGet:
              value: 2015-05-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeysGet:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
        - $ref: "#/components/parameters/KeyId"
      responses:
        "200":
          description: The API Key for this key id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentAPIKey"
              examples:
                APIKeysGet:
                  $ref: "#/components/examples/APIKeysGet"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ApiKeys":
    get:
      description: Gets a list of API keys of an Application Insights component.
      operationId: APIKeys_List
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            APIKeysList:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeysList:
              value: 2015-05-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeysList:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
      responses:
        "200":
          description: A list containing 0 or more API key definitions of an Application
            Insights component.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentAPIKeyListR\
                  esult"
              examples:
                APIKeysList:
                  $ref: "#/components/examples/APIKeysList"
      x-ms-pageable: {}
    post:
      description: Create an API Key of an Application Insights component.
      operationId: APIKeys_Create
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            APIKeyCreate:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeyCreate:
              value: 2015-05-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            APIKeyCreate:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/APIKeyRequest"
        description: Properties that need to be specified to create an API key of a
          Application Insights component.
        required: true
      responses:
        "200":
          description: An object containing the API Key definition created by this POST
            call.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentAPIKey"
              examples:
                APIKeyCreate:
                  $ref: "#/components/examples/APIKeyCreate"
servers:
  - url: https://management.azure.com
components:
  examples:
    APIKeyDelete:
      value:
        createdDate: Thu, 28 Sep 2017 16:59:18 GMT
        id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
        linkedReadProperties:
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
        linkedWriteProperties: []
        name: test2
    APIKeysGet:
      value:
        createdDate: Thu, 28 Sep 2017 16:59:18 GMT
        id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
        linkedReadProperties:
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
        linkedWriteProperties: []
        name: test2
    APIKeysList:
      value:
        value:
          - createdDate: Thu, 28 Sep 2017 16:58:52 GMT
            id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/fe2e0138-47c1-46c5-8726-872f54c1ca08
            linkedReadProperties:
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
            linkedWriteProperties:
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/annotations
            name: test
          - createdDate: Thu, 28 Sep 2017 16:59:18 GMT
            id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
            linkedReadProperties:
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/draft
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/extendqueries
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/search
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/aggregate
              - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
            linkedWriteProperties: []
            name: test2
    APIKeyCreate:
      value:
        apiKey: eip8wlzuzlf4wzczhnzao54zcswew25azs4kadhb
        createdDate: Thu, 28 Sep 2017 16:58:52 GMT
        id: /subscriptions/subid/resourcegroups/my-resource-group/providers/Microsoft.Insights/components/my-component/apikeys/fe2e0138-47c1-46c5-8726-872f54c1ca08
        linkedReadProperties:
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/api
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/agentconfig
        linkedWriteProperties:
          - /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component/annotations
        name: test
  parameters:
    KeyId:
      description: The API Key ID. This is unique within a Application Insights component.
      in: path
      name: keyId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        APIKeyDelete:
          value: bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
        APIKeysGet:
          value: bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        APIKeyDelete:
          value: my-component
        APIKeysGet:
          value: my-component
        APIKeysList:
          value: my-component
        APIKeyCreate:
          value: my-component
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    APIKeyRequest:
      description: An Application Insights component API Key creation request definition.
      properties:
        linkedReadProperties:
          description: The read access rights of this API Key.
          items:
            type: string
          type: array
        linkedWriteProperties:
          description: The write access rights of this API Key.
          items:
            type: string
          type: array
        name:
          description: The name of the API Key.
          type: string
      type: object
    ApplicationInsightsComponentAPIKey:
      description: Properties that define an API key of an Application Insights Component.
      properties:
        apiKey:
          description: The API key value. It will be only return once when the API Key was
            created.
          readOnly: true
          type: string
        createdDate:
          description: The create date of this API key.
          type: string
        id:
          description: The unique ID of the API key inside an Application Insights
            component. It is auto generated when the API key is created.
          readOnly: true
          type: string
        linkedReadProperties:
          description: The read access rights of this API Key.
          items:
            type: string
          type: array
        linkedWriteProperties:
          description: The write access rights of this API Key.
          items:
            type: string
          type: array
        name:
          description: The name of the API key.
          type: string
      type: object
    ApplicationInsightsComponentAPIKeyListResult:
      description: Describes the list of API Keys of an Application Insights Component.
      properties:
        value:
          description: List of API Key definitions.
          items:
            $ref: "#/components/schemas/ApplicationInsightsComponentAPIKey"
          type: array
      required:
        - value
