openapi: 3.0.0
info:
  description: Role based access control provides you a way to apply granular level policy
    administration down to individual resources or resource groups. These
    operations enable you to manage role definitions and role assignments. A
    role definition describes the set of actions that can be performed on
    resources. A role assignment grants access to Azure Active Directory users.
  title: AuthorizationManagementClient
  version: 2015-07-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/authorization-ProviderOperationsCalls.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: authorization-authorization-ProviderOperationsCalls
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Authorization/providerOperations:
    get:
      description: Gets provider operations metadata for all resource providers.
      operationId: ProviderOperationsMetadata_List
      parameters:
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            GetConfigurations:
              value: 2015-07-01
        - description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          schema:
            type: string
            default: resourceTypes
      responses:
        "200":
          description: OK - Returns an array of the operations metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderOperationsMetadataListResult"
              examples:
                GetConfigurations:
                  $ref: "#/components/examples/GetConfigurations"
      tags:
        - ProviderOperationsMetadata
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}":
    get:
      description: Gets provider operations metadata for the specified resource provider.
      operationId: ProviderOperationsMetadata_Get
      parameters:
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
          examples:
            GetConfigurations:
              value: resourceProviderNamespace
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          examples:
            GetConfigurations:
              value: 2015-07-01
        - description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          schema:
            type: string
            default: resourceTypes
      responses:
        "200":
          description: OK - Returns the operations metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderOperationsMetadata"
              examples:
                GetConfigurations:
                  $ref: "#/components/examples/GetConfigurations"
      tags:
        - ProviderOperationsMetadata
servers:
  - url: https://management.azure.com
components:
  examples:
    GetConfigurations:
      value:
        displayName: displayName
        id: id
        name: name
        operations: []
        resourceTypes:
          - displayName: name
            name: name
            operations: []
        type: type
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProviderOperation:
      description: Operation
      properties:
        description:
          description: The operation description.
          type: string
        displayName:
          description: The operation display name.
          type: string
        name:
          description: The operation name.
          type: string
        origin:
          description: The operation origin.
          type: string
        properties:
          description: The operation properties.
          type: object
          x-ms-client-flatten: true
    ProviderOperationsMetadata:
      description: Provider Operations metadata
      properties:
        displayName:
          description: The provider display name.
          type: string
        id:
          description: The provider id.
          type: string
        name:
          description: The provider name.
          type: string
        operations:
          description: The provider operations.
          items:
            $ref: "#/components/schemas/ProviderOperation"
          type: array
        resourceTypes:
          description: The provider resource types
          items:
            $ref: "#/components/schemas/ResourceType"
          type: array
        type:
          description: The provider type.
          type: string
    ProviderOperationsMetadataListResult:
      description: Provider operations metadata list
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The list of providers.
          items:
            $ref: "#/components/schemas/ProviderOperationsMetadata"
          type: array
    ResourceType:
      description: Resource Type
      properties:
        displayName:
          description: The resource type display name.
          type: string
        name:
          description: The resource type name.
          type: string
        operations:
          description: The resource type operations.
          items:
            $ref: "#/components/schemas/ProviderOperation"
          type: array
