openapi: 3.0.0
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2018-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backup.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Backup
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Backup.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
              examples:
                Returns the list of support REST operations.:
                  $ref: "#/components/examples/Returns_the_list_of_support_REST_ope\
                    rations."
      tags:
        - Backup
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_the_list_of_support_REST_operations.:
      value:
        value:
          - display:
              description: Location where backups are saved.
              operation: Returns backup locations
              provider: Microsoft Backup Resource Provider.
              resource: Backup location
            name: Microsoft.Backup.Admin/backupLocations/read
          - display:
              description: Create a new backup.
              operation: Create a new backup
              provider: Microsoft Backup Resource Provider.
              resource: Backup
            name: Microsoft.Backup.Admin/backupLocations/createBackup/action
          - display:
              description: Gets the backups.
              operation: Get a backup
              provider: Microsoft Backup Resource Provider.
              resource: Backup
            name: Microsoft.Backup.Admin/backupLocations/backups/read
          - display:
              description: Restore a previous backup.
              operation: Restore a backup.
              provider: Microsoft Backup Resource Provider.
              resource: Backup
            name: Microsoft.Backup.Admin/backupLocations/backups/restore/action
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: 2018-09-01
      examples:
        Returns the list of support REST operations.:
          value: 2018-09-01
    ResourceGroupParameter:
      description: Name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Display:
      description: Contains the localized display information for this particular operation
        / action.
      properties:
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          readOnly: true
          type: string
        operation:
          description: The localized, friendly name for the operation. Use the name as it
            will displayed to the user.
          readOnly: true
          type: string
        provider:
          description: The localized friendly form of the resource provider name – it is
            expected to also include the publisher/company responsible. It
            should use Title Casing and begin with "Microsoft" for 1st party
            services. e.g. "Microsoft Monitoring Insights" or "Microsoft
            Compute."
          readOnly: true
          type: string
        resource:
          description: The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          readOnly: true
          type: string
    LongRunningOperationStatus:
      description: Status of a long running operation.
      properties:
        code:
          description: Operation result code.
          readOnly: true
          type: string
        message:
          description: Description of the operation status.
          readOnly: true
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: "#/components/schemas/Display"
        name:
          description: The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          type: string
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          type: string
        value:
          description: Array of operations
          items:
            $ref: "#/components/schemas/Operation"
          readOnly: true
          type: array
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          readOnly: false
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: false
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
