openapi: 3.0.0
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Quotas.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Quotas
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas":
    get:
      description: Get a list of existing quotas.
      operationId: Quotas_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get a list of existing quotas.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get a list of existing quotas.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-12-01-preview
          examples:
            Get a list of existing quotas.:
              value: 2015-12-01-preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaList"
              examples:
                Get a list of existing quotas.:
                  $ref: "#/components/examples/Get_a_list_of_existing_quotas."
      summary: Lists all quotas.
      tags:
        - Quotas
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas/{quotaName}":
    delete:
      description: Delete an existing quota.
      operationId: Quotas_Delete
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Deletes specified quota.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Deletes specified quota.:
              value: local
        - $ref: "#/components/parameters/QuotaParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-12-01-preview
          examples:
            Deletes specified quota.:
              value: 2015-12-01-preview
      responses:
        "200":
          description: OK
      summary: Deletes specified quota
      tags:
        - Quotas
    get:
      description: Get an existing Quota.
      operationId: Quotas_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get an existing Quota.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get an existing Quota.:
              value: local
        - $ref: "#/components/parameters/QuotaParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-12-01-preview
          examples:
            Get an existing Quota.:
              value: 2015-12-01-preview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quota"
              examples:
                Get an existing Quota.:
                  $ref: "#/components/examples/Get_an_existing_Quota."
      summary: Returns the requested quota.
      tags:
        - Quotas
    put:
      description: Creates or Updates a Quota.
      operationId: Quotas_CreateOrUpdate
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Creates or Updates a Quota.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Creates or Updates a Quota.:
              value: local
        - $ref: "#/components/parameters/QuotaParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-12-01-preview
          examples:
            Creates or Updates a Quota.:
              value: 2015-12-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Quota"
        description: New quota to create.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quota"
              examples:
                Creates or Updates a Quota.:
                  $ref: "#/components/examples/Creates_or_Updates_a_Quota."
      summary: Creates or Updates a Quota.
      tags:
        - Quotas
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Get_a_list_of_existing_quotas.:
      value:
        value:
          - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/Default
              Quota
            location: local
            name: Default Quota
            properties:
              availabilitySetCount: 10
              coresLimit: 50
              virtualMachineCount: 20
              vmScaleSetCount: 20
            type: Microsoft.Compute.Admin/quotas
    Get_an_existing_Quota.:
      value:
        id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/testQuotaCreateUpdateDelete
        location: local
        name: testQuotaCreateUpdateDelete
        properties:
          availabilitySetCount: 1
          coresLimit: 1
          virtualMachineCount: 1
          vmScaleSetCount: 1
        type: Microsoft.Compute.Admin/quotas
    Creates_or_Updates_a_Quota.:
      value:
        id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/testQuotaCreateUpdateDelete
        location: local
        name: testQuotaCreateUpdateDelete
        properties:
          availabilitySetCount: 2
          coresLimit: 2
          virtualMachineCount: 2
          vmScaleSetCount: 2
        type: Microsoft.Compute.Admin/quotas
  parameters:
    QuotaParameter:
      description: Name of the quota.
      in: path
      name: quotaName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Deletes specified quota.:
          value: testQuotaCreateUpdateDelete
        Get an existing Quota.:
          value: testQuotaCreateUpdateDelete
        Creates or Updates a Quota.:
          value: testQuotaCreateUpdateDelete
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Quota:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: ID of the resource.
              readOnly: true
              type: string
            location:
              description: Location of the resource.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            type:
              description: Type of Resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Holds quota information used to control resource allocation.
      properties:
        properties:
          $ref: "#/components/schemas/QuotaProperties"
      type: object
    QuotaList:
      description: List of quotas
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of quotas
          items:
            $ref: "#/components/schemas/Quota"
          type: array
      type: object
    QuotaProperties:
      description: Properties for a Quota
      properties:
        availabilitySetCount:
          description: Maximum number of availability sets allowed.
          format: int32
          minimum: 0
          type: integer
        coresLimit:
          description: Maximum number of core allowed.
          format: int32
          minimum: 0
          type: integer
        virtualMachineCount:
          description: Maximum number of virtual machines allowed.
          format: int32
          minimum: 0
          type: integer
        vmScaleSetCount:
          description: Maximum number of scale sets allowed.
          format: int32
          minimum: 0
          type: integer
      type: object
