openapi: 3.0.0
info:
  description: Use these REST APIs for performing operations on entities like API, Product,
    and Subscription associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths: {}
servers:
  - url: https://management.azure.com
components:
  parameters:
    AccessParameter:
      description: The identifier of the Access configuration.
      in: path
      name: accessName
      required: true
      x-ms-enum:
        modelAsString: true
        name: AccessIdName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - access
    ApiIdParameter:
      description: API identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: apiId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ApiIdRevParameter:
      description: API revision identifier. Must be unique in the current API Management
        service instance. Non-current revision has ;rev=n as a suffix where n is
        the revision number.
      in: path
      name: apiId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ApiVersionSetIdParameter:
      description: Api Version Set identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: versionSetId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    AttachmentIdParameter:
      description: Attachment identifier within an Issue. Must be unique in the current
        Issue.
      in: path
      name: attachmentId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    AuthenticationServerIdParameter:
      description: Identifier of the authorization server.
      in: path
      name: authsid
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    BackendIdParameter:
      description: Identifier of the Backend entity. Must be unique in the current API
        Management service instance.
      in: path
      name: backendId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    CacheIdParameter:
      description: Identifier of the Cache entity. Cache identifier (should be either
        'default' or valid Azure region identifier).
      in: path
      name: cacheId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    CertificateIdParameter:
      description: Identifier of the certificate entity. Must be unique in the current API
        Management service instance.
      in: path
      name: certificateId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    CommentIdParameter:
      description: Comment identifier within an Issue. Must be unique in the current Issue.
      in: path
      name: commentId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    ConfigurationParameter:
      description: The identifier of the Git Configuration Operation.
      in: path
      name: configurationName
      required: true
      x-ms-enum:
        modelAsString: true
        name: configurationIdName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - configuration
    DiagnosticIdParameter:
      description: Diagnostic identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: diagnosticId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    EmailParameter:
      description: Email identifier.
      in: path
      name: email
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    GroupIdParameter:
      description: Group identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: groupId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    IdentityProviderNameParameter:
      description: Identity Provider Type identifier.
      in: path
      name: identityProviderName
      required: true
      x-ms-enum:
        modelAsString: true
        name: IdentityProviderType
        values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
    IfMatchOptionalParameter:
      description: ETag of the Entity. Not required when creating an entity, but required
        when updating an entity.
      in: header
      name: If-Match
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchRequiredParameter:
      description: ETag of the Entity. ETag should match the current entity state from the
        header response of the GET request or it should be * for unconditional
        update.
      in: header
      name: If-Match
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    IssueIdParameter:
      description: Issue identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: issueId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    LocationNameParameter:
      description: Location in which the API Management service is deployed. This is one of
        the Azure Regions like West US, East US, South Central US.
      in: path
      name: locationName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
    LoggerIdParameter:
      description: Logger identifier. Must be unique in the API Management service instance.
      in: path
      name: loggerId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    NotificationNameParameter:
      description: Notification Name Identifier.
      in: path
      name: notificationName
      required: true
      x-ms-enum:
        modelAsString: true
        name: NotificationName
        values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products
              requiring approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the
              application gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies of all
              emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the
              developer portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
    NotifySubscriptionStateChangeParameter:
      description: >-
        Notify change in Subscription State. 
         - If false, do not send any email notification for change of state of subscription 
         - If true, send email notification of change of state of subscription 
      in: query
      name: notify
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
    OpenIdConnectIdParameter:
      description: Identifier of the OpenID Connect Provider.
      in: path
      name: opid
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    OperationIdParameter:
      description: Operation identifier within an API. Must be unique in the current API
        Management service instance.
      in: path
      name: operationId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    PolicyIdParameter:
      description: The identifier of the Policy.
      in: path
      name: policyId
      required: true
      x-ms-enum:
        modelAsString: true
        name: PolicyIdName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - policy
    ProductIdParameter:
      description: Product identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: productId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    PropertyIdParameter:
      description: Identifier of the property.
      in: path
      name: propId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    QuotaCounterKeyParameter:
      description: Quota counter key identifier.This is the result of expression defined in
        counter-key attribute of the quota-by-key policy.For Example, if you
        specify counter-key="boo" in the policy, then it’s accessible by "boo"
        counter key. But if it’s defined as counter-key="@("b"+"a")" then it
        will be accessible by "ba" key
      in: path
      name: quotaCounterKey
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    QuotaPeriodKeyParameter:
      description: Quota period key identifier.
      in: path
      name: quotaPeriodKey
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ReleaseIdParameter:
      description: Release identifier within an API. Must be unique in the current API
        Management service instance.
      in: path
      name: releaseId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SchemaIdParameter:
      description: Schema identifier within an API. Must be unique in the current API
        Management service instance.
      in: path
      name: schemaId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ServiceNameParameter:
      description: The name of the API Management service.
      in: path
      name: serviceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    SkipQueryParameter:
      description: Number of records to skip.
      in: query
      name: $skip
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    SubscriptionEntityIdParameter:
      description: Subscription entity Identifier. The entity represents the association
        between a user and a product in API Management.
      in: path
      name: sid
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TagIdParameter:
      description: Tag identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: tagId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TemplateNameParameter:
      description: Email Template Name Identifier.
      in: path
      name: templateName
      required: true
      x-ms-enum:
        modelAsString: true
        name: TemplateName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
    TopQueryParameter:
      description: Number of records to return.
      in: query
      name: $top
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    UserIdParameter:
      description: User identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: userId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
    ErrorResponse:
      description: Error Response.
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponseBody"
    ErrorResponseBody:
      description: Error Body contract.
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status for the
            HTTP error code specified in the response.
          type: string
        details:
          description: The list of invalid fields send in request, in case of validation
            error.
          items:
            $ref: "#/components/schemas/ErrorFieldContract"
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
    RegionContract:
      description: Region profile.
      properties:
        isDeleted:
          description: whether Region is deleted.
          type: boolean
        isMasterRegion:
          description: whether Region is the master region.
          type: boolean
        name:
          description: Region name.
          readOnly: true
          type: string
    RegionListResult:
      description: Lists Regions operation response details.
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Lists of Regions.
          items:
            $ref: "#/components/schemas/RegionContract"
          type: array
    Resource:
      description: The Resource definition.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type for API Management resource.
          readOnly: true
          type: string
      x-ms-azure-resource: true
