openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Quota.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Quota
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas":
    get:
      description: Get the list of quotas at a location.
      operationId: Quotas_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get the list of quotas at a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get the list of quotas at a location.:
              value: local
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Get the list of quotas at a location.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaList"
              examples:
                Get the list of quotas at a location.:
                  $ref: "#/components/examples/Get_the_list_of_quotas_at_a_location."
      tags:
        - Quotas
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}":
    get:
      description: Gets a quota by name.
      operationId: Quotas_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Gets a quota by name.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Gets a quota by name.:
              value: local
        - $ref: "#/components/parameters/QuotaParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Gets a quota by name.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quota"
              examples:
                Gets a quota by name.:
                  $ref: "#/components/examples/Gets_a_quota_by_name."
      tags:
        - Quotas
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Get_the_list_of_quotas_at_a_location.:
      value:
        value:
          - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
            location: local
            name: local/delegatedProviderQuota
            properties:
              allowCustomPortalBranding: false
            type: Microsoft.Subscriptions.Admin/locations/quotas
    Gets_a_quota_by_name.:
      value:
        id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
        location: local
        name: local/delegatedProviderQuota
        properties:
          allowCustomPortalBranding: false
        type: Microsoft.Subscriptions.Admin/locations/quotas
  parameters:
    QuotaParameter:
      description: Name of the quota.
      in: path
      name: quota
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Gets a quota by name.:
          value: local/delegatedProviderQuota
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Quota:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Location of the resource
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              readOnly: true
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Quotas for DelegatedProviders.
      properties:
        properties:
          $ref: "#/components/schemas/QuotaProperties"
      type: object
    QuotaList:
      description: List of quotas.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of quotas.
          items:
            $ref: "#/components/schemas/Quota"
          type: array
    QuotaProperties:
      description: Quotas for DelegatedProviders.
      properties:
        allowCustomPortalBranding:
          description: Value indicating whether custom portal branding is allowed.
          type: boolean
      type: object
