openapi: 3.0.0
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2017-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/dataWarehouseUserActivities.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-dataWarehouseUserActivities
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataWarehouseUserActivities/{dataWarehouseUserActivityName}":
    get:
      description: Gets the user activities of a data warehouse which includes running and
        suspended queries
      operationId: DataWarehouseUserActivities_Get
      parameters:
        - $ref: "#/components/parameters/ResourceGroupParameter"
        - $ref: "#/components/parameters/ServerNameParameter"
        - $ref: "#/components/parameters/DatabaseNameParameter"
        - description: "The activity name of the data warehouse. "
          in: path
          name: dataWarehouseUserActivityName
          required: true
          x-ms-enum:
            modelAsString: true
            name: DataWarehouseUserActivityName
          schema:
            type: string
            enum:
              - current
          examples:
            Get the list of the user activities of a data warehouse:
              value: current
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully get the data warehouse user activities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataWarehouseUserActivities"
              examples:
                Get the list of the user activities of a data warehouse:
                  $ref: "#/components/examples/Get_the_list_of_the_user_activities_\
                    of_a_data_warehouse"
        default:
          description: >-
            *** Error Responses: ***

             * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an update on a paused database.

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 404 ResourceNotFound - The specified resource was not found.
      tags:
        - DataWarehouseUserActivities
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_the_list_of_the_user_activities_of_a_data_warehouse:
      value:
        id: subscriptions/326affc3-21f4-4471-a545-e37430b70113/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/testsvr/databases/dwdb01/dataWarehouseUserActivities/current
        name: current
        properties:
          activeQueriesCount: 0
        type: Microsoft.Sql/servers/databases/dataWarehouseUserActivities
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        Get the list of the user activities of a data warehouse:
          value: 2017-03-01-preview
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - default
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of the user activities of a data warehouse:
          value: testdb
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of the user activities of a data warehouse:
          value: Default-SQL-SouthEastAsia
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get the list of the user activities of a data warehouse:
          value: testsvr
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
      examples:
        Get the list of the user activities of a data warehouse:
          value: 00000000-1111-2222-3333-444444444444
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DataWarehouseUserActivities:
      allOf:
        - allOf:
            - description: ARM resource.
              properties:
                id:
                  description: Resource ID.
                  readOnly: true
                  type: string
                name:
                  description: Resource name.
                  readOnly: true
                  type: string
                type:
                  description: Resource type.
                  readOnly: true
                  type: string
              type: object
              x-ms-azure-resource: true
          description: ARM proxy resource.
          properties: {}
          type: object
      description: User activities of a data warehouse
      properties:
        properties:
          $ref: "#/components/schemas/DataWarehouseUserActivitiesProperties"
      type: object
    DataWarehouseUserActivitiesProperties:
      description: User activities of a data warehouse. This currently includes the count
        of running or suspended queries. For more information, please view the
        sys.dm_pdw_exec_requests dynamic management view (DMV).
      properties:
        activeQueriesCount:
          description: Count of running and suspended queries.
          format: int32
          readOnly: true
          type: integer
      type: object
