openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-alertRules_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/microsoft.insights/alertrules":
    get:
      description: List the alert rules within a subscription.
      operationId: AlertRules_ListBySubscription
      parameters:
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request for a list of alert rules
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResourceCollection"
              examples:
                List alert rules:
                  $ref: "#/components/examples/List_alert_rules"
      tags:
        - AlertRules
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules":
    get:
      description: List the alert rules within a resource group.
      operationId: AlertRules_ListByResourceGroup
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request for a list of alert rules
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResourceCollection"
              examples:
                List alert rules:
                  $ref: "#/components/examples/List_alert_rules"
      tags:
        - AlertRules
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}":
    delete:
      description: Deletes an alert rule
      operationId: AlertRules_Delete
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request to delete an alert rule
        "204":
          description: "No content: the request was successful, but the response is empty"
      tags:
        - AlertRules
    get:
      description: Gets an alert rule
      operationId: AlertRules_Get
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successful request to get an alert rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResource"
              examples:
                Get an alert rule:
                  $ref: "#/components/examples/Get_an_alert_rule"
      tags:
        - AlertRules
    patch:
      description: Updates an existing AlertRuleResource. To update other fields use the
        CreateOrUpdate method.
      operationId: AlertRules_Update
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdParameter"
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertRuleResourcePatch"
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          description: Successful request to update an alert rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResource"
              examples:
                Patch an alert rule:
                  $ref: "#/components/examples/Patch_an_alert_rule"
        "201":
          description: Successful request to update an alert rule that resulted in a
            creation of the alert rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResource"
              examples:
                Patch an alert rule:
                  $ref: "#/components/examples/Patch_an_alert_rule"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      description: Creates or updates an alert rule.
      operationId: AlertRules_CreateOrUpdate
      parameters:
        - $ref: "#/components/parameters/ResourceGroupNameParameter"
        - $ref: "#/components/parameters/RuleNameParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertRuleResource"
        description: The parameters of the rule to create or update.
        required: true
      responses:
        "200":
          description: Successful request to update an alert rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResource"
              examples:
                Create or update an alert rule:
                  $ref: "#/components/examples/Create_or_update_an_alert_rule"
        "201":
          description: Created alert rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRuleResource"
              examples:
                Create or update an alert rule:
                  $ref: "#/components/examples/Create_or_update_an_alert_rule"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - AlertRules
servers:
  - url: https://management.azure.com
components:
  examples:
    List_alert_rules:
      value:
        value:
          - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/myRuleName
            location: West US
            name: myRuleName
            properties:
              actions:
                - customEmails:
                    - gu@ms.com
                    - su@ms.net
                  odata.type: Microsoft.Azure.Management.Insights.Models.RuleEmailAction
                  sendToServiceOwners: true
              condition:
                dataSource:
                  metricName: Requests
                  odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                  resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                operator: GreaterThan
                threshold: 2
                timeAggregation: Total
                windowSize: PT5M
              description: Pura Vida
              isEnabled: true
              lastUpdatedTime: 2016-11-10T21:04:39.0005255Z
              name: myRuleName
            tags:
              $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                Microsoft.WindowsAzure.Management.Common.Storage
              hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest: Resource
            type: Microsoft.Insights/alertRules
          - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0
            location: West US
            name: chiricutin0
            properties:
              actions: []
              condition:
                dataSource:
                  metricName: Requests
                  odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                  resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                operator: GreaterThan
                threshold: 2
                timeAggregation: Total
                windowSize: PT5M
              description: Pura Vida 0
              isEnabled: true
              lastUpdatedTime: 2016-11-10T21:04:39.1082596Z
              name: chiricutin0
            tags:
              $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                Microsoft.WindowsAzure.Management.Common.Storage
              hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest: Resource
            type: Microsoft.Insights/alertRules
    Get_an_alert_rule:
      value:
        id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
        location: West US
        name: chiricutin
        properties:
          actions: []
          condition:
            dataSource:
              metricName: Requests
              odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
              resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
            odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
            operator: GreaterThan
            threshold: 3
            timeAggregation: Total
            windowSize: PT5M
          description: Pura Vida
          isEnabled: true
          lastUpdatedTime: 2016-11-23T21:23:52.0221265Z
          name: chiricutin
        tags:
          $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
            Microsoft.WindowsAzure.Management.Common.Storage
          hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest: Resource
        type: Microsoft.Insights/alertRules
    Patch_an_alert_rule:
      value:
        id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
        location: West US
        name: chiricutin
        properties:
          actions: []
          condition:
            dataSource:
              metricName: Requests
              odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
              resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
            odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
            operator: GreaterThan
            threshold: 3
            timeAggregation: Total
            windowSize: PT5M
          description: Pura Vida
          isEnabled: true
          lastUpdatedTime: 2016-11-23T21:23:52.0221265Z
          name: chiricutin
        tags:
          $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
        type: Microsoft.Insights/alertRules
    Create_or_update_an_alert_rule:
      value:
        id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
        location: West US
        name: chiricutin
        properties:
          actions: []
          condition:
            dataSource:
              metricName: Requests
              odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
              resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
            odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
            operator: GreaterThan
            threshold: 3
            timeAggregation: Total
            windowSize: PT5M
          description: Pura Vida
          isEnabled: true
          lastUpdatedTime: 2016-11-23T21:23:52.0221265Z
          name: chiricutin
        tags:
          $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
            Microsoft.WindowsAzure.Management.Common.Storage
          hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest: Resource
        type: Microsoft.Insights/alertRules
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        List alert rules:
          value: 2016-03-01
        Delete an alert rule:
          value: 2016-03-01
        Get an alert rule:
          value: 2016-03-01
        Patch an alert rule:
          value: 2016-03-01
        Create or update an alert rule:
          value: 2016-03-01
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List alert rules:
          value: Rac46PostSwapRG
        Delete an alert rule:
          value: Rac46PostSwapRG
        Get an alert rule:
          value: Rac46PostSwapRG
        Patch an alert rule:
          value: Rac46PostSwapRG
        Create or update an alert rule:
          value: Rac46PostSwapRG
    RuleNameParameter:
      description: The name of the rule.
      in: path
      name: ruleName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Delete an alert rule:
          value: chiricutin
        Get an alert rule:
          value: chiricutin
        Patch an alert rule:
          value: chiricutin
        Create or update an alert rule:
          value: chiricutin
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List alert rules:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Delete an alert rule:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Get an alert rule:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Patch an alert rule:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
        Create or update an alert rule:
          value: b67f7fec-69fc-4974-9099-a26bd6ffeda3
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AlertRule:
      description: An alert rule.
      properties:
        actions:
          description: the array of actions that are performed when the alert rule becomes
            active, and when an alert condition is resolved.
          items:
            $ref: "#/components/schemas/RuleAction"
          type: array
        condition:
          $ref: "#/components/schemas/RuleCondition"
        description:
          description: the description of the alert rule that will be included in the alert
            email.
          type: string
        isEnabled:
          description: the flag that indicates whether the alert rule is enabled.
          type: boolean
        lastUpdatedTime:
          description: Last time the rule was updated in ISO8601 format.
          format: date-time
          readOnly: true
          type: string
        name:
          description: the name of the alert rule.
          type: string
      required:
        - name
        - isEnabled
        - condition
    AlertRuleResource:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: The alert rule resource.
      properties:
        properties:
          $ref: "#/components/schemas/AlertRule"
      required:
        - properties
      type: object
    AlertRuleResourceCollection:
      description: Represents a collection of alert rule resources.
      properties:
        value:
          description: the values for the alert rule resources.
          items:
            $ref: "#/components/schemas/AlertRuleResource"
          type: array
    AlertRuleResourcePatch:
      description: The alert rule object for patch operations.
      properties:
        properties:
          $ref: "#/components/schemas/AlertRule"
        tags:
          additionalProperties:
            type: string
          description: Resource tags
    ConditionOperator:
      description: Operators allowed in the rule condition.
      enum:
        - GreaterThan
        - GreaterThanOrEqual
        - LessThan
        - LessThanOrEqual
      type: string
      x-ms-enum:
        modelAsString: false
        name: ConditionOperator
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LocationThresholdRuleCondition:
      allOf:
        - $ref: "#/components/schemas/RuleCondition"
      description: A rule condition based on a certain number of locations failing.
      example: "{\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.LocationThresholdRuleCondi\
        tion\",\r

        \t\"dataSource\": {\r

        \t\t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r

        \t\t\"resourceUri\":
        \"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourcegroups/De\
        fault-Web-CentralUS/providers/microsoft.insights/webtests/homepagetest-\
        newrelapp2\",r

        \t\t\"metricName\": \"GSMT_AvRaW\"\r

        \t},\r

        \t\"windowSize\": \"PT5M\",\r

        \t\"failedLocationCount\": 1\r

        }"
      properties:
        failedLocationCount:
          description: the number of locations that must fail to activate the alert.
          format: int32
          minimum: 0
          type: integer
        windowSize:
          description: the period of time (in ISO 8601 duration format) that is used to
            monitor alert activity based on the threshold. If specified then it
            must be between 5 minutes and 1 day.
          format: duration
          type: string
      required:
        - failedLocationCount
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.LocationThresholdRuleCondition
    ManagementEventAggregationCondition:
      description: How the data that is collected should be combined over time.
      properties:
        operator:
          $ref: "#/components/schemas/ConditionOperator"
        threshold:
          description: The threshold value that activates the alert.
          format: double
          type: number
        windowSize:
          description: the period of time (in ISO 8601 duration format) that is used to
            monitor alert activity based on the threshold. If specified then it
            must be between 5 minutes and 1 day.
          format: duration
          type: string
    ManagementEventRuleCondition:
      allOf:
        - $ref: "#/components/schemas/RuleCondition"
      description: A management event rule condition.
      example: "{\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.ManagementEventRuleConditi\
        on\",\r

        \t\"dataSource\": {\r

        \t\t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.RuleManagementEventDataSou\
        rce\",\r

        \t\t\"operationName\": \"\",\r

        \t\t\"resourceUri\":
        \"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/De\
        fault-Web-CentralUS/providers/Microsoft.Web/sites/TestLatestWebsite\",\r

        \t\t\"status\": \"failed\",\r

        \t\t\"claims\": { }\r

        \t},\r

        \t\"aggregation\": {\r

        \t\t\"threshold\": 1,\r

        \t\t\"windowSize\": \"PT5M\"\r

        \t}\r

        }"
      properties:
        aggregation:
          $ref: "#/components/schemas/ManagementEventAggregationCondition"
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.ManagementEventRuleCondition
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      x-ms-azure-resource: true
    RuleAction:
      description: The action that is performed when the alert rule becomes active, and
        when an alert condition is resolved.
      discriminator:
        propertyName: odata.type
      properties:
        odata.type:
          description: "specifies the type of the action. There are two types of actions:
            RuleEmailAction and RuleWebhookAction."
          type: string
      required:
        - odata.type
      type: object
    RuleCondition:
      description: The condition that results in the alert rule being activated.
      discriminator:
        propertyName: odata.type
      properties:
        dataSource:
          $ref: "#/components/schemas/RuleDataSource"
        odata.type:
          description: "specifies the type of condition. This can be one of three types:
            ManagementEventRuleCondition (occurrences of management events),
            LocationThresholdRuleCondition (based on the number of failures of a
            web test), and ThresholdRuleCondition (based on the threshold of a
            metric)."
          type: string
      required:
        - odata.type
      type: object
    RuleDataSource:
      description: The resource from which the rule collects its data.
      discriminator:
        propertyName: odata.type
      properties:
        odata.type:
          description: "specifies the type of data source. There are two types of rule data
            sources: RuleMetricDataSource and RuleManagementEventDataSource"
          type: string
        resourceUri:
          description: "the resource identifier of the resource the rule monitors.
            **NOTE**: this property cannot be updated for an existing rule."
          type: string
      required:
        - odata.type
      type: object
    RuleEmailAction:
      allOf:
        - $ref: "#/components/schemas/RuleAction"
      description: Specifies the action to send email when the rule condition is evaluated.
        The discriminator is always RuleEmailAction in this case.
      example: "{\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.RuleEmailAction\",\r

        \t\"sendToServiceOwners\": true,\r

        \t\"customEmails\":
        [\"email1@contoso.com\",\"email2@contoso.com\" ]\r

        }"
      properties:
        customEmails:
          description: the list of administrator's custom email addresses to notify of the
            activation of the alert.
          items:
            type: string
          type: array
        sendToServiceOwners:
          description: Whether the administrators (service and co-administrators) of the
            service should be notified when the alert is activated.
          type: boolean
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.RuleEmailAction
    RuleManagementEventClaimsDataSource:
      description: The claims for a rule management event data source.
      properties:
        emailAddress:
          description: the email address.
          type: string
    RuleManagementEventDataSource:
      allOf:
        - $ref: "#/components/schemas/RuleDataSource"
      description: A rule management event data source. The discriminator fields is always
        RuleManagementEventDataSource in this case.
      properties:
        claims:
          $ref: "#/components/schemas/RuleManagementEventClaimsDataSource"
        eventName:
          description: the event name.
          type: string
        eventSource:
          description: the event source.
          type: string
        level:
          description: the level.
          type: string
        operationName:
          description: The name of the operation that should be checked for. If no name is
            provided, any operation will match.
          type: string
        resourceGroupName:
          description: the resource group name.
          type: string
        resourceProviderName:
          description: the resource provider name.
          type: string
        status:
          description: The status of the operation that should be checked for. If no status
            is provided, any status will match.
          type: string
        subStatus:
          description: the substatus.
          type: string
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.RuleManagementEventDataSource
    RuleMetricDataSource:
      allOf:
        - $ref: "#/components/schemas/RuleDataSource"
      description: A rule metric data source. The discriminator value is always
        RuleMetricDataSource in this case.
      properties:
        metricName:
          description: the name of the metric that defines what the rule monitors.
          type: string
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
    RuleWebhookAction:
      allOf:
        - $ref: "#/components/schemas/RuleAction"
      description: Specifies the action to post to service when the rule condition is
        evaluated. The discriminator is always RuleWebhookAction in this case.
      example: "{\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.RuleWebhookAction\",\r

        \t\"serviceUri\": \"http://contoso.com/\",\r

        \t\"properties\": { }\r

        }"
      properties:
        properties:
          additionalProperties:
            type: string
          description: the dictionary of custom properties to include with the post
            operation. These data are appended to the webhook payload.
          type: object
        serviceUri:
          description: the service uri to Post the notification when the alert activates or
            resolves.
          type: string
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.RuleWebhookAction
    ThresholdRuleCondition:
      allOf:
        - $ref: "#/components/schemas/RuleCondition"
      description: A rule condition based on a metric crossing a threshold.
      example: "\"condition\": {\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition\",\r

        \t\"dataSource\": {\r

        \t\"odata.type\":
        \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r

        \t\"resourceUri\":\r

        \t\"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourc\
        eGroups/Default-Storage-NorthCentralUS/providers/Microsoft.Web/serverfa\
        rms/Plan\",\r

        \t\"metricName\": \"CpuPercentage\",\r

        \t\"operator\": \"GreaterThan\"\r

        \t},\r

        \t\"threshold\": 90,\r

        \t\"windowSize\": \"PT15M\",\r

        \t\"timeAggregation\": \"Average\"}"
      properties:
        operator:
          $ref: "#/components/schemas/ConditionOperator"
        threshold:
          description: the threshold value that activates the alert.
          format: double
          type: number
        timeAggregation:
          $ref: "#/components/schemas/TimeAggregationOperator"
        windowSize:
          description: the period of time (in ISO 8601 duration format) that is used to
            monitor alert activity based on the threshold. If specified then it
            must be between 5 minutes and 1 day.
          format: duration
          type: string
      required:
        - threshold
        - operator
      type: object
      x-ms-discriminator-value: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
    TimeAggregationOperator:
      description: Aggregation operators allowed in a rule.
      enum:
        - Average
        - Minimum
        - Maximum
        - Total
        - Last
      type: string
      x-ms-enum:
        modelAsString: false
        name: TimeAggregationOperator
