openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/subscriptions.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-subscriptions
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas":
    get:
      description: Retrieves the subscription's current quota information in a particular
        region.
      operationId: Subscriptions_ListQuotas
      parameters:
        - description: "The region in which to retrieve the subscription's quota
            information. You can find out which regions Azure Stream Analytics
            is supported in here: https://azure.microsoft.com/en-us/regions/"
          in: path
          name: location
          required: true
          schema:
            type: string
          examples:
            List subscription quota information in West US:
              value: West US
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved the subscription's quota information in the
            specified region.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionQuotasListResult"
              examples:
                List subscription quota information in West US:
                  $ref: "#/components/examples/List_subscription_quota_information_\
                    in_West_US"
      tags:
        - Subscriptions
servers:
  - url: https://management.azure.com
components:
  examples:
    List_subscription_quota_information_in_West_US:
      value:
        value:
          - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/providers/Microsoft.StreamAnalytics/locations/West
              US/quotas/StreamingUnits
            name: StreamingUnits
            properties:
              currentCount: 0
              maxCount: 200
            type: Microsoft.StreamAnalytics/quotas
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        List subscription quota information in West US:
          value: 2016-03-01
    SubscriptionIdParameter:
      description: GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      examples:
        List subscription quota information in West US:
          value: 56b5e0a9-b645-407d-99b0-c64f86013e3d
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SubResource:
      description: The base sub-resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        name:
          description: Resource name
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      x-ms-azure-resource: true
    SubscriptionQuota:
      allOf:
        - $ref: "#/components/schemas/SubResource"
      description: Describes the current quota for the subscription.
      properties:
        properties:
          description: Describes the properties of the quota.
          properties:
            currentCount:
              description: The current usage of this resource.
              format: int32
              readOnly: true
              type: integer
            maxCount:
              description: The max permitted usage of this resource.
              format: int32
              readOnly: true
              type: integer
          readOnly: true
          x-ms-client-flatten: true
      type: object
    SubscriptionQuotasListResult:
      description: Result of the GetQuotas operation. It contains a list of quotas for the
        subscription in a particular region.
      properties:
        value:
          description: List of quotas for the subscription in a particular region.
          items:
            $ref: "#/components/schemas/SubscriptionQuota"
          readOnly: true
          type: array
