openapi: 3.0.0
info:
  title: DeletedWebApps API Client
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/DeletedWebApps.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-DeletedWebApps
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites":
    get:
      description: Get all deleted apps for a subscription.
      operationId: DeletedWebApps_List
      parameters:
        - $ref: "#/components/parameters/subscriptionIdParameter"
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedWebAppCollection"
      summary: Get all deleted apps for a subscription.
      tags:
        - DeletedWebApps
      x-ms-pageable:
        nextLinkName: nextLink
servers:
  - url: https://management.azure.com
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DeletedSite:
      description: A deleted app.
      properties:
        deletedTimestamp:
          description: Time in UTC when the app was deleted.
          readOnly: true
          type: string
        id:
          description: Numeric id for the deleted site
          format: int32
          type: integer
        name:
          description: Name of the deleted site
          readOnly: true
          type: string
        resourceGroup:
          description: ResourceGroup that contained the deleted site
          readOnly: true
          type: string
        slot:
          description: Slot of the deleted site
          readOnly: true
          type: string
        subscription:
          description: Subscription containing the deleted site
          readOnly: true
          type: string
      type: object
    DeletedWebAppCollection:
      description: Collection of deleted apps.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: "#/components/schemas/DeletedSite"
          type: array
      required:
        - value
      type: object
