openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/AcquiredPlan.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-AcquiredPlan
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans":
    get:
      description: Get a collection of all acquired plans that subscription has access to.
      operationId: AcquiredPlans_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Get a collection of all acquired plans that subscription has access to.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/TargetSubscriptionIdParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Get a collection of all acquired plans that subscription has access to.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanAcquisitionList"
              examples:
                Get a collection of all acquired plans that subscription has access to.:
                  $ref: "#/components/examples/Get_a_collection_of_all_acquired_pla\
                    ns_that_subscription_has_access_to."
      tags:
        - AcquiredPlans
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}":
    delete:
      description: Deletes an acquired plan.
      operationId: AcquiredPlans_Delete
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Deletes an acquired plan.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/TargetSubscriptionIdParameter"
        - $ref: "#/components/parameters/PlanAcquisitionIdParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Deletes an acquired plan.:
              value: 2015-11-01
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - AcquiredPlans
    get:
      description: Gets the specified plan acquired by a subscription consuming the offer.
      operationId: AcquiredPlans_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Gets the specified plan acquired by a subscription consuming the offer:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - $ref: "#/components/parameters/TargetSubscriptionIdParameter"
        - $ref: "#/components/parameters/PlanAcquisitionIdParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Gets the specified plan acquired by a subscription consuming the offer:
              value: 2015-11-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanAcquisition"
              examples:
                Gets the specified plan acquired by a subscription consuming the offer:
                  $ref: "#/components/examples/Gets_the_specified_plan_acquired_by_\
                    a_subscription_consuming_the_offer"
      tags:
        - AcquiredPlans
    put:
      description: Creates an acquired plan.
      operationId: AcquiredPlans_Create
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure
            subscription.The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Creates or updates the acquired plan.:
              value: 8158498d-27b1-4ccf-9aa1-de0f925731e6
        - $ref: "#/components/parameters/TargetSubscriptionIdParameter"
        - $ref: "#/components/parameters/PlanAcquisitionIdParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2015-11-01
          examples:
            Creates or updates the acquired plan.:
              value: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanAcquisition"
        description: The new acquired plan.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanAcquisition"
              examples:
                Creates or updates the acquired plan.:
                  $ref: "#/components/examples/Creates_or_updates_the_acquired_plan."
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanAcquisition"
              examples:
                Creates or updates the acquired plan.:
                  $ref: "#/components/examples/Creates_or_updates_the_acquired_plan."
      tags:
        - AcquiredPlans
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Get_a_collection_of_all_acquired_plans_that_subscription_has_access_to.:
      value:
        value:
          - acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
            acquisitionTime: 2018-02-17T05:50:51.48Z
            id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
            planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
            provisioningState: Succeeded
    Gets_the_specified_plan_acquired_by_a_subscription_consuming_the_offer:
      value:
        acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
        acquisitionTime: 2018-02-17T05:50:51.48Z
        id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
        planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
        provisioningState: Succeeded
    Creates_or_updates_the_acquired_plan.:
      value:
        acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
        acquisitionTime: 2018-02-17T05:50:51.48Z
        id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
        planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
        provisioningState: Succeeded
  parameters:
    PlanAcquisitionIdParameter:
      description: The plan acquisition Identifier
      in: path
      name: planAcquisitionId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Deletes an acquired plan.:
          value: 718c7f7c-4868-479a-98ce-5caaa8f158c8
        Gets the specified plan acquired by a subscription consuming the offer:
          value: 718c7f7c-4868-479a-98ce-5caaa8f158c8
        Creates or updates the acquired plan.:
          value: 718c7f7c-4868-479a-98ce-5caaa8f158c8
    TargetSubscriptionIdParameter:
      description: The target subscription ID.
      in: path
      name: targetSubscriptionId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get a collection of all acquired plans that subscription has access to.:
          value: 8158498d-27b1-4ccf-9aa1-de0f925731e6
        Deletes an acquired plan.:
          value: 8158498d-27b1-4ccf-9aa1-de0f925731e6
        Gets the specified plan acquired by a subscription consuming the offer:
          value: 8158498d-27b1-4ccf-9aa1-de0f925731e6
        Creates or updates the acquired plan.:
          value: 8158498d-27b1-4ccf-9aa1-de0f925731e6
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PlanAcquisition:
      description: Represents the acquisition of an add-on plan for a subscription.
      properties:
        acquisitionId:
          description: Acquisition identifier.
          type: string
        acquisitionTime:
          description: Acquisition time.
          format: date-time
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        id:
          description: Identifier in the tenant subscription context.
          type: string
        planId:
          description: Plan identifier in the tenant subscription context.
          type: string
        provisioningState:
          $ref: "#/components/schemas/ProvisioningState"
      type: object
    PlanAcquisitionList:
      description: List of acquired plans.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of acquired plans.
          items:
            $ref: "#/components/schemas/PlanAcquisition"
          type: array
    ProvisioningState:
      description: Provisioning state for subscriptions service resources, for example,
        resource provider registration.
      enum:
        - NotSpecified
        - Accepted
        - Failed
        - Succeeded
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
        values:
          - description: The provisioning state is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The provisioning state is accepted, and indicates provisioning is
              ongoing.
            name: Accepted
            value: Accepted
          - description: The provisioning state is failed, and indicates the data is
              potentially out-of-sync with third parties.
            name: Failed
            value: Failed
          - description: The provisioning state is succeeded, and indicates the data is
              in-sync with third-parties.
            name: Succeeded
            value: Succeeded
