openapi: 3.0.0
info:
  description: Subscription client provides an interface to create and manage Azure
    subscriptions programmatically.
  title: SubscriptionClient
  version: 2018-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/operations.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: subscription-operations
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Subscription/operations:
    get:
      description: Lists all of the available Microsoft.Subscription API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/components/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationListResult"
              examples:
                getOperations:
                  $ref: "#/components/examples/getOperations"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
servers:
  - url: https://management.azure.com
components:
  examples:
    getOperations:
      value:
        value:
          - display:
              operation: Create a subscription
              provider: Microsoft Subscription
              resource: Resources
            name: Microsoft.Subscription/createOperation/action
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. Current version
        is 2015-06-01
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        getOperations:
          value: 2018-03-01-preview
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Operation:
      description: REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: "Operation type: Read, write, delete, etc."
              type: string
            provider:
              description: "Service provider: Microsoft.Subscription"
              type: string
            resource:
              description: "Resource on which the operation is performed: Profile,
                endpoint, etc."
              type: string
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
