openapi: 3.0.0
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: 2017-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/componentFeaturesAndPricing_API.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentFeaturesAndPricing_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/pricingPlans/current":
    get:
      description: Returns the current pricing plan setting for an Application Insights
        component.
      operationId: ComponentCurrentPricingPlan_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            ComponentCurrentPricingPlanGet:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanGet:
              value: 2017-10-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanGet:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Application Insights component pricing plan definition.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentPricingPlan"
              examples:
                ComponentCurrentPricingPlanGet:
                  $ref: "#/components/examples/ComponentCurrentPricingPlanGet"
    patch:
      description: Update current pricing plan for an Application Insights component.
      operationId: ComponentCurrentPricingPlan_Update
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: 2017-10-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
      requestBody:
        $ref: "#/components/requestBodies/ApplicationInsightsComponentPricingPlan"
      responses:
        "200":
          description: Successful request when updating billing features for an Application
            Insights component. The updated current billing features are
            returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentPricingPlan"
              examples:
                ComponentCurrentPricingPlanUpdate:
                  $ref: "#/components/examples/ComponentCurrentPricingPlanUpdate"
    put:
      description: Replace current pricing plan for an Application Insights component.
      operationId: ComponentCurrentPricingPlan_CreateAndUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
            minLength: 1
            maxLength: 90
            pattern: ^[-\w\._\(\)]+$
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: my-resource-group
        - description: The API version to use for this operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: 2017-10-01
        - description: The ID of the target subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
            minLength: 1
          examples:
            ComponentCurrentPricingPlanUpdate:
              value: subid
        - $ref: "#/components/parameters/ResourceNameParameter"
      requestBody:
        $ref: "#/components/requestBodies/ApplicationInsightsComponentPricingPlan"
      responses:
        "200":
          description: Successful request when updating billing features for an Application
            Insights component. The updated current billing features are
            returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationInsightsComponentPricingPlan"
              examples:
                ComponentCurrentPricingPlanUpdate:
                  $ref: "#/components/examples/ComponentCurrentPricingPlanUpdate"
servers:
  - url: https://management.azure.com
components:
  examples:
    ComponentCurrentPricingPlanGet:
      value:
        id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
        name: current
        properties:
          cap: 500
          maxHistoryCap: 500
          planType: Basic
          resetHour: 16
          stopSendNotificationWhenHitCap: false
          stopSendNotificationWhenHitThreshold: false
          warningThreshold: 90
        type: microsoft.insights/components/pricingPlans
    ComponentCurrentPricingPlanUpdate:
      value:
        id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
        name: current
        properties:
          cap: 500
          maxHistoryCap: 500
          planType: Basic
          resetHour: 16
          stopSendNotificationWhenHitCap: false
          stopSendNotificationWhenHitThreshold: false
          warningThreshold: 90
        type: microsoft.insights/components/pricingPlans
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        ComponentCurrentPricingPlanGet:
          value: my-component
        ComponentCurrentPricingPlanUpdate:
          value: my-component
  requestBodies:
    ApplicationInsightsComponentPricingPlan:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationInsightsComponentPricingPlan"
      description: Properties that need to be specified to update current pricing plan for
        an Application Insights component.
      required: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ApplicationInsightsComponentPricingPlan:
      allOf:
        - $ref: "#/components/schemas/Resource"
      description: An Application Insights component pricing plan
      properties:
        properties:
          $ref: "#/components/schemas/PricingPlanProperties"
      type: object
    PricingPlanProperties:
      description: An Application Insights component daily data volume cap
      properties:
        cap:
          description: Daily data volume cap in GB.
          type: number
        maxHistoryCap:
          description: Maximum daily data volume cap that the user can set for this
            component.
          readOnly: true
          type: number
        planType:
          description: Pricing Plan Type Name.
          type: string
        resetHour:
          description: Daily data volume cap UTC reset hour.
          readOnly: true
          type: integer
        stopSendNotificationWhenHitCap:
          description: Do not send a notification email when the daily data volume cap is
            met.
          type: boolean
        stopSendNotificationWhenHitThreshold:
          description: Reserved, not used for now.
          type: boolean
        warningThreshold:
          description: Reserved, not used for now.
          type: integer
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Azure resource Id.
          readOnly: true
          type: string
        name:
          description: Azure resource name.
          readOnly: true
          type: string
        type:
          description: Azure resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
