openapi: 3.0.0
info:
  description: Provides create, read, update and delete functionality for Azure SQL
    Database resources including servers, databases, elastic pools,
    recommendations, and operations.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/checkNameAvailability.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-checkNameAvailability
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/checkNameAvailability":
    post:
      description: Determines whether a resource can be created with the specified name.
      operationId: Servers_CheckNameAvailability
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Check for a server name that already exists:
              value: 2014-04-01
            Check for a server name that is available:
              value: 2014-04-01
            Check for a server name that is invalid:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Check for a server name that already exists:
              value: 00000000-1111-2222-3333-444444444444
            Check for a server name that is available:
              value: 00000000-1111-2222-3333-444444444444
            Check for a server name that is invalid:
              value: 00000000-1111-2222-3333-444444444444
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckNameAvailabilityRequest"
        description: The parameters to request for name availability.
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckNameAvailabilityResponse"
              examples:
                Check for a server name that already exists:
                  $ref: "#/components/examples/Check_for_a_server_name_that_already\
                    _exists"
                Check for a server name that is available:
                  $ref: "#/components/examples/Check_for_a_server_name_that_is_avai\
                    lable"
                Check for a server name that is invalid:
                  $ref: "#/components/examples/Check_for_a_server_name_that_is_inva\
                    lid"
      tags:
        - Servers
servers:
  - url: https://management.azure.com
components:
  examples:
    Check_for_a_server_name_that_already_exists:
      value:
        available: false
        message: Specified server name is already used
        name: server1
        reason: AlreadyExists
    Check_for_a_server_name_that_is_available:
      value:
        available: true
        name: server1
    Check_for_a_server_name_that_is_invalid:
      value:
        available: false
        message: Specified server name contains unsupported characters or is too long.
          Server name must be no longer than 63 characters long, contain only
          lower-case characters or digits, cannot contain '.' or '_' characters
          and can't start or end with '-' character.
        name: SERVER1
        reason: Invalid
  parameters:
    DatabaseExpandParameter:
      description: "A comma separated list of child objects to expand in the response.
        Possible properties: serviceTierAdvisors, transparentDataEncryption."
      in: query
      name: $expand
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TransparentDataEncryptionNameParameter:
      description: The name of the transparent data encryption configuration.
      in: path
      name: transparentDataEncryptionName
      required: true
      x-ms-enum:
        modelAsString: true
        name: TransparentDataEncryptionName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - current
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CheckNameAvailabilityRequest:
      description: A request to check whether the specified name for a resource is
        available.
      properties:
        name:
          description: The name whose availability is to be checked.
          type: string
        type:
          description: The type of resource that is used as the scope of the availability
            check.
          enum:
            - Microsoft.Sql/servers
          type: string
          x-ms-enum:
            modelAsString: false
            name: CheckNameAvailabilityResourceType
      required:
        - name
        - type
    CheckNameAvailabilityResponse:
      description: A response indicating whether the specified name for a resource is
        available.
      properties:
        available:
          description: True if the name is available, otherwise false.
          readOnly: true
          type: boolean
        message:
          description: A message explaining why the name is unavailable. Will be null if
            the name is available.
          readOnly: true
          type: string
        name:
          description: The name whose availability was checked.
          readOnly: true
          type: string
        reason:
          description: The reason code explaining why the name is unavailable. Will be null
            if the name is available.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: CheckNameAvailabilityReason
