openapi: 3.0.0
info:
  description: Edge gateway pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/EdgeGatewayPool.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-EdgeGatewayPool
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools":
    get:
      description: Returns a list of all edge gateway pool objects at a location.
      operationId: EdgeGatewayPools_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all edge gateway pool objects at a location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all edge gateway pool objects at a location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all edge gateway pool objects at a location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all edge gateway pool objects at a location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeGatewayPoolList"
              examples:
                Returns a list of all edge gateway pool objects at a location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_edge_gateway_p\
                    ool_objects_at_a_location."
        "404":
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
      x-ms-odata: "#/components/schemas/EdgeGatewayPool"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools/{edgeGatewayPool}":
    get:
      description: Returns the requested edge gateway pool object.
      operationId: EdgeGatewayPools_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns the requested edge gateway pool object.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested edge gateway pool object.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns the requested edge gateway pool object.:
              value: local
        - $ref: "#/components/parameters/EdgeGatewayPoolParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns the requested edge gateway pool object.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeGatewayPool"
              examples:
                Returns the requested edge gateway pool object.:
                  $ref: "#/components/examples/Returns_the_requested_edge_gateway_p\
                    ool_object."
        "404":
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_edge_gateway_pool_objects_at_a_location.:
      value:
        value:
          - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
            location: local
            name: default
            properties:
              edgeGateways:
                - local/AzS-Gwy01
              gatewayCapacityKiloBitsPerSecond: 100000000
              gatewayType: S2sIPsec
              numberOfGateways: 1
              publicIpAddress: 00000000-5555-0000-0001-000000000000
              redundantGatewayCount: 0
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
    Returns_the_requested_edge_gateway_pool_object.:
      value:
        id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
        location: local
        name: default
        properties:
          edgeGateways:
            - local/AzS-Gwy01
          gatewayCapacityKiloBitsPerSecond: 100000000
          gatewayType: S2sIPsec
          numberOfGateways: 1
          publicIpAddress: 00000000-5555-0000-0001-000000000000
          redundantGatewayCount: 0
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
  parameters:
    EdgeGatewayPoolParameter:
      description: Name of the edge gateway pool.
      in: path
      name: edgeGatewayPool
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns the requested edge gateway pool object.:
          value: default
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    EdgeGatewayPool:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This object represents an edge gateway pool, which contains a list of
        gateways.
      properties:
        properties:
          $ref: "#/components/schemas/EdgeGatewayPoolModel"
      type: object
    EdgeGatewayPoolList:
      description: A pageable list of edge gateway pools objects.
      properties:
        nextLink:
          description: The URI to the next page.
          type: string
        value:
          description: List of edge gateway pool objects.
          items:
            $ref: "#/components/schemas/EdgeGatewayPool"
          type: array
      type: object
    EdgeGatewayPoolModel:
      description: An object that contains the properties of an edge gateway pool.
      properties:
        edgeGateways:
          description: List of the edge gateways in the pool.
          items:
            type: string
          type: array
        gatewayCapacityKiloBitsPerSecond:
          description: Gateway capacity in kilobits per second.
          format: int32
          type: integer
        gatewayType:
          description: The gateway type, for example, S2sIPsec, S2sGre, and so on.
          type: string
        greVipSubnet:
          description: The GRE VIP subnet.
          type: string
        numberOfGateways:
          description: The number of gateways in the pool.
          format: int32
          type: integer
        publicIpAddress:
          description: The public IP address.
          type: string
        redundantGatewayCount:
          description: The number of redundant gateways.
          format: int64
          type: integer
      type: object
