openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2018-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/baseline_API.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: monitor-baseline_API
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/{resourceUri}/providers/microsoft.insights/baseline":
    get:
      description: "**Gets the baseline values for a resource**."
      operationId: Baseline_Get
      parameters:
        - $ref: "#/components/parameters/ExtendedResourceUriParameter"
        - $ref: "#/components/parameters/MetricNamesParameter"
        - $ref: "#/components/parameters/TimespanParameter"
        - $ref: "#/components/parameters/IntervalParameter"
        - $ref: "#/components/parameters/AggregationParameter"
        - $ref: "#/components/parameters/SensitivitiesParameter"
        - $ref: "#/components/parameters/BaselineResultTypeParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/MetricNamespaceParameter"
        - description: The **$filter** is used to describe a set of dimensions with their
            concrete values which produce a specific metric's time series, in
            which a baseline is requested for.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful request to get the list of metric values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaselineResponse"
              examples:
                Get Metric for data:
                  $ref: "#/components/examples/Get_Metric_for_data"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Baseline
  "/{resourceUri}/providers/microsoft.insights/baseline/{metricName}":
    get:
      description: "**Gets the baseline values for a specific metric**."
      operationId: MetricBaseline_Get
      parameters:
        - $ref: "#/components/parameters/ExtendedResourceUriParameter"
        - $ref: "#/components/parameters/MetricNameParameter"
        - $ref: "#/components/parameters/TimespanParameter"
        - $ref: "#/components/parameters/IntervalParameter"
        - $ref: "#/components/parameters/AggregationParameter"
        - $ref: "#/components/parameters/SensitivitiesParameter"
        - $ref: "#/components/parameters/BaselineResultTypeParameter"
        - $ref: "#/components/parameters/ApiVersionParameter"
        - $ref: "#/components/parameters/MetricNamespaceParameter"
        - description: The **$filter** is used to describe a set of dimensions with their
            concrete values which produce a specific metric's time series, in
            which a baseline is requested for.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful request to get the list of metric values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaselineResponse"
              examples:
                Get Metric for data:
                  $ref: "#/components/examples/Get_Metric_for_data"
                Get Metric for metadata:
                  $ref: "#/components/examples/Get_Metric_for_metadata"
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Baseline
servers:
  - url: https://management.azure.com
components:
  examples:
    Get_Metric_for_data:
      value:
        id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.Insights/baseline/PercentageCpu
        name:
          value: PercentageCpu
        properties:
          aggregation: Average
          baseline:
            - highThresholds:
                - 90.3453
                - 91.3453
              lowThresholds:
                - 30
                - 31.1
              sensitivity: Low
            - highThresholds:
                - 70.3453
                - 71.3453
              lowThresholds:
                - 50
                - 51.1
              sensitivity: Medium
          interval: PT1H
          timespan: 2017-04-14T02:20:00Z/2017-04-14T04:20:00Z
          timestamps:
            - 2017-04-14T02:20:00Z
            - 2017-04-14T03:20:00Z
        type: Microsoft.Insights/baseline
    Get_Metric_for_metadata:
      value:
        id: /subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.Insights/baseline/PercentageCpu
        name:
          value: PercentageCpu
        properties:
          aggregation: Average
          interval: PT1H
          metadata:
            - name: CurrentTrainingState
              value: Trained
            - name: SelectedModel
              value: AdjustedBoxplot
          timespan: 2017-04-14T02:20:00Z/2017-04-14T04:20:00Z
        type: Microsoft.Insights/baseline
  parameters:
    AggregationParameter:
      description: The aggregation type of the metric to retrieve the baseline for.
      in: query
      name: aggregation
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric for data:
          value: Average
        Get Metric for metadata:
          value: Average
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      examples:
        Get Metric for data:
          value: 2018-09-01
        Get Metric for metadata:
          value: 2018-09-01
    BaselineResultTypeParameter:
      description: Allows retrieving only metadata of the baseline. On data request all
        information is retrieved.
      in: query
      name: resultType
      required: false
      x-ms-enum:
        modelAsString: false
        name: ResultType
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - Data
          - Metadata
    ExtendedResourceUriParameter:
      description: "The identifier of the resource. It has the following structure:
        subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/pro\
        viders/{providerName}/{resourceName}. For example:
        subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/p\
        roviders/Microsoft.Compute/virtualMachines/vm1"
      in: path
      name: resourceUri
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
      examples:
        Get Metric for data:
          value: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1
        Get Metric for metadata:
          value: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1
    IntervalParameter:
      description: The interval (i.e. timegrain) of the query.
      in: query
      name: interval
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
        format: duration
      examples:
        Get Metric for data:
          value: PT1H
        Get Metric for metadata:
          value: PT1H
    MetricNameParameter:
      description: The name of the metric to retrieve the baseline for.
      in: path
      name: metricName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric for data:
          value: PercentageCpu
        Get Metric for metadata:
          value: PercentageCpu
    MetricNamesParameter:
      description: The names of the metrics (comma separated) to retrieve.
      in: query
      name: metricnames
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    MetricNamespaceParameter:
      description: Metric namespace to query metric definitions for.
      in: query
      name: metricnamespace
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SensitivitiesParameter:
      description: The list of sensitivities (comma separated) to retrieve.
      in: query
      name: sensitivities
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric for data:
          value: Low,Medium
    TimespanParameter:
      description: The timespan of the query. It is a string with the following format
        'startDateTime_ISO/endDateTime_ISO'.
      in: query
      name: timespan
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Get Metric for data:
          value: 2017-04-14T02:20:00Z/2017-04-14T04:20:00Z
        Get Metric for metadata:
          value: 2017-04-14T02:20:00Z/2017-04-14T04:20:00Z
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Baseline:
      description: The baseline values for a single sensitivity value.
      properties:
        highThresholds:
          description: The high thresholds of the baseline.
          items:
            description: A single high threshold value.
            format: double
            type: number
          type: array
        lowThresholds:
          description: The low thresholds of the baseline.
          items:
            description: A single low threshold value.
            format: double
            type: number
          type: array
        sensitivity:
          description: The sensitivity of the baseline.
          enum:
            - Low
            - Medium
            - High
          type: string
          x-ms-enum:
            modelAsString: false
            name: Sensitivity
      required:
        - sensitivity
        - lowThresholds
        - highThresholds
      type: object
    BaselineMetadataValue:
      description: Represents a baseline metadata value.
      properties:
        name:
          $ref: "#/components/schemas/LocalizableString"
        value:
          description: The value of the metadata.
          type: string
    BaselineProperties:
      description: The baseline properties class.
      properties:
        aggregation:
          description: The aggregation type of the metric.
          type: string
        baseline:
          description: The baseline values for each sensitivity.
          items:
            $ref: "#/components/schemas/Baseline"
          type: array
        interval:
          description: The interval (window size) for which the metric data was returned
            in.  This may be adjusted in the future and returned back from what
            was originally requested.  This is not present if a metadata request
            was made.
          format: duration
          type: string
        metadata:
          description: The baseline metadata values.
          items:
            $ref: "#/components/schemas/BaselineMetadataValue"
          type: array
        timespan:
          description: The timespan for which the data was retrieved. Its value consists of
            two datetimes concatenated, separated by '/'.  This may be adjusted
            in the future and returned back from what was originally requested.
          type: string
        timestamps:
          description: The array of timestamps of the baselines.
          items:
            description: The timestamp for the baseline value in ISO 8601 format.
            format: date-time
            type: string
          type: array
    BaselineResponse:
      description: The response to a baseline query.
      properties:
        id:
          description: The metric baseline ID.
          readOnly: true
          type: string
        name:
          $ref: "#/components/schemas/LocalizableString"
        properties:
          $ref: "#/components/schemas/BaselineProperties"
        type:
          description: The resource type of the baseline resource.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LocalizableString:
      description: The localizable string class.
      properties:
        localizedValue:
          description: The locale specific value.
          type: string
        value:
          description: The invariant value.
          type: string
      required:
        - value
