openapi: 3.0.0
info:
  description: Provides read and update functionality for Azure SQL Database geo backup
    policies.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/geoBackupPolicies.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-geoBackupPolicies
  x-tags:
    - Azure
    - Microsoft
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies":
    get:
      description: Returns a list of geo backup policies.
      operationId: GeoBackupPolicies_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List geo backup policies:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            List geo backup policies:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            List geo backup policies:
              value: sqlcrudtest-4799
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
          examples:
            List geo backup policies:
              value: testdw
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoBackupPolicyListResult"
              examples:
                List geo backup policies:
                  $ref: "#/components/examples/List_geo_backup_policies"
      tags:
        - GeoBackupPolicies
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies/{geoBackupPolicyName}":
    get:
      description: Gets a geo backup policy.
      operationId: GeoBackupPolicies_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Get geo backup policy:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Get geo backup policy:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Get geo backup policy:
              value: sqlcrudtest-4799
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
          examples:
            Get geo backup policy:
              value: testdw
        - $ref: "#/components/parameters/GeoBackupPolicyNameParameter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoBackupPolicy"
              examples:
                Get geo backup policy:
                  $ref: "#/components/examples/Get_geo_backup_policy"
      tags:
        - GeoBackupPolicies
    put:
      description: Updates a database geo backup policy.
      operationId: GeoBackupPolicies_CreateOrUpdate
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Update geo backup policy:
              value: 2014-04-01
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          x-ms-parameter-location: client
          schema:
            type: string
          examples:
            Update geo backup policy:
              value: 00000000-1111-2222-3333-444444444444
        - description: The name of the resource group that contains the resource. You can
            obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Update geo backup policy:
              value: sqlcrudtest-4799
        - $ref: "#/components/parameters/ServerNameParameter"
        - description: The name of the database.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
          examples:
            Update geo backup policy:
              value: testdw
        - $ref: "#/components/parameters/GeoBackupPolicyNameParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeoBackupPolicy"
        description: The required parameters for creating or updating the geo backup policy.
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoBackupPolicy"
              examples:
                Update geo backup policy:
                  $ref: "#/components/examples/Update_geo_backup_policy"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoBackupPolicy"
              examples:
                Update geo backup policy:
                  $ref: "#/components/examples/Update_geo_backup_policy"
      tags:
        - GeoBackupPolicies
servers:
  - url: https://management.azure.com
components:
  examples:
    List_geo_backup_policies:
      value:
        value:
          - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdw/geoBackupPolicies/Default
            location: Central US
            name: Default
            properties:
              state: Enabled
              storageType: Premium
            type: Microsoft.Sql/servers/databases/geoBackupPolicies
    Get_geo_backup_policy:
      value:
        id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdw/geoBackupPolicies/Default
        location: Central US
        name: Default
        properties:
          state: Enabled
          storageType: Premium
        type: Microsoft.Sql/servers/databases/geoBackupPolicies
    Update_geo_backup_policy:
      value:
        id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdw/geoBackupPolicies/Default
        name: Default
        properties:
          state: Enabled
        type: Microsoft.Sql/servers/databases/geoBackupPolicies
  parameters:
    GeoBackupPolicyNameParameter:
      description: The name of the geo backup policy.
      in: path
      name: geoBackupPolicyName
      required: true
      x-ms-enum:
        modelAsString: true
        name: GeoBackupPolicyName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
          - Default
      examples:
        Get geo backup policy:
          value: Default
        Update geo backup policy:
          value: Default
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        List geo backup policies:
          value: sqlcrudtest-5961
        Get geo backup policy:
          value: sqlcrudtest-5961
        Update geo backup policy:
          value: sqlcrudtest-5961
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    GeoBackupPolicy:
      allOf:
        - allOf:
            - description: ARM resource.
              properties:
                id:
                  description: Resource ID.
                  readOnly: true
                  type: string
                name:
                  description: Resource name.
                  readOnly: true
                  type: string
                type:
                  description: Resource type.
                  readOnly: true
                  type: string
              type: object
              x-ms-azure-resource: true
          description: ARM proxy resource.
          properties: {}
          type: object
      description: A database geo backup policy.
      properties:
        kind:
          description: Kind of geo backup policy.  This is metadata used for the Azure
            portal experience.
          readOnly: true
          type: string
        location:
          description: Backup policy location.
          readOnly: true
          type: string
        properties:
          $ref: "#/components/schemas/GeoBackupPolicyProperties"
      required:
        - properties
    GeoBackupPolicyListResult:
      description: The response to a list geo backup policies request.
      properties:
        value:
          description: The list of geo backup policies.
          items:
            $ref: "#/components/schemas/GeoBackupPolicy"
          type: array
    GeoBackupPolicyProperties:
      description: The properties of the geo backup policy.
      properties:
        state:
          description: The state of the geo backup policy.
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: false
            name: GeoBackupPolicyState
        storageType:
          description: The storage type of the geo backup policy.
          readOnly: true
          type: string
      required:
        - state
