openapi: 3.0.0
info:
  description: IP pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/IpPool.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-IpPool
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools":
    get:
      description: Returns a list of all IP pools at a certain location.
      operationId: IpPools_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of all IP pools at a certain location.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all IP pools at a certain location.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of all IP pools at a certain location.:
              value: local
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Returns a list of all IP pools at a certain location.:
              value: 2016-05-01
        - description: OData filter parameter.
          in: query
          name: $filter
          x-ms-parameter-location: method
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpPoolList"
              examples:
                Returns a list of all IP pools at a certain location.:
                  $ref: "#/components/examples/Returns_a_list_of_all_IP_pools_at_a_\
                    certain_location."
        "404":
          description: NOT FOUND
      tags:
        - IpPools
      x-ms-odata: "#/components/schemas/IpPool"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools/{ipPool}":
    get:
      description: Return the requested IP pool.
      operationId: IpPools_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Return the requested IP pool.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested IP pool.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Return the requested IP pool.:
              value: local
        - $ref: "#/components/parameters/IpPoolNameParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Return the requested IP pool.:
              value: 2016-05-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpPool"
              examples:
                Return the requested IP pool.:
                  $ref: "#/components/examples/Return_the_requested_IP_pool."
        "404":
          description: NOT FOUND
      tags:
        - IpPools
    put:
      description: Create an IP pool.  Once created an IP pool cannot be deleted.
      operationId: IpPools_CreateOrUpdate
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Create an IP pool.  Once created an IP pool cannot be deleted.:
              value: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Create an IP pool.  Once created an IP pool cannot be deleted.:
              value: System.local
        - description: Location of the resource.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Create an IP pool.  Once created an IP pool cannot be deleted.:
              value: local
        - $ref: "#/components/parameters/IpPoolNameParameter"
        - description: Client API Version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2016-05-01
          examples:
            Create an IP pool.  Once created an IP pool cannot be deleted.:
              value: 2016-05-01
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpPool"
        description: IP pool object to send.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpPool"
              examples:
                Create an IP pool.  Once created an IP pool cannot be deleted.:
                  $ref: "#/components/examples/Create_an_IP_pool._Once_created_an_I\
                    P_pool_cannot_be_deleted."
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpPool"
      tags:
        - IpPools
      x-ms-long-running-operation: true
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_all_IP_pools_at_a_certain_location.:
      value:
        value:
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1
            location: local
            name: 13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1
            properties:
              endIpAddress: 192.168.200.62
              numberOfAllocatedIpAddresses: 3
              numberOfIpAddresses: 62
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.200.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/7d78b1d4-059d-4956-bd08-a174ef5db6ae
            location: local
            name: 7d78b1d4-059d-4956-bd08-a174ef5db6ae
            properties:
              endIpAddress: 192.168.105.255
              numberOfAllocatedIpAddresses: 8
              numberOfIpAddresses: 255
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.105.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/acd04be9-69fe-4713-99d3-99046f971f73
            location: local
            name: acd04be9-69fe-4713-99d3-99046f971f73
            properties:
              endIpAddress: 192.168.200.111
              numberOfAllocatedIpAddresses: 0
              numberOfIpAddresses: 47
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.200.65
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cace184f-12a4-43a7-ab22-9796cda85c56
            location: local
            name: cace184f-12a4-43a7-ab22-9796cda85c56
            properties:
              endIpAddress: 192.168.200.127
              numberOfAllocatedIpAddresses: 1
              numberOfIpAddresses: 16
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.200.112
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cf9ccfbf-d902-44ef-914c-3e59c2cc5215
            location: local
            name: cf9ccfbf-d902-44ef-914c-3e59c2cc5215
            properties:
              endIpAddress: 192.168.200.254
              numberOfAllocatedIpAddresses: 1
              numberOfIpAddresses: 31
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.200.224
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/e7eb5792-8240-4210-8f25-73cf2d0be74a
            location: local
            name: e7eb5792-8240-4210-8f25-73cf2d0be74a
            properties:
              endIpAddress: 192.168.102.255
              numberOfAllocatedIpAddresses: 33
              numberOfIpAddresses: 255
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.168.102.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool199198
            location: local
            name: TestIpPool199198
            properties:
              endIpAddress: 192.198.9.255
              numberOfAllocatedIpAddresses: 0
              numberOfIpAddresses: 255
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.198.9.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1992
            location: local
            name: TestIpPool1992
            properties:
              endIpAddress: 192.2.9.255
              numberOfAllocatedIpAddresses: 0
              numberOfIpAddresses: 255
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.2.9.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
          - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1993
            location: local
            name: TestIpPool1993
            properties:
              endIpAddress: 192.3.9.255
              numberOfAllocatedIpAddresses: 0
              numberOfIpAddresses: 255
              numberOfIpAddressesInTransition: 0
              startIpAddress: 192.3.9.1
            tags: {}
            type: Microsoft.Fabric.Admin/fabricLocations/ipPools
    Return_the_requested_IP_pool.:
      value:
        id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1993
        location: local
        name: TestIpPool1993
        properties:
          endIpAddress: 192.3.9.255
          numberOfAllocatedIpAddresses: 0
          numberOfIpAddresses: 255
          numberOfIpAddressesInTransition: 0
          startIpAddress: 192.3.9.1
        tags: {}
        type: Microsoft.Fabric.Admin/fabricLocations/ipPools
    Create_an_IP_pool._Once_created_an_IP_pool_cannot_be_deleted.:
      value:
        properties:
          provisioningState: Succeeded
  parameters:
    IpPoolNameParameter:
      description: IP pool name.
      in: path
      name: ipPool
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Return the requested IP pool.:
          value: 981fec89-67d6-453e-bf21-5ff11562564f
        Create an IP pool.  Once created an IP pool cannot be deleted.:
          value: myPool
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    IpPool:
      allOf:
        - description: Base resource object.
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: The region where the resource is located.
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key-value pairs.
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: This resource defines the range of IP addresses from which addresses
        are  allocated for nodes within a subnet.
      properties:
        properties:
          $ref: "#/components/schemas/IpPoolModel"
      type: object
    IpPoolList:
      description: Pageable list of IP pools.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of IP pools.
          items:
            $ref: "#/components/schemas/IpPool"
          type: array
      type: object
    IpPoolModel:
      description: Properties of an IpPool.
      properties:
        addressPrefix:
          description: The address prefix.
          type: string
        endIpAddress:
          description: The ending IP address.
          type: string
        numberOfAllocatedIpAddresses:
          description: The number of currently allocated IP addresses.
          format: int64
          type: integer
        numberOfIpAddresses:
          description: The total number of IP addresses.
          format: int64
          type: integer
        numberOfIpAddressesInTransition:
          description: The current number of IP addresses in transition.
          format: int64
          type: integer
        startIpAddress:
          description: The starting IP address.
          type: string
      type: object
