openapi: 3.0.0
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2018-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backups.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Backups
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups":
    get:
      description: Returns a list of backups from a location.
      operationId: Backups_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a list of backups from a location.:
              value: 11111111-2222-3333-4444-555555555555
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of backups from a location.:
              value: System.local
        - description: Name of the backup location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a list of backups from a location.:
              value: local
        - description: Client API version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2018-09-01
          examples:
            Returns a list of backups from a location.:
              value: 2018-09-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupList"
              examples:
                Returns a list of backups from a location.:
                  $ref: "#/components/examples/Returns_a_list_of_backups_from_a_loc\
                    ation."
      tags:
        - Backups
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}":
    get:
      description: Returns a backup from a location based on name.
      operationId: Backups_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Returns a backup from a location based on name.:
              value: 11111111-2222-3333-4444-555555555555
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a backup from a location based on name.:
              value: System.local
        - description: Name of the backup location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Returns a backup from a location based on name.:
              value: local
        - $ref: "#/components/parameters/BackupParameter"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2018-09-01
          examples:
            Returns a backup from a location based on name.:
              value: 2018-09-01
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backup"
              examples:
                Returns a backup from a location based on name.:
                  $ref: "#/components/examples/Returns_a_backup_from_a_location_bas\
                    ed_on_name."
      tags:
        - Backups
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore":
    post:
      description: Restore a backup.
      operationId: Backups_Restore
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure
            subscription. The subscription ID forms part of the URI for every
            service call.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
          examples:
            Restore a backup.:
              value: 11111111-2222-3333-4444-555555555555
            Restore a single role from backup.:
              value: 11111111-2222-3333-4444-555555555555
        - description: Name of the backup location.
          in: path
          name: location
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Restore a backup.:
              value: local
            Restore a single role from backup.:
              value: local
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          x-ms-parameter-location: method
          schema:
            type: string
          examples:
            Restore a backup.:
              value: System.local
            Restore a single role from backup.:
              value: System.local
        - $ref: "#/components/parameters/BackupParameter"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          schema:
            type: string
            default: 2018-09-01
          examples:
            Restore a backup.:
              value: 2018-09-01
            Restore a single role from backup.:
              value: 2018-09-01
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreOptions"
        description: Restore options.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - Backups
      x-ms-long-running-operation: true
servers:
  - url: https://adminmanagement.local.azurestack.external
components:
  examples:
    Returns_a_list_of_backups_from_a_location.:
      value:
        value:
          - id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81
            location: local
            name: 64e8625a-8dc0-49df-a195-932901b4be81
            properties:
              backupInfo:
                backupDataVersion: 1.0.1
                createdDateTime: 2018-08-28T07:47:11.3081476Z
                deploymentID: d3236bc0-6a46-4877-a9da-6fe69e9661df
                encryptionCertThumbprint: BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8
                isCloudRecoveryReady: true
                roleStatus:
                  - roleName: NRP
                    status: Succeeded
                  - roleName: SRP
                    status: Succeeded
                  - roleName: CRP
                    status: Succeeded
                  - roleName: KeyVaultInternalControlPlane
                    status: Succeeded
                  - roleName: KeyVaultInternalDataPlane
                    status: Succeeded
                  - roleName: KeyVaultControlPlane
                    status: Succeeded
                  - roleName: KeyVaultDataPlane
                    status: Succeeded
                  - roleName: KeyVaultNamingService
                    status: Succeeded
                  - roleName: WAS
                    status: Succeeded
                  - roleName: ECE
                    status: Succeeded
                  - roleName: Domain
                    status: Succeeded
                  - roleName: CA
                    status: Succeeded
                  - roleName: ACS
                    status: Succeeded
                stampVersion: 1.1809.0.25
                status: Succeeded
                timeTakenToCreate: PT20M48.5970829S
            tags: {}
            type: Microsoft.Backup.Admin/backupLocations/backups
    Returns_a_backup_from_a_location_based_on_name.:
      value:
        id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81
        location: local
        name: 64e8625a-8dc0-49df-a195-932901b4be81
        properties:
          backupInfo:
            backupDataVersion: 1.0.1
            createdDateTime: 2018-08-28T07:47:11.3081476Z
            deploymentID: d3236bc0-6a46-4877-a9da-6fe69e9661df
            encryptionCertThumbprint: BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8
            isCloudRecoveryReady: true
            roleStatus:
              - roleName: NRP
                status: Succeeded
              - roleName: SRP
                status: Succeeded
              - roleName: CRP
                status: Succeeded
              - roleName: KeyVaultInternalControlPlane
                status: Succeeded
              - roleName: KeyVaultInternalDataPlane
                status: Succeeded
              - roleName: KeyVaultControlPlane
                status: Succeeded
              - roleName: KeyVaultDataPlane
                status: Succeeded
              - roleName: KeyVaultNamingService
                status: Succeeded
              - roleName: WAS
                status: Succeeded
              - roleName: ECE
                status: Succeeded
              - roleName: Domain
                status: Succeeded
              - roleName: CA
                status: Succeeded
              - roleName: ACS
                status: Succeeded
            stampVersion: 1.1809.0.25
            status: Succeeded
            timeTakenToCreate: PT20M48.5970829S
        tags: {}
        type: Microsoft.Backup.Admin/backupLocations/backups
  parameters:
    BackupParameter:
      description: Name of the backup.
      in: path
      name: backup
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
      examples:
        Returns a backup from a location based on name.:
          value: 64e8625a-8dc0-49df-a195-932901b4be81
        Restore a backup.:
          value: 64e8625a-8dc0-49df-a195-932901b4be81
        Restore a single role from backup.:
          value: 64e8625a-8dc0-49df-a195-932901b4be81
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Backup:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Location of the resource.
              readOnly: false
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key value pairs.
              readOnly: false
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Information related to a backup.
      properties:
        properties:
          $ref: "#/components/schemas/BackupModel"
      type: object
    BackupInfo:
      description: Holds information for a backup.
      properties:
        backupDataVersion:
          description: Version of the backup data.
          readOnly: true
          type: string
        createdDateTime:
          description: Creation time of the backup.
          format: date-time
          readOnly: true
          type: string
        deploymentID:
          description: Deployment Id of the stamp.
          readOnly: true
          type: string
        encryptionCertThumbprint:
          description: The thumbprint of the certificate used to encrypt the backup
            encryption key.
          readOnly: true
          type: string
        isCloudRecoveryReady:
          description: True if the backup can be used for cloud recovery scenario.
          readOnly: true
          type: boolean
        oemVersion:
          description: OEM version.
          readOnly: true
          type: string
        roleStatus:
          $ref: "#/components/schemas/RoleOperationStatusList"
        stampVersion:
          description: Azure Stack stamp version of the backup.
          readOnly: true
          type: string
        status:
          $ref: "#/components/schemas/OperationStatus"
        timeTakenToCreate:
          description: Duration to create the backup.
          readOnly: true
          type: string
      type: object
    BackupList:
      description: List of backups.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of backups.
          items:
            $ref: "#/components/schemas/Backup"
          type: array
      type: object
    BackupModel:
      description: Properties for a backup.
      properties:
        backupInfo:
          $ref: "#/components/schemas/BackupInfo"
    OperationStatus:
      description: Status of an operation.
      enum:
        - Creating
        - Queued
        - Running
        - Deleted
        - Failed
        - PartialSucceeded
        - Succeeded
      type: string
      x-ms-enum:
        modelAsString: false
        name: OperationStatus
    RestoreOptions:
      description: Properties for restore options.
      properties:
        decryptionCertBase64:
          description: The certificate file raw data in Base64 string. This should be the
            .pfx file with the private key.
          type: string
        decryptionCertPassword:
          description: The password for the decryption certificate.
          type: string
        roleName:
          description: The Azure Stack role name for restore, set it to empty for all
            infrastructure role
          type: string
    RoleOperationStatus:
      description: Backup status for a role.
      properties:
        roleName:
          description: Name of the role.
          type: string
        status:
          $ref: "#/components/schemas/OperationStatus"
      type: object
    RoleOperationStatusList:
      description: object
      items:
        $ref: "#/components/schemas/RoleOperationStatus"
      type: array
