openapi: 3.0.0
info:
  contact:
    x-twitter: NASAEarthData
  description: >-
    Welcome to the Daymet Single Pixel Tool API. You can use this API to
    download daily surface data within the Daymet database in a `csv` or `json`
    format for a single point. This API allows users to query a single
    geographic point by latitude and longitude in decimal degrees. A routine is
    executed that translates the (lon, lat) coordinates into projected Daymet
    (x,y) Lambert Conformal Coordinates. These coordinates are used to access
    the Daymet database of daily interpolated surface weather variables. Daily
    data from the nearest 1 km x 1 km Daymet grid cell are extracted from the
    database.


    If you would like to learn how to automate the download of multiple locations for the Daymet Single Pixel Tool, click [here](https://github.com/ornldaac/daymet-single-pixel-batch).
  title: Daymet Single Pixel Tool
  version: 1.0.2
  x-apisguru-categories:
    - location
  x-logo:
    url: https://twitter.com/NASAEarthData/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://daymet.ornl.gov/single-pixel/static/swagger.json
      version: "2.0"
  x-providerName: ornl.gov
  x-serviceName: daymet
paths:
  /api/data:
    get:
      description: Returns a csv or json of the requested data to local machine
      parameters:
        - description: Latitude component of location.
          in: query
          name: lat
          required: true
          schema:
            type: number
            format: double
        - description: Longitude component of location.
          in: query
          name: lon
          required: true
          schema:
            type: number
            format: double
        - description: Daymet Daily weather estimates.
          in: query
          name: vars
          schema:
            type: array
            items:
              type: string
        - description: Subset on years [1980..2018].
          in: query
          name: years
          schema:
            type: array
            items:
              type: string
        - description: Subset on dates (start date).
          in: query
          name: start
          schema:
            type: string
            format: date
        - description: Subset on dates (end date).
          in: query
          name: end
          schema:
            type: string
            format: date
        - description: Specify a format for data retrieval.
          in: query
          name: format
          required: true
          schema:
            type: string
            enum:
              - csv
              - json
      responses:
        "200":
          description: Successful Execution
        default:
          description: Unexpected Error
      summary: Download Daymet Data
  /preview:
    get:
      description: Returns a table to the browser displaying requested data
      parameters:
        - description: Latitude component of location
          in: query
          name: lat
          required: true
          schema:
            type: number
            format: double
        - description: Longitude component of location.
          in: query
          name: lon
          required: true
          schema:
            type: number
            format: double
        - description: Daymet Daily weather estimates.
          in: query
          name: vars
          schema:
            type: array
            items:
              type: string
        - description: Subset on years [1980..2018].
          in: query
          name: years
          schema:
            type: array
            items:
              type: string
        - description: Subset on dates (start date).
          in: query
          name: start
          schema:
            type: string
            format: date
        - description: Subset on dates (end date).
          in: query
          name: end
          schema:
            type: string
            format: date
        - description: Specify a format for data retrieval.
          in: query
          name: format
          required: true
          schema:
            type: string
            enum:
              - csv
              - json
      responses:
        "200":
          description: Successful Execution
        default:
          description: Unexpected Error
      summary: Preview Daymet Data in a web browser
  /send/saveData:
    get:
      description: Returns a csv or json of the requested data to local machine
      parameters:
        - description: Latitude component of location.
          in: query
          name: lat
          required: true
          schema:
            type: number
            format: double
        - description: Longitude component of location.
          in: query
          name: lon
          required: true
          schema:
            type: number
            format: double
        - description: Daymet Daily weather estimates.
          in: query
          name: vars
          schema:
            type: array
            items:
              type: string
        - description: Subset on years [1980..2018].
          in: query
          name: years
          schema:
            type: array
            items:
              type: string
        - description: Subset on dates (start date).
          in: query
          name: start
          schema:
            type: string
            format: date
        - description: Subset on dates (end date).
          in: query
          name: end
          schema:
            type: string
            format: date
        - description: Specify a format for data retrieval.
          in: query
          name: format
          required: true
          schema:
            type: string
            enum:
              - csv
              - json
      responses:
        "200":
          description: Successful Execution
        default:
          description: Unexpected Error
      summary: Download Daymet Data
  /visualize:
    get:
      description: Returns plots to a web browser of requested data using Plotly
      parameters:
        - description: Latitude component of location.
          in: query
          name: lat
          required: true
          schema:
            type: number
            format: double
        - description: Longitude component of location.
          in: query
          name: lon
          required: true
          schema:
            type: number
            format: double
        - description: Daymet Daily weather estimates.
          in: query
          name: vars
          schema:
            type: array
            items:
              type: string
        - description: Subset on years [1980..2018].
          in: query
          name: years
          schema:
            type: array
            items:
              type: string
        - description: Subset on dates (start date).
          in: query
          name: start
          schema:
            type: string
            format: date
        - description: Subset on dates (end date).
          in: query
          name: end
          schema:
            type: string
            format: date
        - description: Specify a format for data retrieval.
          in: query
          name: format
          required: true
          schema:
            type: string
            enum:
              - csv
              - json
      responses:
        "200":
          description: Successful Execution
        default:
          description: Unexpected Error
      summary: Visualize Daymet Data in a web browser
servers:
  - url: https://daymet.ornl.gov/single-pixel
