openapi: 3.0.0
info:
  contact:
    name: Forum
    url: https://rapidapi.com/BigLobster/api/language-identification-prediction/discussions
    x-twitter: Rapid_API
  description: Automatic language detection for any texts. Supports over 150 languages.
  title: Language Identification (Prediction)
  version: 1.0.0
  x-apisguru-categories:
    - text
  x-logo:
    url: https://twitter.com/Rapid_API/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/BigLobsterito/apis/master/language-identification-swagger.yaml
      version: "2.0"
  x-providerName: rapidapi.com
  x-serviceName: language-identification
externalDocs:
  url: https://rapidapi.com/BigLobster/api/language-identification-prediction/details
paths:
  /recognize-language/:
    post:
      parameters:
        - in: header
          name: X-RapidAPI-Host
          required: true
          schema:
            type: string
            default: language-identification-prediction.p.rapidapi.com
        - in: header
          name: X-RapidAPI-Key
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  description: text
                  type: string
              required:
                - text
      responses:
        "200":
          description: OK
      summary: Recognize Language
servers:
  - url: https://language-identification-prediction.p.rapidapi.com/v1/
