openapi: 3.0.0
info:
  description: REFUGE is a web application that seeks to provide safe restroom access for
    transgender, intersex, and gender nonconforming individuals.
  title: API title
  version: 0.0.1
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#4C4C4C"
    url: https://pbs.twimg.com/profile_images/432717338270380032/BZWevLrA.jpeg
  x-origin:
    - format: swagger
      url: http://www.refugerestrooms.org/api/swagger_doc.json
      version: "2.0"
  x-preferred: true
  x-providerName: refugerestrooms.org
tags:
  - description: Operations about restrooms
    name: restrooms
paths:
  /v1/restrooms:
    get:
      description: Get all restroom records ordered by date descending.
      operationId: getV1Restrooms
      parameters:
        - description: Page offset to fetch.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: Number of results to return per page.
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - description: Pad a number of results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: Only return restrooms that are ADA accessible.
          in: query
          name: ada
          required: false
          schema:
            type: boolean
        - description: Only return restrooms that are unisex.
          in: query
          name: unisex
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Get all restroom records ordered by date descending.
      tags:
        - restrooms
  /v1/restrooms/by_date:
    get:
      description: Search for restroom records updated or created on or after a given date
      operationId: getV1RestroomsByDate
      parameters:
        - description: Page offset to fetch.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: Number of results to return per page.
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - description: Pad a number of results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: Only return restrooms that are ADA accessible.
          in: query
          name: ada
          required: false
          schema:
            type: boolean
        - description: Only return restrooms that are unisex.
          in: query
          name: unisex
          required: false
          schema:
            type: boolean
        - description: Return restroom records updated (rather than created) since given
            date
          in: query
          name: updated
          required: false
          schema:
            type: boolean
        - description: Day
          in: query
          name: day
          required: true
          schema:
            type: integer
            format: int32
        - description: Month
          in: query
          name: month
          required: true
          schema:
            type: integer
            format: int32
        - description: Year
          in: query
          name: year
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Search for restroom records updated or created on or after a given
            date
      tags:
        - restrooms
  /v1/restrooms/by_location:
    get:
      description: Search by location.
      operationId: getV1RestroomsByLocation
      parameters:
        - description: Page offset to fetch.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: Number of results to return per page.
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - description: Pad a number of results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: Only return restrooms that are ADA accessible.
          in: query
          name: ada
          required: false
          schema:
            type: boolean
        - description: Only return restrooms that are unisex.
          in: query
          name: unisex
          required: false
          schema:
            type: boolean
        - description: latitude
          in: query
          name: lat
          required: true
          schema:
            type: number
            format: float
        - description: longitude
          in: query
          name: lng
          required: true
          schema:
            type: number
            format: float
      responses:
        "200":
          description: Search by location.
      tags:
        - restrooms
  /v1/restrooms/search:
    get:
      description: Perform full-text search of restroom records.
      operationId: getV1RestroomsSearch
      parameters:
        - description: Page offset to fetch.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: Number of results to return per page.
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - description: Pad a number of results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: Only return restrooms that are ADA accessible.
          in: query
          name: ada
          required: false
          schema:
            type: boolean
        - description: Only return restrooms that are unisex.
          in: query
          name: unisex
          required: false
          schema:
            type: boolean
        - description: Your search query.
          in: query
          name: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Perform full-text search of restroom records.
      tags:
        - restrooms
servers:
  - url: http://www.refugerestrooms.org/api
