openapi: 3.0.0
info:
  contact:
    email: admin@spinbot.net
    name: Hieu Nguyen
    url: http://spinbot.net
  description: "Spinbot.net propose a new solution based on high technologies for faster
    article spinner and extractor that you will love to use it. "
  termsOfService: http://spinbot.net/terms-and-conditions
  title: Article Rewriter and Article Extractor
  version: "1.0"
  x-logo:
    url: https://logo-core.clearbit.com/spinbot.net
  x-origin:
    - format: swagger
      url: http://spinbot.net/spinbot_api_swagger.yaml
      version: "2.0"
  x-providerName: spinbot.net
externalDocs:
  url: http://spinbot.net/api-documentation
security:
  - key: []
tags:
  - description: "Article rewriter (spinner): rewrite your origin article by replacing
      every terms/words to their synonyms. Our program will try its best to
      detect as many words that can be replaced as possible. So that you will
      never care about the plagiarism checkers. "
    externalDocs:
      url: http://spinbot.net/api-documentation
    name: article rewriter
  - description: "Article extractor: a lot of techniques and mordern algorithms like
      machine learning are used to detect the main article content in your given
      url. It's an automated tool to scrape and collect articles. It will reduce
      your time to collect data and keywords for you websites to improve their
      ranks."
    externalDocs:
      url: http://spinbot.net/api-documentation
    name: article extractor
paths:
  /api/acc:
    get:
      description: Return the user credit information.
      operationId: getInfo
      parameters:
        - description: Your api key
          in: query
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: success
          content:
            "*/*":
              schema: {}
      summary: Return the user credit information.
  /api/article:
    post:
      description: Extracting the main article of the given URL. The response is in JSON
        format.
      operationId: postArticle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  description: Your spinbot API key
                  type: string
                url:
                  description: The url of target article
                  type: string
                faster_mode:
                  description: you can set this input value to 1 to skip detecting the size
                    (width and height in pixel) of all the images inside the
                    extracted article. The response time of your request will be
                    shortened if you set this input value to 1.
                  type: string
              required:
                - key
                - url
      responses:
        default:
          description: Default response
          content:
            "*/*":
              schema: {}
      summary: Extracting the main article of the given URL.
  /api/spinner:
    post:
      description: Rewriting (spinning) you input article. The response is in JSON format.
      operationId: postSpiner
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  description: Your spinbot API key
                  type: string
                text:
                  description: Input article that need to be rewrited.
                  type: string
              required:
                - key
                - text
      responses:
        default:
          description: Default response
          content:
            "*/*":
              schema: {}
      summary: Rewriting (spinning) you input article.
  /api/spintax:
    post:
      description: Generate Spintax format for the input article, so you can rewrite it
        yourself. The response is in JSON format.
      operationId: postSpintax
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  description: Your spinbot API key
                  type: string
                text:
                  description: Input article that need to be rewritten.
                  type: string
                full_mode:
                  description: Full mode option.
                  type: string
              required:
                - key
                - text
      responses:
        default:
          description: Default response
          content:
            "*/*":
              schema: {}
      summary: Generate Spintax format for the input article
servers:
  - url: http://api.spinbot.net/
components:
  securitySchemes:
    key:
      in: query
      name: key
      type: apiKey
