openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: MLB v3 RotoBaller Articles
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/mlb-v3-rotoballer-articles.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: mlb-v3-rotoballer-articles
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/RotoBallerArticles":
    get:
      operationId: RotoballerArticles
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
      summary: RotoBaller Articles
  "/{format}/RotoBallerArticlesByDate/{date}":
    get:
      operationId: RotoballerArticlesByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
      summary: RotoBaller Articles By Date
  "/{format}/RotoBallerArticlesByPlayerID/{playerid}":
    get:
      operationId: RotoballerArticlesByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
      summary: RotoBaller Articles By Player
servers:
  - url: http://api.sportsdata.io
  - url: https://api.sportsdata.io
  - url: http://api.fantasydata.net
  - url: https://api.fantasydata.net
components:
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: subscription-key
      type: apiKey
  schemas:
    Article:
      properties:
        ArticleID:
          type: integer
        Author:
          type: string
        Content:
          type: string
        Players:
          items:
            $ref: "#/components/schemas/PlayerInfo"
          type: array
        Source:
          type: string
        TermsOfUse:
          type: string
        Title:
          type: string
        Updated:
          type: string
        Url:
          type: string
    PlayerInfo:
      properties:
        Name:
          type: string
        PlayerID:
          type: integer
        Position:
          type: string
        Team:
          type: string
        TeamID:
          type: integer
