openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NASCAR v2
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nascar-v2.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nascar-v2
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/DriverRaceProjections/{raceid}":
    get:
      operationId: DriverRaceProjectionsEntryList
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            Unique FantasyData Race ID.
            Example:<code>1</code>, <code>2</code>, etc.
          in: path
          name: raceid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DriverRaceProjection"
                type: array
      summary: Driver Race Projections (Entry List)
  "/{format}/driver/{driverid}":
    get:
      operationId: DriverDetails
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            Unique FantasyData Driver ID.
            Example:<code>80000268</code>.
          in: path
          name: driverid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
      summary: Driver Details
  "/{format}/drivers":
    get:
      operationId: Drivers
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Driver"
                type: array
      summary: Drivers
  "/{format}/raceresult/{raceid}":
    get:
      operationId: RaceResults
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            Unique FantasyData Race ID.
            Example:<code>1</code>, <code>2</code>, etc.
          in: path
          name: raceid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaceResult"
      summary: Race Results
  "/{format}/races/{season}":
    get:
      operationId: RacesSchedule
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
        - description: |-
            Year of the season.
            <br>Examples: <code>2015</code>, <code>2016</code>.
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Race"
                type: array
      summary: Races / Schedule
  "/{format}/series":
    get:
      operationId: Series
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
            enum:
              - xml
              - json
            default: xml
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Series"
                type: array
      summary: Series
servers:
  - url: http://api.sportsdata.io
  - url: https://api.sportsdata.io
  - url: http://api.fantasydata.net
  - url: https://api.fantasydata.net
components:
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: subscription-key
      type: apiKey
  schemas:
    Driver:
      properties:
        BirthDate:
          type: string
        BirthPlace:
          type: string
        Chassis:
          type: string
        Created:
          type: string
        CrewChief:
          type: string
        DriverID:
          type: integer
        Engine:
          type: string
        FirstName:
          type: string
        Gender:
          type: string
        Height:
          type: integer
        LastName:
          type: string
        Manufacturer:
          type: string
        Number:
          type: integer
        NumberDisplay:
          type: string
        PhotoUrl:
          type: string
        Sponsors:
          type: string
        Team:
          type: string
        Updated:
          type: string
        Weight:
          type: integer
    DriverRace:
      properties:
        Bonus:
          type: number
        Created:
          type: string
        DateTime:
          type: string
        Day:
          type: string
        DraftKingsSalary:
          type: integer
        DriverID:
          type: integer
        FantasyPoints:
          type: number
        FantasyPointsDraftKings:
          type: number
        FastestLaps:
          type: number
        FinalPosition:
          type: number
        Laps:
          type: number
        LapsLed:
          type: number
        Manufacturer:
          type: string
        Name:
          type: string
        Number:
          type: integer
        NumberDisplay:
          type: string
        Penalty:
          type: number
        Points:
          type: number
        PoleFinalPosition:
          type: number
        Poles:
          type: number
        PositionDifferential:
          type: number
        QualifyingSpeed:
          type: number
        RaceID:
          type: integer
        Season:
          type: integer
        StartPosition:
          type: number
        StatID:
          type: integer
        Updated:
          type: string
        Wins:
          type: number
    DriverRaceProjection:
      properties:
        Bonus:
          type: number
        Created:
          type: string
        DateTime:
          type: string
        Day:
          type: string
        DraftKingsSalary:
          type: integer
        DriverID:
          type: integer
        FantasyPoints:
          type: number
        FantasyPointsDraftKings:
          type: number
        FastestLaps:
          type: number
        FinalPosition:
          type: number
        Laps:
          type: number
        LapsLed:
          type: number
        Manufacturer:
          type: string
        Name:
          type: string
        Number:
          type: integer
        NumberDisplay:
          type: string
        Penalty:
          type: number
        Points:
          type: number
        PoleFinalPosition:
          type: number
        Poles:
          type: number
        PositionDifferential:
          type: number
        QualifyingSpeed:
          type: number
        RaceID:
          type: integer
        Season:
          type: integer
        StartPosition:
          type: number
        StatID:
          type: integer
        Updated:
          type: string
        Wins:
          type: number
    Race:
      properties:
        Broadcast:
          type: string
        Created:
          type: string
        DateTime:
          type: string
        Day:
          type: string
        IsInProgress:
          type: boolean
        IsOver:
          type: boolean
        Name:
          type: string
        PoleWinnerID:
          type: integer
        RaceID:
          type: integer
        RescheduledDateTime:
          type: string
        RescheduledDay:
          type: string
        Season:
          type: integer
        SeriesID:
          type: integer
        SeriesName:
          type: string
        Track:
          type: string
        Updated:
          type: string
        WinnerID:
          type: integer
    RaceResult:
      properties:
        DriverRaces:
          items:
            $ref: "#/components/schemas/DriverRace"
          type: array
        Race:
          $ref: "#/components/schemas/Race"
    Series:
      properties:
        Name:
          type: string
        SeriesID:
          type: integer
