openapi: 3.0.0
info:
  contact:
    x-twitter: wso2
  description: This API provides XML to JSON, JSON to XML transformations.
  title: Transform
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://twitter.com/wso2/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://developers.wso2apistore.com/api-docs/manjular-AT-wso2.com-AT-developer/Transform/1.0.0
      version: "2.0"
  x-providerName: wso2apistore.com
  x-serviceName: transform
paths:
  /jsontoxml:
    post:
      requestBody:
        content:
          application/json:
            schema:
              default: '{"foo":"bar"}'
              type: string
        description: JSON payload
        required: true
      responses:
        "200":
          description: ""
      x-auth-type: None
      x-throttling-tier: Unlimited
  /xmltojson:
    post:
      requestBody:
        content:
          text/xml:
            schema:
              default: <foo>bar</foo>
              type: string
        description: XML payload
        required: true
      responses:
        "200":
          description: ""
      x-auth-type: None
      x-throttling-tier: Unlimited
servers:
  - url: https://gateway.wso2apistore.com/transform/1.0.0
  - url: http://gateway.wso2apistore.com/transform/1.0.0
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.cloud.wso2.com/authorize
          scopes: {}
